{% include "includes/header.html" %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/textarea/macro.njk" import govukTextarea %}
{% from "govuk/components/character-count/macro.njk" import govukCharacterCount %}

{% block content %}




<main class="govuk-main-wrapper " id="main-content" role="main">
  
  
  <div class="navigation">
  <a href="/transactions/assent/tasks" class="govuk-back-link return-to-task-list">Return to task list</a>
</div>
<span class="govuk-caption-l">Assent</span>


<form method="post" action="/transactions/assent/document-prompts" data-validate="confirm-name-form-validation" novalidate>

  <div class="govuk-width-container">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        {{ govukCharacterCount({
          id: "additional-provisions",
          name: "ladditional-provisions",
          maxlength: 5000,
          rows: "8",
          label: {
            text: "Additional provisions (optional)",
            classes: "govuk-label--l",
            isPageHeading: true
          },
          hint: {
            text: "Enter the details of any additional covenants or agreements between transferor and transferees."
          }
        }) }}
        {{ govukButton({
          classes: "",
          text: "Continue to next step"
          }) }}
        
          {{ govukButton({
            classes: "govuk-button--secondary",
            text: "Confirm and return to task list",
            href: "tasks"
          }) }}
      </div>
  </div>
  </div>
  
 


</form>

</main>

{% endblock %}

{% block hmlrFooter %}
  {% include "includes/footer.html" %}
{% endblock %}