{% include "includes/header.html" %}

{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/button/macro.njk" import govukButton %}


{% block content %}

<main class="govuk-main-wrapper " id="main-content" role="main">
  
<div class="navigation">
  <a href="/transactions/assent/tasks" class="govuk-back-link return-to-task-list">Return to task list</a>
</div>

<h1 class="govuk-heading-l"><span class="govuk-caption-l">Assent</span>Confirm name of the deceased proprietor</h1>

<form method="post" action="/transactions/assent/deceased-proprietor-confirmation" data-validate="confirm-name-form-validation" novalidate>
  {{ govukCheckboxes({
    error: {
      text: "Confirm name of deceased proprietor"
    },
    items: [
      {
        value: "deceasedProprietor1",
        text: "Joe Bloggs"
      }
    ]
  }) }}

<br>

{{ govukButton({
classes: "",
text: "Continue to next step"
}) }}

{{ govukButton({
  classes: "govuk-button--secondary",
  text: "Confirm and return to task list",
  href: "tasks"
}) }}
</form>

</main>
{% endblock %}

{% block hmlrFooter %}
  {% include "includes/footer.html" %}
{% endblock %}