{% include "includes/header.html" %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/select/macro.njk" import govukSelect %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/details/macro.njk" import govukDetails %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}
{% from "govuk/components/date-input/macro.njk" import govukDateInput %}

{% block content %}

<main class="govuk-main-wrapper " id="main-content" role="main">
  

<div class="navigation">
  <a href="/transactions/assent/tasks" class="govuk-back-link return-to-task-list">Return to task list</a>
</div>

<div>
  <span class="govuk-caption-l">Assent</span>
  <h1 class="govuk-heading-l">Confirm date of assent</h1>
</div>

<form method="post" action="/transactions/assent/assent-date-confirmation" data-validate="assent-date-form-validation" novalidate>

  {{ govukDateInput({
    id: "charge-date",
    class:"govuk-input",
    name: "charge-date",
    hint: {
      text: "For example, 12 11 2007"
    }
  }) }}

  <br>


  {{ govukButton({
    classes: "",
    text: "Continue to next step"
    }) }}
  
    {{ govukButton({
      classes: "govuk-button--secondary",
      text: "Confirm and return to task list",
      href: "tasks"
    }) }}
</form>

</main>
        <script type="application/json" id="assent-date-form-validation">
         // {
         //   "assent-date": {
         //     "presence": {
         //       "message": "^Enter assent date"
         //     }
         //   }
         // }
        </script>

{% endblock %}

{% block hmlrFooter %}
  {% include "includes/footer.html" %}
{% endblock %}