{% include "includes/header.html" %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/tabs/macro.njk" import govukTabs %}
{% from "govuk/components/table/macro.njk" import govukTable %}

{% block content %}

<main class="govuk-main-wrapper " id="main-content" role="main">
  
<div class="navigation">
  <a href="/transactions/assent/tasks" class="govuk-back-link return-to-task-list">Return to task list</a>
</div>

<div>
  
  <span class="govuk-caption-l">Assent</span>
  <h1 class="govuk-heading-l"> Attach and certify document </h1>
  
  <form method="post" action="document-uploaded">

<div>
  
  <p class="govuk-body">Files can be GIF, TIFF, JPG or PDF and must not exceed 20MB file size.</p>

  <label class="govuk-label" for="document_type">
    Select a document type for each file you attach
  </label>
<select class="govuk-select govuk-select govuk-!-width-one-half" id="document_type" name="document_type">
  <option>Select document type</option>
  <option>Probate</option>
  <option>Letters of Administration</option>
  <option>Court order</option>
</select>

<div class="govuk-!-margin-top-7"></div>
  <p class="govuk-body">Attach a file</p>

  <a href="#" type="file" id="suggested_upload" class="govuk-link--no-visited-state" onclick="fileupload()" style="cursor: pointer; text-decoration: none; font-size: 14px; color: black; border-style: solid;  border-width: 0.5px; padding: 5px; border-radius: 3px; position: absolute; ">Choose file</a>
  <a  style="margin-left: 100px;" class="govuk-body" id="filename" for="tr1-upload"> No file chosen </a>

</div>


  <h3 class="govuk-heading-s govuk-!-margin-top-6">Certification</h3>
  <div class="govuk-form-group">
  <fieldset class="govuk-fieldset">
    <div class="govuk-radios govuk-!-width-two-thirds">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="Certified-1" name="cert" value="Certified" type="radio">
        <label class="govuk-label govuk-radios__label">
          I/we certify this is a true copy of an original document
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="Certified-2" name="cert" value="Certified" type="radio">
        <label class="govuk-label govuk-radios__label">
          I/we certify this attachment is a true copy of an original document which is certified by a conveyancer to be a true copy of the original
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="Certified-3" name="cert" value="Not certified" type="radio">
        <label class="govuk-label govuk-radios__label">
          This attachment is an uncertified copy
        </label>
      </div>
    </div>
  </fieldset>
  </div>


  <button type="submit" role="button" draggable="false" class="govuk-button" data-module="govuk-button">
    Continue
  </button>


</form>
      <footer>
      <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
      <hr style= "height: 7px;  background: #b4d307 linear-gradient(-60deg,#b4d307,#b4d307 50%,#d7e900 0,#d7e900); border: none;">
      <br>
      <p class="govuk-body-s" style="color: #747B7F"> The following links open in a new window
      <br>
      <br>
      <a href="#" style="color: #747B7F"> Terms and conditions</a> | <a href="/setup/accessibility-statement" target="_blank" rel="noopener noreferrer" style="color: #747B7F">Accessibility statement</a> |  <a href="#" style="color: #747B7F">Freedom of information</a> | <a href="#" style="color: #747B7F">© Crown copyright</a></p>
      </div>
      </div>
      </footer>

</div>

</main>

<script>
  function fileupload() {

  $(document).ready(function(){
    $("a").click(function(){
      $(document.getElementById('filename')).text("TR1.pdf");
    });
  });

}

</script>



{% endblock %}


{% block footer %}
{% endblock %}

{% block bodyEnd %}
  {% include "includes/scripts.html" %}
{% endblock %}
