{% include "includes/header.html" %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/select/macro.njk" import govukSelect %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/details/macro.njk" import govukDetails %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "govuk/components/textarea/macro.njk" import govukTextarea %}
{% from "govuk/components/character-count/macro.njk" import govukCharacterCount %}

{% block content %}

<main class="govuk-main-wrapper " id="main-content" role="main">
  

<div class="navigation">
  <a href="/transactions/assent/tasks" class="govuk-back-link return-to-task-list">Return to task list</a>
</div>

<div>
  <span class="govuk-caption-l">Assent</span>
  <h1 class="govuk-heading-l">Who is representing 
    {{ data['applicant-individual-forename'] }} {{ data['applicant-individual-surname'] }}?
  </h1>
<form method="post" action="/transactions/assent/transferee-representation">
  <div class="govuk-grid-column-two-thirds">
    <div class="govuk-form-group">
<!--
      <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">

        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="transfereeRepresentation-conditional" name="transfereeRepAnswer" type="radio" value="thisConveyancer">
          <label class="govuk-label govuk-radios__label" for="transfereeRepresentation-conditional">UK Conveyancers Ltd</label>
        </div>

      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="transfereeRepresentation-conditional-2" name="transfereeRepAnswer" type="radio" value="otherConveyancer">
        <label class="govuk-label govuk-radios__label" for="transfereeRepresentation-conditional-2">
          Other conveyancer
        </label>
      </div>
          <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-transfereeRepresentation-conditional-2">
            <div class="govuk-form-group">
              <label class="govuk-label" for="transfereeRepresentation-name">Full name</label>
              <input class="govuk-input govuk-!-width-two-thirds" id="transfereeRepresentation-name" name="transfereeRepresentation-name" type="text">

              <label class="govuk-label" for="transfereeRepresentation-address">Registered address</label>
              <textarea class="govuk-textarea govuk-!-width-two-thirds" rows="5" id="transfereeRepresentation-address" name="transfereeRepresentation-address"></textarea>

              <div class="govuk-character-count" data-module="govuk-character-count" data-maxlength="25">
              <label class="govuk-label" for="transfereeRepresentation-reference">Conveyancer reference</label>
              <input class="govuk-input govuk-js-character-count govuk-!-width-one-half" id="transfereeRepresentation-reference" name="transfereeRepresentation-reference" type="text">
              <span id="with-hint-info" class="govuk-hint govuk-character-count__message" aria-live="polite"></span>
              </div>

           </div>
          </div>

        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="transfereeRepresentation-conditional-3" name="transfereeRepAnswer" type="radio" value="noConveyancer" >
          <label class="govuk-label govuk-radios__label" for="transfereeRepresentation-conditional-3">Not represented by a conveyancer</label>
        </div>
      </div>
    </div> -->


    {% set otherTransfereeHtml %}
    {{ govukInput({
      id: "TransfereeOtherName",
      name: "TransfereeOtherName",
      classes: "govuk-!-width-two-thirds",
      label: {
        text: "Full name"
      }
    }) }}

    {{ govukTextarea({
      id: "TransfereeOtherAddress",
      name: "TransfereeOtherAddress",
      classes: "govuk-!-width-two-thirds",
      rows: "5",
      label: {
        text: "Registered address"
      }
    }) }}


    {{ govukCharacterCount({
  name: "OtherConveyancerReference",
  id: "OtherConveyancerReference",
   rows: "1",
  classes: "govuk-!-width-two-thirds",
  maxlength: 25,
  label: {
    text: "Conveyancer reference"
  }
}) }}

    {% endset -%}

    {{ govukRadios({
      name: "TransfereeRepresentation",

      items: [
        {
          value: "UKConveyancersLtd",
          text: "UK Conveyancers Ltd",
          name: "TransfereeRepresentation"
          },

        {
          value: "OtherConveyancer",
          text: "Other conveyancer",
          name: "TransfereeRepresentation",
          conditional: {
            html: otherTransfereeHtml
          }
        },
        {
          value: "NotRepresented",
          name: "TransfereeRepresentation",
          text: "Not represented by a conveyancer"
        }
      ]
    }) }}


        {{ govukCheckboxes({
          idPrefix: "represents-all",
          name: "represents-all",
          classes: "govuk-checkboxes",
          fieldset: {

          },
          items: [
            {
              value: "This applies to all transferees (optional)",
              text: "This applies to all transferees (optional)",
              hint: {
                text: "This replaces any conveyancer details previously added"
                }
            }
          ]
        }) }}

      
      <div class="govuk-!-margin-top-5">
        {{ govukButton({
        classes: "",
        text: "Continue to next step"
        }) }}
      
        {{ govukButton({
          classes: "govuk-button--secondary",
          text: "Confirm and return to task list",
          href: "tasks"
        }) }}
      </div>
      
      </div>

</form>
</div>

</main>

  {% endblock %}
{% block hmlrFooter %}
  {% include "includes/footer.html" %}
{% endblock %}
