{% include "includes/header.html" %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/select/macro.njk" import govukSelect %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/details/macro.njk" import govukDetails %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}
{% from "govuk/components/table/macro.njk" import govukTable %}

{% block content %}

<main class="govuk-main-wrapper " id="main-content" role="main">
  
<div class="navigation">
  <a href="/transactions/assent/tasks" class="govuk-back-link return-to-task-list">Return to task list</a>
</div>

<div>
    <span class="govuk-caption-l">Assent</span>
    <h1 class="govuk-heading-l">Add address for service for {{ data['applicant-individual-forename']}} {{ data['applicant-individual-surname']}}</h1>
  

    <form method="post" action="transferee-address-answer">

  <div class="govuk-form-group">
  <fieldset class="govuk-fieldset">
    <div class="govuk-radios">

      <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="transfereeAddressType-conditional" name="transfereeAddressType" type="radio" value="property" data-aria-controls="conditional-transfereeAddressType-conditional">
        <label class="govuk-label govuk-radios__label" for="transfereeAddressType-conditional">
          Property description: 66 Edwards Walk, Littlehaxten, LH12 9PJ
        </label>
      </div>
      <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-transfereeAddressType-conditional">
        <div class="govuk-form-group">
          <div class="govuk-checkboxes__item">
       <input class="govuk-checkboxes__input" id="propertyapplyall" name="applyall" type="checkbox" value="true">
       <label class="govuk-label govuk-checkboxes__label" for="propertyapplyall">
         Apply to all transferees
       </label>
     </div>
        </div>
        </div>
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="select-address-type" name="transfereeAddressType" type="radio" value="UK-postal">
          <label class="govuk-label govuk-radios__label" for="select-address-type">
        UK postal address
      </label>
        </div>

        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="select-address-type-2" name="transfereeAddressType" type="radio" value="Overseas-postal">
          <label class="govuk-label govuk-radios__label" for="select-address-type-2">
        Overseas postal address
      </label>
        </div>

        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="select-address-type-3" name="transfereeAddressType" type="radio" value="PO-box">
          <label class="govuk-label govuk-radios__label" for="select-address-type-3">
        PO Box (postal address)
      </label>
        </div>

        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="select-address-type-4" name="transfereeAddressType" type="radio" value="email">
          <label class="govuk-label govuk-radios__label" for="select-address-type-4">
        Email address
      </label>
        </div>

        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="select-address-type-5" name="transfereeAddressType" type="radio" value="DX">
          <label class="govuk-label govuk-radios__label" for="select-address-type-5">
          DX address
          </label>
        </div>

        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="select-address-type-6" name="transfereeAddressType" type="radio" value="BFPO">
            <label class="govuk-label govuk-radios__label" for="select-address-type-6">
            BFPO postal address (armed forces)
            </label>
        </div>
  </div>
    </fieldset>
  </div>



{{ govukButton({
  classes: "govuk-!-margin-top-9",
  text: "Continue",
  type: "Submit",
  value: "Submit"
}) }}

</form>

</div>

</main>
{% endblock %}

{% block hmlrFooter %}
  {% include "includes/footer.html" %}
{% endblock %}