{% extends "drs-layout.html" %}


{% block content %}
<style>
  .down {
    background-image: none;
  }
</style>
<form method="post" action="#"
  data-validate="select-form-validation" novalidate>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds ">
      <span class="govuk-caption-l"></span>

      <h1 class="govuk-heading-xl">Add another transaction</h1>

    </div>

    <div class="govuk-grid-column-one-half">
      <div class="govuk-form-group">
        <!--<label class="govuk-hint" for="Select_transaction{{n}}">
          Priority 1
        </label>-->
         <!--js-select-autocomplete-->
        <select class="govuk-select" id="Select_transaction{{n}}" name="Transaction1" required>
          <option selected>
            <!--Type to search-->
          </option>
          <option value="1st notice of adverse possession (ADV1)">1st notice of adverse possession (ADV1)</option>
          <option value="Acquisition of right to manage">Acquisition of right to manage </option>
          <option value="Adverse possession: notification (ADV2) ">Adverse possession: notification (ADV2) </option>
          <option value="Agreed maximum amount of security (CH3)">Agreed maximum amount of security (CH3)</option>
          <option value="Agreed notice (AN1)">Agreed notice (AN1)</option>
          <option value="Amendment of unilateral notice (UN3)">Amendment of unilateral notice (UN3)</option>
          <option value="Amendment to title plan ">Amendment to title plan </option>
          <option value="Appointment of liquidator (compulsory winding up) ">Appointment of liquidator (compulsory winding up) </option>
          <option value="Appointment of liquidator (creditor's voluntary winding up)">Appointment of liquidator (creditor's voluntary winding up)</option>
          <option value="Appointment of liquidator (members' voluntary winding up)">Appointment of liquidator (members' voluntary winding up)</option>
          <option value="Appointment of new trustee">Appointment of new trustee</option>
          <option value="Apportionment of rent">Apportionment of rent</option>
          <option value="Assent">Assent</option>
          <option value="Assent of charge">Assent of charge</option>
          <option value="Bankruptcy notice/Creditors' notice ">Bankruptcy notice/Creditors' notice </option>
          <option value="Bankruptcy restriction/Bankruptcy inhibition ">Bankruptcy restriction/Bankruptcy inhibition </option>
          <option value="Cancellation of a caution (CCD)">Cancellation of a caution (CCD)</option>
          <option value="Cancellation of bankruptcy notice">Cancellation of bankruptcy notice</option>
          <option value="Cancellation of bankruptcy restriction">Cancellation of bankruptcy restriction</option>
          <option value="Cancellation of home rights (HR4)">Cancellation of home rights (HR4)</option>
          <option value="Cancellation of inhibition (RX3)">Cancellation of inhibition (RX3)</option>
          <option value="Cancellation of noted lease (CN1)">Cancellation of noted lease (CN1)</option>
          <option value="Cancellation of notice (not unilateral) (CN1)">Cancellation of notice (not unilateral) (CN1)
          </option>
          <option value="Cancellation of notice of unreg. Rentcharge">Cancellation of notice of unreg. Rentcharge
          </option>
          <option value="Cancellation of restriction (RX3)">Cancellation of restriction (RX3)</option>
          <option value="Cancellation of unilateral notice (UN4)">Cancellation of unilateral notice (UN4)</option>
          <option value="Caution amendment, new cautioner ">Caution amendment, new cautioner </option>
          <option value="Change of address for service">Change of address for service</option>
          <option value="Change of address for service - chargee">Change of address for service - chargee</option>
          <option value="Change of name">Change of name</option>
          <option value="Change of name - chargee">Change of name - chargee</option>
          <option value="Change of property description ">Change of property description</option>
          <option value="Charge of Part">Charge of Part</option>
          <option value="Charge">Charge</option>
          <option value="Charging order - Agreed notice (AN1)">Charging order - Agreed notice (AN1)</option>
          <option value="Charging order - Unilateral notice (UN1)">Charging order - Unilateral notice (UN1)</option>
          <option value="Commonhold transitional dealing ">Commonhold transitional dealing </option>
          <option value="Consolidation of charge">Consolidation of charge</option>
          <option value="Death of a joint proprietor (DJP)">Death of a joint proprietor (DJP)</option>
          <option value="Death of a sole proprietor">Death of a sole proprietor</option>
          <option value="Deed of grant of easement">Deed of grant of easement</option>
          <option value="Deed of rectification">Deed of rectification</option>
          <option value="Deed of variation of a lease - not increasing the term of or adding new land to the extent demised">Deed of variation of a lease - not increasing the term of or adding new land to the extent demised</option>
          <option value="Defect in title s64(1) LRA 2002">Defect in title s64(1) LRA 2002</option>
          <option value="Determined boundary (DB)">Determined boundary (DB)</option>
          <option value="Disapplication of restriction (RX2)">Disapplication of restriction (RX2)</option>
          <option value="Discharge (DS1)">Discharge of charge</option>
          <option value="Discharge of part">Discharge of part</option>
          <option value="Disclaimer - notice">Disclaimer - notice</option>
          <option value="Disclaimer - notification">Disclaimer - notification</option>
          <option value="Dispositionary first lease shared ownership lease">Dispositionary first lease shared ownership lease</option>
          <option value="Extinguishment of rentcharge">Extinguishment of rentcharge</option>
          <option value="Form ll restriction entered - simple request">Form ll restriction entered - simple request
          </option>
          <option value="Lease closure - by disclaimer">Lease closure - by disclaimer</option>
          <option value="Lease closure - by effluxion of time">Lease closure - by effluxion of time</option>
          <option value="Lease closure - by notice">Lease closure - by notice</option>
          <option value="Lease closure - forfeiture">Lease closure - forfeiture</option>
          <option value="Lease closure - merger with reversionary estate">Lease closure - merger with reversionary estate</option>
          <option value="Lease closure - of assured tenancies following court order">Lease closure - of assured tenancies following court order</option>
          <option value="Lease closure - on enlargement">Lease closure - on enlargement</option>
          <option value="Lease closure - on frustration">Lease closure - on frustration</option>
          <option value="Lease closure - surrender by deed">Lease closure - surrender by deed</option>
          <option value="Lease closure - surrender by deed (not for monetary consideration)">Lease closure - surrender by deed (not for monetary consideration)</option>
          <option value="Lease closure - surrender by operation of law">Lease closure - surrender by operation of law</option>
          <option value="Lease closure - surrender by operation of law (not for monetary consideration)">Lease closure - surrender by operation of law (not for monetary consideration)</option>
          <option value="Modify a restriction (RX2)">Modify a restriction (RX2)</option>
          <option value="Notice of home rights (HR1)">Notice of home rights (HR1)</option>
          <option value="Notice of rentcharge">Notice of rentcharge</option>
          <option value="Notification of dissolution of company">Notification of dissolution of company</option>
          <option value="Noting a lease">Noting a lease</option>
          <option value="Noting an easement ">Noting an easement </option>
          <option value="Noting of a profit">Noting of a profit</option>
          <option value="Noting of an affecting franchise">Noting of an affecting franchise</option>
          <option value="Obligation to make further advances (CH2)">Obligation to make further advances (CH2)</option>
          <option value="Personal covenants">Personal covenants</option>
          <option value="Postponement of charge">Postponement of charge</option>
          <option value="Provisions">Provisions</option>
          <option value="Release of covenants - agreed notice (AN1)">Release of covenants - agreed notice (AN1)</option>
          <option value="Release of covenants - cancellation (CN1)">Release of covenants - cancellation (CN1)</option>
          <option value="Release of covenants - unilateral notice (UN1)">Release of covenants - unilateral notice (UN1)
          </option>
          <option value="Release of easements">Release of easements</option>
          <option value="Removal of a right to determine">Removal of a right to determine</option>
          <option value="Removal of unilateral notice (UN2)">Removal of unilateral notice (UN2)</option>
          <option value="Renewal of home rights (HR2)">Renewal of home rights (HR2)</option>
          <option value="Restriction (non-standard wording) (RX1)">Restriction (non-standard wording) (RX1)</option>
          <option value="Restriction (standard wording) (RX1)">Restriction (standard wording) (RX1)</option
          <option value="Restrictive covenants - entry of">Restrictive covenants - entry of</option>
          <option value="Severance of joint tenancy (SEV, RX1)">Severance of joint tenancy (SEV, RX1)</option>
          <option value="Shared ownership - additional share">Shared ownership - additional share</option>
          <option value="Statutory vestings charge">Statutory vestings charge</option>
          <option value="Statutory vestings land">Statutory vestings land</option>
          <option value="Sub charge">Sub charge</option>
          <option value="Termination of commonhold">Termination of commonhold</option>
          <option value="Transfer by operation of law on death">Transfer by operation of law on death</option>
          <option value="Transfer for value ">Transfer for value</option>
          <option value="Transfer for value RTB/RTA">Transfer for value RTB/RTA</option>
          <option value="Transfer not for value ">Transfer not for value</option>
          <option value="Transfer of charge">Transfer of charge</option>
          <option value="Transfer of share for value">Transfer of share for value</option>
          <option value="Transfer of share not for value">Transfer of share not for value</option>
          <option value="Transfer subject to a charge for value">Transfer subject to a charge for value</option>
          <option value="Transfer subject to a charge not for value">Transfer subject to a charge not for value</option>
          <option value="Transfer under power of sale">Transfer under power of sale</option>
          <option value="Unilateral notice (UN1)">Unilateral notice (UN1)</option>
          <option value="Upgrade class of title (UT1)">Upgrade class of title (UT1)</option>
          <option value="Variation of charge">Variation of charge</option>
          <option value="Variation of covenants">Variation of covenants</option>
          <option value="Variation of covenants - agreed notice (AN1)">Variation of covenants - agreed notice (AN1)
          </option>
          <option value="Variation of covenants - unilateral notice (UN1)">Variation of covenants - unilateral notice
            (UN1)</option>
          <option value="Variation of easements">Variation of easements</option>
          <option value="Variation of easements - agreed notice (AN1)">Variation of easements - agreed notice (AN1)
          </option>
          <option value="Variation of easements - unilateral notice (UN1)">Variation of easements - unilateral notice
            (UN1)</option>
          <option value="Variation of lease">Variation of lease</option>
          <option value="Variation of lease - agreed notice (AN1)">Variation of lease - agreed notice (AN1)</option>
          <option value="Variation of lease - unilateral notice (UN1)">Variation of lease - unilateral notice (UN1)
          </option>
          <option value="Vesting order">Vesting order</option>
          <option value="Withdraw a restriction (RX4)">Withdraw a restriction (RX4)</option>
          <option value="Withdraw a caution (WCT)">Withdraw a caution (WCT)</option>
        </select>
      </div>
      </div>

    <div class="govuk-grid-column-full govuk-!-margin-top-5">

      {{ govukButton({
      classes: "",
      text: "Continue",
      href: "check-transactions-2"
      }) }}

    </div>

  </div>

</form>

{% endblock %}



{% block bodyEnd %}
{% include "includes/scripts.html" %}
{% endblock %}
