{% extends "drs-layout.html" %}

{% block content %}
<style>
  .govuk-table__header{
    width: 80%;
  }
</style>
<div class="govuk-grid-row">


<div class="govuk-grid-column-full">
  <span class="govuk-caption-l"></span>
    <h1 class="govuk-heading-xl">Complete your application</h1>
    <br>

    <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Your reference</th>
          <td scope="col" class="govuk-table__cell">test<!--{{ data['reference'] }}--></td>
          <td scope="col" class="govuk-table__cell"><a style="float: right;" href="/setup/change-reference">Change</a></td>
        </tr>
      </thead>


      <!-- <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Title number(s)</th>
              <td scope="row" class="govuk-table__cell">ABC123, ABC456</td>
              <td scope="row" class="govuk-table__cell"><a style="float: right;" href="/startpage-testing/MMP/transfer-part/titles-in-this-application-2">Change</a></td>
            </tr>

      </tbody> -->
    </table>

    <br><br>

    <h2 class="govuk-heading-l">Titles and transactions</h2>

    <p class="govuk-body-m">If you make changes to your titles or transactions, you may need to complete other sections again, or check that relevant information is still correct. </p>


    <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Title number</th>
          <th scope="col" class="govuk-table__header">Transactions</th>
          <th scope="col" class="govuk-table__header"><a class="govuk-link govuk-link--no-visited-state" href="titles-in-this-application-4">Change</a></th>

        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td scope="row" class="govuk-table__cell">ABC123,<br>EDC678,<br>YHU890,<br>BGT345</td>
          <td scope="row" class="govuk-table__cell">Discharge of charge</td>
          <td scope="row" class="govuk-table__cell"></td>
          <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="select-title-number"></a></td>
        </tr>
        <tr class="govuk-table__row">
          <td scope="row" class="govuk-table__cell">ABC123,<br>EDC678,<br>YHU890,<br>BGT345</td>
          <td scope="row" class="govuk-table__cell">Transfer for value</td>
          <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="titles-in-this-application-3"></a></td>
        </tr>
        <tr class="govuk-table__row">
          <td scope="row" class="govuk-table__cell">ABC123</td>
          <td scope="row" class="govuk-table__cell">Charge</td>
          <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="titles-in-this-application-3"></a></td>
        </tr>

      </tbody>
    </table>

</div>

<h2 class="govuk-heading-l">Add transaction details</h2>


    <div class="govuk-grid-column-full">

      <h2 class="govuk-heading-m govuk-!-padding-top-5">1.  Discharge of charge</h2>
    </div>


    <div class="govuk-grid-column-full" style="margin-left: 35px; width: 97%;">

    <table class="govuk-table govuk-!-width-two-thirds">
      <th scope="col" class="govuk-table__header">1.1 Add discharge details</th>
      <td class="govuk-table__cell"></td>
      <tbody class="govuk-table__body">

              <tr class="govuk-table__row">
              <td class="govuk-table__cell"><a href="9-attach-documents-surrender.html" class="govuk-link">Select discharge method</a></td>
              <td class="govuk-table__cell"><a href="9-attach-documents-surrender.html" class="govuk-link"></a></td>
              </tr>
              <tr class="govuk-table__row">
              <td class="govuk-table__cell"><a href="9-attach-documents-surrender.html" class="govuk-link">Enter existing lenders</a></td>
              <td class="govuk-table__cell"><a href="9-attach-documents-surrender.html" class="govuk-link"></a></td>
              </tr>

      </tbody>
    </table>

    <table class="govuk-table govuk-!-width-two-thirds">
      <th scope="col" class="govuk-table__header">1.2 Supporting documents</th>
      <td class="govuk-table__cell"></td>
      <tbody class="govuk-table__body">

        <tr class="govuk-table__row">
        <td class="govuk-table__cell"><a href="9-attach-documents-surrender.html" class="govuk-link">Attach documents</a></td>
        <td class="govuk-table__cell"><a href="9-attach-documents-surrender.html" class="govuk-link"></a></td>
        </tr>
      </tbody>
    </table>


  </div>

  <div class="govuk-grid-column-full">



    <div class="govuk-grid-column-full">

      <h2 class="govuk-heading-m govuk-!-padding-top-5">2. Transfer for value</h2>
  </div>


      <div class="govuk-grid-column-full" style="margin-left: 35px; width: 97%;">

      <table class="govuk-table govuk-!-width-two-thirds">
        <th scope="col" class="govuk-table__header">2.1 Supporting documents</th>
        <td class="govuk-table__cell"></td>
        <tbody class="govuk-table__body">

                <tr class="govuk-table__row">
                <td class="govuk-table__cell"><a href="9-attach-documents-new-lease.html" class="govuk-link">Attach documents</a></td>
                <td class="govuk-table__cell">{% if data['charge-date'] %}<strong class="govuk-tag app-task-list__task-completed" id="contact-details-completed">Completed</strong>{% endif %}</td>
                </tr>

        </tbody>
      </table>

      </div>

      <div class="govuk-grid-column-full">

        <h2 class="govuk-heading-m govuk-!-padding-top-5">3.  Charge</h2>
      </div>


      <div class="govuk-grid-column-full" style="margin-left: 35px; width: 97%;">

      <table class="govuk-table govuk-!-width-two-thirds">
        <th scope="col" class="govuk-table__header">3.1 Add charge details</th>
        <td class="govuk-table__cell"></td>
        <tbody class="govuk-table__body">

                <tr class="govuk-table__row">
                <td class="govuk-table__cell"><a href="9-attach-documents-surrender.html" class="govuk-link">Borrower details</a></td>
                <td class="govuk-table__cell"><a href="9-attach-documents-surrender.html" class="govuk-link"></a></td>
                </tr>
                <tr class="govuk-table__row">
                <td class="govuk-table__cell"><a href="9-attach-documents-surrender.html" class="govuk-link">Add borrower representation</a></td>
                <td class="govuk-table__cell"><a href="9-attach-documents-surrender.html" class="govuk-link"></a></td>
                </tr>
                <tr class="govuk-table__row">
                <td class="govuk-table__cell"><a href="9-attach-documents-surrender.html" class="govuk-link">Enter charge date</a></td>
                <td class="govuk-table__cell"><a href="9-attach-documents-surrender.html" class="govuk-link"></a></td>
                </tr>
                <tr class="govuk-table__row">
                <td class="govuk-table__cell"><a href="9-attach-documents-surrender.html" class="govuk-link">Do you have an MD reference?</a></td>
                <td class="govuk-table__cell"><a href="9-attach-documents-surrender.html" class="govuk-link"></a></td>
                </tr>

        </tbody>
      </table>


      <table class="govuk-table govuk-!-width-two-thirds">
        <th scope="col" class="govuk-table__header">3.2 Supporting documents</th>
        <td class="govuk-table__cell"></td>
        <tbody class="govuk-table__body">

                <tr class="govuk-table__row">
                <td class="govuk-table__cell"><a href="9-attach-documents-surrender.html" class="govuk-link">Attach documents</a></td>
                <td class="govuk-table__cell"><a href="9-attach-documents-surrender.html" class="govuk-link"></a></td>
                </tr>

        </tbody>
      </table>

    </div>




    <div class="govuk-grid-column-full">

      {% if data['mortgageAttached'] and data['certificateAttached'] %}
      <div class="govuk-!-margin-bottom-9">
      <h3 class="govuk-heading-l">Preview your e-AP1</h3>
      <a href="#"><img src="/public/images/ap1-icon.svg" style="max-width:15%; height:auto; float: left; padding-right: 25px;" alt="ap1 icon"></a>
      <h2><a href="#" class="govuk-link govuk-heading-m govuk-!-font-weight-regular" style="">Download draft e-AP1 (PDF)</a></h2>
      <p class="govuk-body"> PDF - opens in a new window</p><br><br>
      </div>
      {% endif %}





      {{ govukButton({
        text: "Continue",
        classes: "govuk-!-margin-top-9",
        href:"review-application"
      }) }}


      {{ govukButton({
        text: "Save application and exit",
        classes: "secondary-button-save govuk-!-margin-top-9",
        href: "save-confirmation"
      }) }}


      {{ govukInsetText({
          text: "To avoid requisitions, attach all relevant documents."
        }) }}
    </div>

        </div>
        </div>



{% endblock %}


{% block bodyEnd %}
  {% include "includes/scripts.html" %}
{% endblock %}
