{% extends "drs-layout.html" %}


{% block content %}
<style>
  .down {
    background-image: none;
  }
</style>
<form method="post" action="#"
  data-validate="select-form-validation" novalidate>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds ">
      <span class="govuk-caption-l"></span>

      <h1 class="govuk-heading-xl">Select transactions</h1>
      <p class="govuk-body">
        Select your transactions in priority order.
        <br><br>
        You can apply for up to 10 transactions.
      </p>

      <h2 class="govuk-heading-m govuk-!-margin-top-5">Transactions</h2>

    </div>

    <div class="govuk-grid-column-one-half">
      <div class="govuk-form-group">
        <label class="govuk-hint" for="Select_transaction{{n}}">
          Priority 1
        </label>
        <select class="govuk-select js-select-autocomplete" id="Select_transaction{{n}}" name="Transaction1" required>
          <option selected>
            <!--Type to search-->
          </option>
          <option value="Agreed maximum amount of security (CH3)">Agreed maximum amount of security (CH3)</option>
          <option value="Agreed notice (AN1)">Agreed notice (AN1)</option>
          <option value="Amendment of unilateral notice (UN3)">Amendment of unilateral notice (UN3)</option>
          <option value="Appointment of liquidator (members' voluntary winding up)">Appointment of liquidator (members' voluntary winding up)</option>
          <option value="Assent">Assent</option>
          <option value="Cancellation of a caution (CCD)">Cancellation of a caution (CCD)</option>
          <option value="Cancellation of bankruptcy notice">Cancellation of bankruptcy notice</option>
          <option value="Cancellation of bankruptcy restriction">Cancellation of bankruptcy restriction</option>
          <option value="Cancellation of home rights (HR4)">Cancellation of home rights (HR4)</option>
          <option value="Cancellation of inhibition (RX3)">Cancellation of inhibition (RX3)</option>
          <option value="Cancellation of noted lease (CN1)">Cancellation of noted lease (CN1)</option>
          <option value="Cancellation of notice (not unilateral) (CN1)">Cancellation of notice (not unilateral) (CN1)
          </option>
          <option value="Cancellation of notice of unreg. Rentcharge">Cancellation of notice of unreg. Rentcharge
          </option>
          <option value="Cancellation of restriction (RX3)">Cancellation of restriction (RX3)</option>
          <option value="Cancellation of unilateral notice (UN4)">Cancellation of unilateral notice (UN4)</option>
          <option value="Charge">Charge</option>
          <option value="Charge of Part">Charge of Part</option>
          <option value="Charging order - Agreed notice (AN1)">Charging order - Agreed notice (AN1)</option>
          <option value="Charging order - Unilateral notice (UN1)">Charging order - Unilateral notice (UN1)</option>
          <option value="Death of a joint proprietor (DJP)">Death of a joint proprietor (DJP)</option>
          <option value="Death of a sole proprietor">Death of a sole proprietor</option>
          <option value="Deed of grant of easement">Deed of grant of easement</option>
          <option value="Deed of rectification">Deed of rectification</option>
          <option value="Determined boundary (DB)">Determined boundary (DB)</option>
          <option value="Disapplication of restriction (RX2)">Disapplication of restriction (RX2)</option>
          <option value="Discharge (DS1)">Discharge of charge</option>
          <option value="Disclaimer - notice">Disclaimer - notice</option>
          <option value="Disclaimer - notification">Disclaimer - notification</option>
          <option value="Discontinuous lease">Discontinuous lease</option>
          <option value="Dispositionary first lease">Dispositionary first lease</option>
          <option value="Dispositionary first lease (7-21 years)">Dispositionary first lease (7-21 years)</option>
          <option value="Dispositionary first lease rtb/rta">Dispositionary first lease rtb/rta</option>
          <option value="Dispositionary first lease shared ownership lease">Dispositionary first lease shared ownership lease</option>
          <option value="Extinguishment of rentcharge">Extinguishment of rentcharge</option>
          <option value="Form ll restriction entered - simple request">Form ll restriction entered - simple request
          </option>
          <option value="Lease closure - surrender by deed">Lease closure - surrender by deed</option>
          <option value="Modify a restriction (RX2)">Modify a restriction (RX2)</option>
          <option value="New lease - other">New lease - other</option>
          <option value="New lease - right to buy or right to acquire">New lease - right to buy or right to acquire</option>
          <option value="New lease - shared ownership">New lease - shared ownership</option>
          <option value="Notice of home rights (HR1)">Notice of home rights (HR1)</option>
          <option value="Obligation to make further advances (CH2)">Obligation to make further advances (CH2)</option>
          <option value="Postponement of charge">Postponement of charge</option>
          <option value="Release of covenants - agreed notice (AN1)">Release of covenants - agreed notice (AN1)</option>
          <option value="Release of covenants - cancellation (CN1)">Release of covenants - cancellation (CN1)</option>
          <option value="Release of covenants - unilateral notice (UN1)">Release of covenants - unilateral notice (UN1)
          </option>
          <option value="Release of easements">Release of easements</option>
          <option value="Removal of unilateral notice (UN2)">Removal of unilateral notice (UN2)</option>
          <option value="Restriction (non-standard wording) (RX1)">Restriction (non-standard wording) (RX1)</option>
          <option value="Restriction (standard wording) (RX1)">Restriction (standard wording) (RX1)</option>
          <option value="Statutory vestings charge">Statutory vestings charge</option>
          <option value="Statutory vestings land">Statutory vestings land</option>
          <option value="Unilateral notice (UN1)">Unilateral notice (UN1)</option>
          <option value="Upgrade class of title (UT1)">Upgrade class of title (UT1)</option>
          <option value="Variation of charge">Variation of charge</option>
          <option value="Variation of covenants">Variation of covenants</option>
          <option value="Variation of covenants - agreed notice (AN1)">Variation of covenants - agreed notice (AN1)
          </option>
          <option value="Variation of covenants - unilateral notice (UN1)">Variation of covenants - unilateral notice
            (UN1)</option>
          <option value="Variation of easements">Variation of easements</option>
          <option value="Variation of easements - agreed notice (AN1)">Variation of easements - agreed notice (AN1)
          </option>
          <option value="Variation of easements - unilateral notice (UN1)">Variation of easements - unilateral notice
            (UN1)</option>
          <option value="Variation of lease">Variation of lease</option>
          <option value="Variation of lease - agreed notice (AN1)">Variation of lease - agreed notice (AN1)</option>
          <option value="Variation of lease - unilateral notice (UN1)">Variation of lease - unilateral notice (UN1)
          </option>
          <option value="Vesting order">Vesting order</option>
          <option value="Withdraw a restriction (RX4)">Withdraw a restriction (RX4)</option>
          <option value="Withdraw a caution (WCT)">Withdraw a caution (WCT)</option>
        </select>
      </div>

      <div class="govuk-form-group">
        <label class="govuk-hint" for="Select_transaction{{n}}">
          Priority 2 (optional)
        </label>
        <select class="govuk-select js-select-autocomplete" id="Select_transaction{{n}}" name="Transaction1" required>
          <option selected>
            <!--Type to search-->
          </option>
          <option value="Agreed maximum amount of security (CH3)">Agreed maximum amount of security (CH3)</option>
          <option value="Agreed notice (AN1)">Agreed notice (AN1)</option>
          <option value="Amendment of unilateral notice (UN3)">Amendment of unilateral notice (UN3)</option>
          <option value="Appointment of liquidator (members' voluntary winding up)">Appointment of liquidator (members' voluntary winding up)</option>
          <option value="Assent">Assent</option>
          <option value="Cancellation of a caution (CCD)">Cancellation of a caution (CCD)</option>
          <option value="Cancellation of bankruptcy notice">Cancellation of bankruptcy notice</option>
          <option value="Cancellation of bankruptcy restriction">Cancellation of bankruptcy restriction</option>
          <option value="Cancellation of home rights (HR4)">Cancellation of home rights (HR4)</option>
          <option value="Cancellation of inhibition (RX3)">Cancellation of inhibition (RX3)</option>
          <option value="Cancellation of noted lease (CN1)">Cancellation of noted lease (CN1)</option>
          <option value="Cancellation of notice (not unilateral) (CN1)">Cancellation of notice (not unilateral) (CN1)
          </option>
          <option value="Cancellation of notice of unreg. Rentcharge">Cancellation of notice of unreg. Rentcharge
          </option>
          <option value="Cancellation of restriction (RX3)">Cancellation of restriction (RX3)</option>
          <option value="Cancellation of unilateral notice (UN4)">Cancellation of unilateral notice (UN4)</option>
          <option value="Charge">Charge</option>
          <option value="Charge of Part">Charge of Part</option>
          <option value="Charging order - Agreed notice (AN1)">Charging order - Agreed notice (AN1)</option>
          <option value="Charging order - Unilateral notice (UN1)">Charging order - Unilateral notice (UN1)</option>
          <option value="Death of a joint proprietor (DJP)">Death of a joint proprietor (DJP)</option>
          <option value="Death of a sole proprietor">Death of a sole proprietor</option>
          <option value="Deed of grant of easement">Deed of grant of easement</option>
          <option value="Deed of rectification">Deed of rectification</option>
          <option value="Determined boundary (DB)">Determined boundary (DB)</option>
          <option value="Disapplication of restriction (RX2)">Disapplication of restriction (RX2)</option>
          <option value="Discharge (DS1)">Discharge of charge</option>
          <option value="Disclaimer - notice">Disclaimer - notice</option>
          <option value="Disclaimer - notification">Disclaimer - notification</option>
          <option value="Discontinuous lease">Discontinuous lease</option>
          <option value="Dispositionary first lease">Dispositionary first lease</option>
          <option value="Dispositionary first lease (7-21 years)">Dispositionary first lease (7-21 years)</option>
          <option value="Dispositionary first lease rtb/rta">Dispositionary first lease rtb/rta</option>
          <option value="Dispositionary first lease shared ownership lease">Dispositionary first lease shared ownership lease</option>
          <option value="Extinguishment of rentcharge">Extinguishment of rentcharge</option>
          <option value="Form ll restriction entered - simple request">Form ll restriction entered - simple request
          </option>
          <option value="Lease closure - surrender by deed">Lease closure - surrender by deed</option>
          <option value="Modify a restriction (RX2)">Modify a restriction (RX2)</option>
          <option value="New lease - other">New lease - other</option>
          <option value="New lease - right to buy or right to acquire">New lease - right to buy or right to acquire</option>
          <option value="New lease - shared ownership">New lease - shared ownership</option>
          <option value="Notice of home rights (HR1)">Notice of home rights (HR1)</option>
          <option value="Obligation to make further advances (CH2)">Obligation to make further advances (CH2)</option>
          <option value="Postponement of charge">Postponement of charge</option>
          <option value="Release of covenants - agreed notice (AN1)">Release of covenants - agreed notice (AN1)</option>
          <option value="Release of covenants - cancellation (CN1)">Release of covenants - cancellation (CN1)</option>
          <option value="Release of covenants - unilateral notice (UN1)">Release of covenants - unilateral notice (UN1)
          </option>
          <option value="Release of easements">Release of easements</option>
          <option value="Removal of unilateral notice (UN2)">Removal of unilateral notice (UN2)</option>
          <option value="Restriction (non-standard wording) (RX1)">Restriction (non-standard wording) (RX1)</option>
          <option value="Restriction (standard wording) (RX1)">Restriction (standard wording) (RX1)</option>
          <option value="Statutory vestings charge">Statutory vestings charge</option>
          <option value="Statutory vestings land">Statutory vestings land</option>
          <option value="Unilateral notice (UN1)">Unilateral notice (UN1)</option>
          <option value="Upgrade class of title (UT1)">Upgrade class of title (UT1)</option>
          <option value="Variation of charge">Variation of charge</option>
          <option value="Variation of covenants">Variation of covenants</option>
          <option value="Variation of covenants - agreed notice (AN1)">Variation of covenants - agreed notice (AN1)
          </option>
          <option value="Variation of covenants - unilateral notice (UN1)">Variation of covenants - unilateral notice
            (UN1)</option>
          <option value="Variation of easements">Variation of easements</option>
          <option value="Variation of easements - agreed notice (AN1)">Variation of easements - agreed notice (AN1)
          </option>
          <option value="Variation of easements - unilateral notice (UN1)">Variation of easements - unilateral notice
            (UN1)</option>
          <option value="Variation of lease">Variation of lease</option>
          <option value="Variation of lease - agreed notice (AN1)">Variation of lease - agreed notice (AN1)</option>
          <option value="Variation of lease - unilateral notice (UN1)">Variation of lease - unilateral notice (UN1)
          </option>
          <option value="Vesting order">Vesting order</option>
          <option value="Withdraw a restriction (RX4)">Withdraw a restriction (RX4)</option>
          <option value="Withdraw a caution (WCT)">Withdraw a caution (WCT)</option>
        </select>
      </div>

      <div class="govuk-form-group">
        <label class="govuk-hint" for="Select_transaction{{n}}">
          Priority 3 (optional)
        </label>
        <select class="govuk-select js-select-autocomplete" id="Select_transaction{{n}}" name="Transaction1" required>
          <option selected>
            <!--Type to search-->
          </option>
          <option value="Agreed maximum amount of security (CH3)">Agreed maximum amount of security (CH3)</option>
          <option value="Agreed notice (AN1)">Agreed notice (AN1)</option>
          <option value="Amendment of unilateral notice (UN3)">Amendment of unilateral notice (UN3)</option>
          <option value="Appointment of liquidator (members' voluntary winding up)">Appointment of liquidator (members' voluntary winding up)</option>
          <option value="Assent">Assent</option>
          <option value="Cancellation of a caution (CCD)">Cancellation of a caution (CCD)</option>
          <option value="Cancellation of bankruptcy notice">Cancellation of bankruptcy notice</option>
          <option value="Cancellation of bankruptcy restriction">Cancellation of bankruptcy restriction</option>
          <option value="Cancellation of home rights (HR4)">Cancellation of home rights (HR4)</option>
          <option value="Cancellation of inhibition (RX3)">Cancellation of inhibition (RX3)</option>
          <option value="Cancellation of noted lease (CN1)">Cancellation of noted lease (CN1)</option>
          <option value="Cancellation of notice (not unilateral) (CN1)">Cancellation of notice (not unilateral) (CN1)
          </option>
          <option value="Cancellation of notice of unreg. Rentcharge">Cancellation of notice of unreg. Rentcharge
          </option>
          <option value="Cancellation of restriction (RX3)">Cancellation of restriction (RX3)</option>
          <option value="Cancellation of unilateral notice (UN4)">Cancellation of unilateral notice (UN4)</option>
          <option value="Charge">Charge</option>
          <option value="Charge of Part">Charge of Part</option>
          <option value="Charging order - Agreed notice (AN1)">Charging order - Agreed notice (AN1)</option>
          <option value="Charging order - Unilateral notice (UN1)">Charging order - Unilateral notice (UN1)</option>
          <option value="Death of a joint proprietor (DJP)">Death of a joint proprietor (DJP)</option>
          <option value="Death of a sole proprietor">Death of a sole proprietor</option>
          <option value="Deed of grant of easement">Deed of grant of easement</option>
          <option value="Deed of rectification">Deed of rectification</option>
          <option value="Determined boundary (DB)">Determined boundary (DB)</option>
          <option value="Disapplication of restriction (RX2)">Disapplication of restriction (RX2)</option>
          <option value="Discharge (DS1)">Discharge of charge</option>
          <option value="Disclaimer - notice">Disclaimer - notice</option>
          <option value="Disclaimer - notification">Disclaimer - notification</option>
          <option value="Discontinuous lease">Discontinuous lease</option>
          <option value="Dispositionary first lease">Dispositionary first lease</option>
          <option value="Dispositionary first lease (7-21 years)">Dispositionary first lease (7-21 years)</option>
          <option value="Dispositionary first lease rtb/rta">Dispositionary first lease rtb/rta</option>
          <option value="Dispositionary first lease shared ownership lease">Dispositionary first lease shared ownership lease</option>
          <option value="Extinguishment of rentcharge">Extinguishment of rentcharge</option>
          <option value="Form ll restriction entered - simple request">Form ll restriction entered - simple request
          </option>
          <option value="Lease closure - surrender by deed">Lease closure - surrender by deed</option>
          <option value="Modify a restriction (RX2)">Modify a restriction (RX2)</option>
          <option value="New lease - other">New lease - other</option>
          <option value="New lease - right to buy or right to acquire">New lease - right to buy or right to acquire</option>
          <option value="New lease - shared ownership">New lease - shared ownership</option>
          <option value="Notice of home rights (HR1)">Notice of home rights (HR1)</option>
          <option value="Obligation to make further advances (CH2)">Obligation to make further advances (CH2)</option>
          <option value="Postponement of charge">Postponement of charge</option>
          <option value="Release of covenants - agreed notice (AN1)">Release of covenants - agreed notice (AN1)</option>
          <option value="Release of covenants - cancellation (CN1)">Release of covenants - cancellation (CN1)</option>
          <option value="Release of covenants - unilateral notice (UN1)">Release of covenants - unilateral notice (UN1)
          </option>
          <option value="Release of easements">Release of easements</option>
          <option value="Removal of unilateral notice (UN2)">Removal of unilateral notice (UN2)</option>
          <option value="Restriction (non-standard wording) (RX1)">Restriction (non-standard wording) (RX1)</option>
          <option value="Restriction (standard wording) (RX1)">Restriction (standard wording) (RX1)</option>
          <option value="Statutory vestings charge">Statutory vestings charge</option>
          <option value="Statutory vestings land">Statutory vestings land</option>
          <option value="Unilateral notice (UN1)">Unilateral notice (UN1)</option>
          <option value="Upgrade class of title (UT1)">Upgrade class of title (UT1)</option>
          <option value="Variation of charge">Variation of charge</option>
          <option value="Variation of covenants">Variation of covenants</option>
          <option value="Variation of covenants - agreed notice (AN1)">Variation of covenants - agreed notice (AN1)
          </option>
          <option value="Variation of covenants - unilateral notice (UN1)">Variation of covenants - unilateral notice
            (UN1)</option>
          <option value="Variation of easements">Variation of easements</option>
          <option value="Variation of easements - agreed notice (AN1)">Variation of easements - agreed notice (AN1)
          </option>
          <option value="Variation of easements - unilateral notice (UN1)">Variation of easements - unilateral notice
            (UN1)</option>
          <option value="Variation of lease">Variation of lease</option>
          <option value="Variation of lease - agreed notice (AN1)">Variation of lease - agreed notice (AN1)</option>
          <option value="Variation of lease - unilateral notice (UN1)">Variation of lease - unilateral notice (UN1)
          </option>
          <option value="Vesting order">Vesting order</option>
          <option value="Withdraw a restriction (RX4)">Withdraw a restriction (RX4)</option>
          <option value="Withdraw a caution (WCT)">Withdraw a caution (WCT)</option>
        </select>
      </div>

      <div class="govuk-form-group">
        <label class="govuk-hint" for="Select_transaction{{n}}">
          Priority 4 (optional)
        </label>
        <select class="govuk-select js-select-autocomplete" id="Select_transaction{{n}}" name="Transaction1" required>
          <option selected>
            <!--Type to search-->
          </option>
          <option value="Agreed maximum amount of security (CH3)">Agreed maximum amount of security (CH3)</option>
          <option value="Agreed notice (AN1)">Agreed notice (AN1)</option>
          <option value="Amendment of unilateral notice (UN3)">Amendment of unilateral notice (UN3)</option>
          <option value="Appointment of liquidator (members' voluntary winding up)">Appointment of liquidator (members' voluntary winding up)</option>
          <option value="Assent">Assent</option>
          <option value="Cancellation of a caution (CCD)">Cancellation of a caution (CCD)</option>
          <option value="Cancellation of bankruptcy notice">Cancellation of bankruptcy notice</option>
          <option value="Cancellation of bankruptcy restriction">Cancellation of bankruptcy restriction</option>
          <option value="Cancellation of home rights (HR4)">Cancellation of home rights (HR4)</option>
          <option value="Cancellation of inhibition (RX3)">Cancellation of inhibition (RX3)</option>
          <option value="Cancellation of noted lease (CN1)">Cancellation of noted lease (CN1)</option>
          <option value="Cancellation of notice (not unilateral) (CN1)">Cancellation of notice (not unilateral) (CN1)
          </option>
          <option value="Cancellation of notice of unreg. Rentcharge">Cancellation of notice of unreg. Rentcharge
          </option>
          <option value="Cancellation of restriction (RX3)">Cancellation of restriction (RX3)</option>
          <option value="Cancellation of unilateral notice (UN4)">Cancellation of unilateral notice (UN4)</option>
          <option value="Charge">Charge</option>
          <option value="Charge of Part">Charge of Part</option>
          <option value="Charging order - Agreed notice (AN1)">Charging order - Agreed notice (AN1)</option>
          <option value="Charging order - Unilateral notice (UN1)">Charging order - Unilateral notice (UN1)</option>
          <option value="Death of a joint proprietor (DJP)">Death of a joint proprietor (DJP)</option>
          <option value="Death of a sole proprietor">Death of a sole proprietor</option>
          <option value="Deed of grant of easement">Deed of grant of easement</option>
          <option value="Deed of rectification">Deed of rectification</option>
          <option value="Determined boundary (DB)">Determined boundary (DB)</option>
          <option value="Disapplication of restriction (RX2)">Disapplication of restriction (RX2)</option>
          <option value="Discharge (DS1)">Discharge of charge</option>
          <option value="Disclaimer - notice">Disclaimer - notice</option>
          <option value="Disclaimer - notification">Disclaimer - notification</option>
          <option value="Discontinuous lease">Discontinuous lease</option>
          <option value="Dispositionary first lease">Dispositionary first lease</option>
          <option value="Dispositionary first lease (7-21 years)">Dispositionary first lease (7-21 years)</option>
          <option value="Dispositionary first lease rtb/rta">Dispositionary first lease rtb/rta</option>
          <option value="Dispositionary first lease shared ownership lease">Dispositionary first lease shared ownership lease</option>
          <option value="Extinguishment of rentcharge">Extinguishment of rentcharge</option>
          <option value="Form ll restriction entered - simple request">Form ll restriction entered - simple request
          </option>
          <option value="Lease closure - surrender by deed">Lease closure - surrender by deed</option>
          <option value="Modify a restriction (RX2)">Modify a restriction (RX2)</option>
          <option value="New lease - other">New lease - other</option>
          <option value="New lease - right to buy or right to acquire">New lease - right to buy or right to acquire</option>
          <option value="New lease - shared ownership">New lease - shared ownership</option>
          <option value="Notice of home rights (HR1)">Notice of home rights (HR1)</option>
          <option value="Obligation to make further advances (CH2)">Obligation to make further advances (CH2)</option>
          <option value="Postponement of charge">Postponement of charge</option>
          <option value="Release of covenants - agreed notice (AN1)">Release of covenants - agreed notice (AN1)</option>
          <option value="Release of covenants - cancellation (CN1)">Release of covenants - cancellation (CN1)</option>
          <option value="Release of covenants - unilateral notice (UN1)">Release of covenants - unilateral notice (UN1)
          </option>
          <option value="Release of easements">Release of easements</option>
          <option value="Removal of unilateral notice (UN2)">Removal of unilateral notice (UN2)</option>
          <option value="Restriction (non-standard wording) (RX1)">Restriction (non-standard wording) (RX1)</option>
          <option value="Restriction (standard wording) (RX1)">Restriction (standard wording) (RX1)</option>
          <option value="Statutory vestings charge">Statutory vestings charge</option>
          <option value="Statutory vestings land">Statutory vestings land</option>
          <option value="Unilateral notice (UN1)">Unilateral notice (UN1)</option>
          <option value="Upgrade class of title (UT1)">Upgrade class of title (UT1)</option>
          <option value="Variation of charge">Variation of charge</option>
          <option value="Variation of covenants">Variation of covenants</option>
          <option value="Variation of covenants - agreed notice (AN1)">Variation of covenants - agreed notice (AN1)
          </option>
          <option value="Variation of covenants - unilateral notice (UN1)">Variation of covenants - unilateral notice
            (UN1)</option>
          <option value="Variation of easements">Variation of easements</option>
          <option value="Variation of easements - agreed notice (AN1)">Variation of easements - agreed notice (AN1)
          </option>
          <option value="Variation of easements - unilateral notice (UN1)">Variation of easements - unilateral notice
            (UN1)</option>
          <option value="Variation of lease">Variation of lease</option>
          <option value="Variation of lease - agreed notice (AN1)">Variation of lease - agreed notice (AN1)</option>
          <option value="Variation of lease - unilateral notice (UN1)">Variation of lease - unilateral notice (UN1)
          </option>
          <option value="Vesting order">Vesting order</option>
          <option value="Withdraw a restriction (RX4)">Withdraw a restriction (RX4)</option>
          <option value="Withdraw a caution (WCT)">Withdraw a caution (WCT)</option>
        </select>
      </div>

        <a class="govuk-body govuk-link" href="">Add another transaction</a><br>

      </div>

    <div class="govuk-grid-column-full govuk-!-margin-top-5">

      {{ govukButton({
      classes: "",
      text: "Continue",
      href: "link-titles"
      }) }}

    </div>

  </div>

</form>

{% endblock %}



{% block bodyEnd %}
{% include "includes/scripts.html" %}
{% endblock %}
