// The unbranded stylesheet is used if you need to create pages in your
// prototype without the GOV.UK branding.
//
// See localhost:3000/docs/examples/blank-unbranded

// Import colour palette and applied colours so that we can use
// $govuk-body-background-colour in our overrides below.
//
// If you need to enable compatibility mode or the legacy palette, do that
// *before* these imports.
@import "node_modules/govuk-frontend/govuk/settings/colours-palette";
@import "node_modules/govuk-frontend/govuk/settings/colours-applied";

// Style links and paragraphs by default
$govuk-global-styles: true;

// Override the govuk-frontend font stack
$govuk-font-family: "HelveticaNeue", "Helvetica Neue", "Arial", "Helvetica", sans-serif;

// Override the canvas background colour, which is normally grey to blend with
// the GOV.UK footer.
$govuk-canvas-background-colour: $govuk-body-background-colour;

@import "node_modules/govuk-frontend/govuk/all";

.h1 {
  font-family: "arial", sans-serif;
}

.h2 {
  font-family: "arial", sans-serif;
}

.govuk-link {
  color: #1d70b8;
  text-decoration: underline;
}

.govuk-link:hover {
  color: #003078;
  text-decoration: underline;
}

.task-list {
  font-family: arial;
}

.header-link {
  text-decoration: none;
  color: #999999 !important;
}

.header-link:hover {
  text-decoration: underline;
}

.return-to-task-list {
  margin: -35px 0 35px 0;
}

.upload_btn {
  height: 10px;
  padding: 10px;
  padding-bottom: 20px;
  font-size: 16px;
  border-style: solid;
  border-width: 1px;
  cursor: pointer;
}

.secondary-button {
  background-color: #005EA5;
  height: 43px;
  margin-left: 40px;
  padding-top: 10px;
}

.secondary-button:hover {
  background-color: #003078;
  height: 43px;
  margin-left: 40px;
}

.secondary-button-save {
  background-color: #005EA5;
  height: 38px;
  margin-left: 40px;
}

.secondary-button-save:hover {
  background-color: #003078;
  height: 38px;
  margin-left: 40px;
}

#filename:hover {
color: black;
cursor: default;
}

.govuk-warning-text__icon {
margin-top: 7px !important;
}



.input-container {
  position: relative;
  width: 150px;
}

.input-container input {
  width: 100%;
}

.input-container .unit {
  position: absolute;
  display: block;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 130%;
  top: 8px;
  right: 95px;
  color: black;
  padding-left: 5px;
  width: 45px;
}

.navigation {
  margin-top: -20px;
}
