{#- We can't mount GOV.UK Frontend's assets at root as it's done automatically by the extensions framework. -#}
{%- set assetPath = '/govuk/assets' -%}

{% extends "govuk/template.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/select/macro.njk" import govukSelect %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/details/macro.njk" import govukDetails %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}
{% from "govuk/components/table/macro.njk" import govukTable %}



{% block headIcons %}
  <link rel="shortcut icon" href="{{ asset_path }}images/unbranded.ico?0.18.3" type="image/x-icon" />
  <link rel="mask-icon" href="{{ asset_path }}images/gov.uk_logotype_crown.svg?0.18.3" color="#0b0c0c">
  <link rel="apple-touch-icon-precomposed" sizes="152x152" href="{{ asset_path }}images/apple-touch-icon-152x152.png?0.18.3">
  <link rel="apple-touch-icon-precomposed" sizes="120x120" href="{{ asset_path }}images/apple-touch-icon-120x120.png?0.18.3">
  <link rel="apple-touch-icon-precomposed" sizes="76x76" href="{{ asset_path }}images/apple-touch-icon-76x76.png?0.18.3">
  <link rel="apple-touch-icon-precomposed" href="{{ asset_path }}images/apple-touch-icon-60x60.png?0.18.3">
{% endblock %}

{% block head %}
  <link href="/public/stylesheets/unbranded.css" media="all" rel="stylesheet" type="text/css">
{% endblock %}

{% block header %}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full" id="headerdiv">
    <a href="/../../setup/app-start"><img src="/public/images/headerlogo.svg" alt="hmlrlogo"></a>
    <p class="govuk-heading-m" style="text-align: center; margin-top:-45px;"><a href="/../../setup/app-start" class="header-link govuk-link--no-visited-state">Digital Registration Service</a></p>
    <hr style= "height: 7px;  background: #b4d307 linear-gradient(-60deg,#b4d307,#b4d307 50%,#d7e900 0,#d7e900); border: none;">


    <div class="govuk-phase-banner govuk-!-margin-bottom-5">
        <p class="govuk-phase-banner__content">
        <strong class="govuk-tag govuk-phase-banner__content__tag">Prototype</strong>
        <span class="govuk-phase-banner__text">
        This is a prototype and not a real service.
        </span></p>
    </div>
    </div>

<div class="govuk-grid-column-full">
  <span class="govuk-caption-l"></span>


    <h1 class="govuk-heading-l">Applicants</h1>


<form method="post" action="L/L-tasks">


<table class="govuk-table" id="applicantlist">

  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header ">Applicant type</th>
      <th scope="col" class="govuk-table__header">Full name</th>
      <th scope="col" class="govuk-table__header">Company number</th>
      <th scope="col" class="govuk-table__header">Territory of incorporation</th>
      <th scope="col" class="govuk-table__header">Options</th>
    </tr>
  </thead>
  {% if data['applicant-individual-forename'] %}
    <tbody class="govuk-table_body">
      <tr class="govuk-table_row" id="hidePI">
      <td class="govuk-table__cell">Private individual</td>
      <td class="govuk-table__cell govuk-!-width-one-third">{{ data['applicant-individual-forename'] }} {{ data['applicant-individual-surname'] }}</td>
      <td class="govuk-table__cell">N/a</td>
      <td class="govuk-table__cell govuk-!-width-one-quarter">N/a</td>
      <td class="govuk-table__cell govuk-link"><a href="add-applicants-change">Change</a><br><a  href="">Remove</a></td>
    </tbody>
     {% endif %}

     {% if data['applicant2-individual-forename-2'] %}
       <tbody class="govuk-table_body">
         <tr class="govuk-table_row" id="hidePI">
         <td class="govuk-table__cell">Private individual</td>
         <td class="govuk-table__cell govuk-!-width-one-third">{{ data['applicant2-individual-forename-2'] }} {{ data['applicant2-individual-surname-2'] }}</td>
         <td class="govuk-table__cell">N/a</td>
         <td class="govuk-table__cell govuk-!-width-one-quarter">N/a</td>
         <td class="govuk-table__cell govuk-link"><a href="add-applicants-change">Change</a><br><a  href="">Remove</a></td>
       </tbody>
        {% endif %}

        {% if data['applicant3-individual-forename-3'] %}
          <tbody class="govuk-table_body">
            <tr class="govuk-table_row" id="hidePI">
            <td class="govuk-table__cell">Private individual</td>
            <td class="govuk-table__cell govuk-!-width-one-third">{{ data['applicant3-individual-forename-3'] }} {{ data['applicant3-individual-surname-3'] }}</td>
            <td class="govuk-table__cell">N/a</td>
            <td class="govuk-table__cell govuk-!-width-one-quarter">N/a</td>
            <td class="govuk-table__cell govuk-link"><a href="add-applicants-change">Change</a><br><a  href="">Remove</a></td>
          </tbody>
           {% endif %}

    {% if data['applicant-company-name'] %}
    <tbody class="govuk-table_body">
      <tr class="govuk-table_row" id="hidePI">
      <td class="govuk-table__cell">UK Company or LLC</td>
      <td class="govuk-table__cell govuk-!-width-one-third">{{ data['applicant-company-name'] }}</td>
      <td class="govuk-table__cell"> {{ data['applicant-company-number'] }}</td>
      <td class="govuk-table__cell govuk-!-width-one-quarter">N/a</td>
      <td class="govuk-table__cell govuk-link"><a href="add-applicants-change">Change</a><br><a  href="">Remove</a></td>
    </tbody>
     {% endif %}

     {% if data['applicant2-company-name-2'] %}
     <tbody class="govuk-table_body">
       <tr class="govuk-table_row" id="hidePI">
       <td class="govuk-table__cell">UK Company or LLC</td>
       <td class="govuk-table__cell govuk-!-width-one-third">{{ data['applicant2-company-name-2'] }}</td>
       <td class="govuk-table__cell"> {{ data['applicant2-company-number-2'] }}</td>
       <td class="govuk-table__cell govuk-!-width-one-quarter">N/a</td>
       <td class="govuk-table__cell govuk-link"><a href="add-applicants-change">Change</a><br><a  href="">Remove</a></td>
     </tbody>
      {% endif %}

      {% if data['applicant3-company-name-3'] %}
      <tbody class="govuk-table_body">
        <tr class="govuk-table_row" id="hidePI">
        <td class="govuk-table__cell">UK Company or LLC</td>
        <td class="govuk-table__cell govuk-!-width-one-third">{{ data['applicant3-company-name-3'] }}</td>
        <td class="govuk-table__cell"> {{ data['applicant3-company-number-3'] }}</td>
        <td class="govuk-table__cell govuk-!-width-one-quarter">N/a</td>
        <td class="govuk-table__cell govuk-link"><a href="add-applicants-change">Change</a><br><a  href="">Remove</a></td>
      </tbody>
       {% endif %}

      {% if data['applicant-overseas-name'] %}
        <tbody class="govuk-table_body">
          <tr class="govuk-table_row">
          <td class="govuk-table__cell">Overseas company</td>
          <td class="govuk-table__cell govuk-!-width-one-third">{{ data['applicant-overseas-name'] }}</td>
          <td class="govuk-table__cell"> {% if data['applicant-overseas-number'] %}{{ data['applicant-overseas-number'] }}{% endif %}{% if not data['applicant-overseas-number'] %}N/a{% endif %}</td>
          <td class="govuk-table__cell govuk-!-width-one-quarter"> {{ data['applicant-overseas-country'] }}</td>
          <td class="govuk-table__cell govuk-link"><a href="add-applicants-change">Change</a><br><a  href="">Remove</a></td>
        </tbody>
         {% endif %}

         {% if data['applicant2-overseas-name'] %}
           <tbody class="govuk-table_body">
             <tr class="govuk-table_row">
             <td class="govuk-table__cell">Overseas company</td>
             <td class="govuk-table__cell govuk-!-width-one-third">{{ data['applicant2-overseas-name'] }}</td>
             <td class="govuk-table__cell"> {% if data['applicant2-overseas-number'] %}{{ data['applicant2-overseas-number'] }}{% endif %}{% if not data['applicant2-overseas-number'] %}N/a{% endif %}</td>
             <td class="govuk-table__cell govuk-!-width-one-quarter"> {{ data['applicant2-overseas-country'] }}</td>
             <td class="govuk-table__cell govuk-link"><a href="add-applicants-change">Change</a><br><a  href="">Remove</a></td>
           </tbody>
            {% endif %}

            {% if data['applicant3-overseas-name'] %}
              <tbody class="govuk-table_body">
                <tr class="govuk-table_row">
                <td class="govuk-table__cell">Overseas company</td>
                <td class="govuk-table__cell govuk-!-width-one-third">{{ data['applicant3-overseas-name'] }}</td>
                <td class="govuk-table__cell"> {% if data['applicant3-overseas-number'] %}{{ data['applicant3-overseas-number'] }}{% endif %}{% if not data['applicant3-overseas-number'] %}N/a{% endif %}</td>
                <td class="govuk-table__cell govuk-!-width-one-quarter"> {{ data['applicant3-overseas-country'] }}</td>
                <td class="govuk-table__cell govuk-link"><a href="add-applicants-change">Change</a><br><a  href="">Remove</a></td>
              </tbody>
               {% endif %}

       {% if data['applicant-other-name'] %}
       <tbody class="govuk-table_body">
         <tr class="govuk-table_row">
         <td class="govuk-table__cell">Other organisation</td>
         <td class="govuk-table__cell govuk-!-width-one-third">{{ data['applicant-other-name'] }}</td>
         <td class="govuk-table__cell">N/a</td>
         <td class="govuk-table__cell govuk-!-width-one-quarter">N/a</td>
         <td class="govuk-table__cell govuk-link"><a href="add-applicants-change">Change</a><br><a  href="">Remove</a></td>
       </tbody>
       {% endif %}

       {% if data['applicant2-other-name'] %}
       <tbody class="govuk-table_body">
         <tr class="govuk-table_row">
         <td class="govuk-table__cell">Other organisation</td>
         <td class="govuk-table__cell govuk-!-width-one-third">{{ data['applicant2-other-name'] }}</td>
         <td class="govuk-table__cell">N/a</td>
         <td class="govuk-table__cell govuk-!-width-one-quarter">N/a</td>
         <td class="govuk-table__cell govuk-link"><a href="add-applicants-change">Change</a><br><a  href="">Remove</a></td>
       </tbody>
       {% endif %}

       {% if data['applicant3-other-name'] %}
       <tbody class="govuk-table_body">
         <tr class="govuk-table_row">
         <td class="govuk-table__cell">Other organisation</td>
         <td class="govuk-table__cell govuk-!-width-one-third">{{ data['applicant3-other-name'] }}</td>
         <td class="govuk-table__cell">N/a</td>
         <td class="govuk-table__cell govuk-!-width-one-quarter">N/a</td>
         <td class="govuk-table__cell govuk-link"><a href="add-applicants-change">Change</a><br><a  href="">Remove</a></td>
       </tbody>
       {% endif %}

      </table>

    <!-- {% if data['applicant-company-name'] or data['applicant-individual-forename'] or data['applicant-overseas-name'] or data['applicant-other-name'] %}
    <a class="govuk-link" href="add-applicants-2">Add applicant</a><br>
    {% endif %} -->

    {% if data['applicant2-company-name-2'] or data['applicant2-individual-forename-2'] or data['applicant2-overseas-name'] or data['applicant2-other-name'] %}
    <a class="govuk-link govuk-body" href="add-applicants-3">Add applicant</a><br>
    {% else %}
    <a class="govuk-link govuk-body" href="add-applicants-2">Add applicant</a><br>
    {% endif %}




{{ govukButton({
classes: "govuk-!-margin-top-5",
text: "Continue"
}) }}

</form>

<footer>
<div class="govuk-grid-row">
<div class="govuk-grid-column-full">
<hr style= "height: 7px;  background: #b4d307 linear-gradient(-60deg,#b4d307,#b4d307 50%,#d7e900 0,#d7e900); border: none;">
<br>
<p class="govuk-body-s" style="color: #747B7F"> The following links open in a new window
<br>
<br>
<a href="#" style="color: #747B7F"> Terms and conditions</a> | <a href="/setup/accessibility-statement" target="_blank" rel="noopener noreferrer" style="color: #747B7F">Accessibility statement</a> |  <a href="#" style="color: #747B7F">Freedom of information</a> | <a href="#" style="color: #747B7F">© Crown copyright</a></p>
</div>
</div>
</footer>

</div>

<!-- <script>
  function RemoveTransfereeIndividual() {
  var x = document.getElementById("hidePI");
  if (x.style.display === "none") {
    x.style.display = "block";
  } else {
    x.style.display = "none";
  }
}


  function RemoveTransfereeUK() {
  var x = document.getElementById("hideUK");
  if (x.style.display === "none") {
    x.style.display = "block";
  } else {
    x.style.display = "none";
  }
}

</script> -->

{% endblock %}


{% block footer %}

{% endblock %}

{% block bodyEnd %}
  {% include "includes/scripts.html" %}
{% endblock %}
