{% extends "layout_unbranded.html" %}

{% extends "govuk/template.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/select/macro.njk" import govukSelect %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/details/macro.njk" import govukDetails %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}
{% from "govuk/components/table/macro.njk" import govukTable %}



{% block headIcons %}
  <link rel="shortcut icon" href="{{ asset_path }}images/unbranded.ico?0.18.3" type="image/x-icon" />
  <link rel="mask-icon" href="{{ asset_path }}images/gov.uk_logotype_crown.svg?0.18.3" color="#0b0c0c">
  <link rel="apple-touch-icon-precomposed" sizes="152x152" href="{{ asset_path }}images/apple-touch-icon-152x152.png?0.18.3">
  <link rel="apple-touch-icon-precomposed" sizes="120x120" href="{{ asset_path }}images/apple-touch-icon-120x120.png?0.18.3">
  <link rel="apple-touch-icon-precomposed" sizes="76x76" href="{{ asset_path }}images/apple-touch-icon-76x76.png?0.18.3">
  <link rel="apple-touch-icon-precomposed" href="{{ asset_path }}images/apple-touch-icon-60x60.png?0.18.3">
{% endblock %}

{% block head %}
  <link href="/public/stylesheets/unbranded.css" media="all" rel="stylesheet" type="text/css">
    <link href="/public/css/accessible-autocomplete.min.css" rel="stylesheet" type="text/css" />
{% endblock %}

{% block header %}
{% endblock %}
{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full" id="headerdiv">
    <a href="/../../setup/app-start"><img src="/public/images/headerlogo.svg" alt="hmlrlogo"></a>
    <p class="govuk-heading-m" style="text-align: center; margin-top:-45px;"><a href="/../../setup/app-start" class="header-link govuk-link--no-visited-state">Digital Registration Service</a></p>
    <hr style= "height: 7px;  background: #b4d307 linear-gradient(-60deg,#b4d307,#b4d307 50%,#d7e900 0,#d7e900); border: none;">


    <div class="govuk-phase-banner">
        <p class="govuk-phase-banner__content">
        <strong class="govuk-tag govuk-phase-banner__content__tag">Prototype</strong>
        <span class="govuk-phase-banner__text">
        This is a prototype and not a real service.
        </span></p>
    </div>
  </div>
</div>

<!-- header end -->

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <a href="formN-consent" class="govuk-back-link">Back</a>
        <span class="govuk-caption-xl">Form N restriction</span>
        <h1 class="govuk-heading-xl">Infills</h1>
      </div>
    </div>

    <form action="#" method="post">

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

          <div class="govuk-form-group">

            <p class="govuk-body">Details entered here will be added to the restriction text and presented to you on the next screen for confirmation.</p>

            <details class="govuk-details" data-module="govuk-details">
              <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                  Restriction text
                </span>
              </summary>
              <div class="govuk-details__text">
                No <b>[restriction type]</b> of the registered estate <b>[statement 1- optional]</b> by the proprietor of the registered estate <b>[statement 2 - optional]</b> is to be registered without a written consent signed by HM Land Registry of 1, Main Road, London, SW6 1AA <b>[statement 3 - optional]</b>.
              </div>
            </details>

          </div>

          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset" aria-describedby="changed-name-hint">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                <h2 class="govuk-fieldset__heading">
                  Will the restriction affect a charge on the registered estate?
                </h2>
              </legend>
              <div class="govuk-radios govuk-radios--inline">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="statement-one" name="statement-one" type="radio" value="yes">
                  <label class="govuk-label govuk-radios__label" for="statement-one">
                    Yes
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="statement-one-2" name="statement-one" type="radio" value="no">
                  <label class="govuk-label govuk-radios__label" for="statement-one-2">
                    No
                  </label>
                </div>
              </div>
            </fieldset>
          </div>

          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset" aria-describedby="changed-name-hint">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                <h2 class="govuk-fieldset__heading">
                  Will the restriction affect the proprietor of any future registered charge?
                </h2>
              </legend>
              <div class="govuk-radios govuk-radios--inline">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="statement-two" name="statement-two" type="radio" value="yes">
                  <label class="govuk-label govuk-radios__label" for="statement-two">
                    Yes
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="statement-two-2" name="statement-two" type="radio" value="no">
                  <label class="govuk-label govuk-radios__label" for="statement-two-2">
                    No
                  </label>
                </div>
              </div>
            </fieldset>
          </div>

          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset" aria-describedby="signature-hint">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                <h2 class="govuk-fieldset__heading">
                  Who will sign the certificate?
                </h2>
              </legend>
              <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="signature" name="signature" type="radio" value="option-1" data-aria-controls="conditional-signature">
                  <label class="govuk-label govuk-radios__label" for="signature">
                    Only HM Land Registry
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="signature-2" name="signature" type="radio" value="option-2" data-aria-controls="conditional-signature-2">
                  <label class="govuk-label govuk-radios__label" for="signature-2">
                    HM Land Registry or their conveyancer
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="signature-3" name="signature" type="radio" value="option-3" data-aria-controls="conditional-signature-3">
                  <label class="govuk-label govuk-radios__label" for="signature-3">
                    HM Land Registry or another party
                  </label>
                </div>
                <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-signature-3">
                  <div class="govuk-form-group">
                    <label class="govuk-label" for="signature-3">
                      Please specify appropriate details, for example ‘their solicitor’.
                    </label>
                    <input class="govuk-input govuk-!-width-three-quarters" id="signature-3" name="signature-3" type="tel" autocomplete="tel"></div>

                </div>
              </div>

            </fieldset>
          </div>

        {{ govukButton({
        classes: "govuk-!-margin-top-5",
        text: "Continue"
        }) }}

        </div>
      </div>
    </form>

    <footer>
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
          <hr style= "height: 7px;  background: #b4d307 linear-gradient(-60deg,#b4d307,#b4d307 50%,#d7e900 0,#d7e900); border: none;">
          <br>
          <p class="govuk-body-s" style="color: #747B7F"> The following links open in a new window
          <br>
          <br>
          <a href="#" style="color: #747B7F"> Terms and conditions</a> | <a href="/setup/accessibility-statement" target="_blank" rel="noopener noreferrer" style="color: #747B7F">Accessibility statement</a> |  <a href="#" style="color: #747B7F">Freedom of information</a> | <a href="#" style="color: #747B7F">© Crown copyright</a></p>
          </div>
      </div>
    </footer>


    <!-- <script type="application/json" id="RX1-validation">
     {
       "Select_transaction": {
         "presence": {
           "message": "^Select a form type from the list"
         }
       }
     }
   </script> -->


{% endblock %}


{% block footer %}
{% endblock %}

{% block bodyEnd %}
  {% include "includes/scripts.html" %}
{% endblock %}
