{#- We can't mount GOV.UK Frontend's assets at root as it's done automatically by the extensions framework. -#}
{%- set assetPath = '/govuk/assets' -%}

{% extends "govuk/template.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}


{% block headIcons %}
  <link rel="shortcut icon" href="{{ asset_path }}images/unbranded.ico?0.18.3" type="image/x-icon" />
  <link rel="mask-icon" href="{{ asset_path }}images/gov.uk_logotype_crown.svg?0.18.3" color="#0b0c0c">
  <link rel="apple-touch-icon-precomposed" sizes="152x152" href="{{ asset_path }}images/apple-touch-icon-152x152.png?0.18.3">
  <link rel="apple-touch-icon-precomposed" sizes="120x120" href="{{ asset_path }}images/apple-touch-icon-120x120.png?0.18.3">
  <link rel="apple-touch-icon-precomposed" sizes="76x76" href="{{ asset_path }}images/apple-touch-icon-76x76.png?0.18.3">
  <link rel="apple-touch-icon-precomposed" href="{{ asset_path }}images/apple-touch-icon-60x60.png?0.18.3">
{% endblock %}

{% block head %}
  <link href="/public/stylesheets/unbranded.css" media="all" rel="stylesheet" type="text/css">
{% endblock %}

{% block header %}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full" id="headerdiv">
      <a href="/../../startpage-testing/index.html"><img src="/public/images/headerlogo.svg" alt="hmlrlogo"></a>
      <hr style= "height: 7px;  background: #b4d307 linear-gradient(-60deg,#b4d307,#b4d307 50%,#d7e900 0,#d7e900); border: none;">


    <div class="govuk-phase-banner">
        <p class="govuk-phase-banner__content">
        <strong class="govuk-tag govuk-phase-banner__content__tag">Prototype</strong>
        <span class="govuk-phase-banner__text">
        This is a prototype and not a real service.
        </span></p>
    </div>
    </div>
  </div>

    <main class="govuk-main-wrapper" style="padding: 0; padding-bottom: 20px;" id="main-content" role="main">

        <a href="new_lease-transactions" class="govuk-back-link">Return to select transaction</a>

        <div class="govuk-grid-row">

            <div class="govuk-grid-column-two-thirds">

    <span class="govuk-caption-xl"></span>
    <h1 class="govuk-heading-xl"> Link titles and transactions </h1>

    <p class="govuk-body">We need to understand the relationship between some of your titles and transactions. This helps us automatically calculate your application fees. </p>


    <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Transactions</th>
          <th scope="col" class="govuk-table__header">Title numbers</th>
          <th scope="col" class="govuk-table__header"></th>

        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td scope="row" class="govuk-table__cell">New lease - other (automatically linked)</td>
          <td scope="row" class="govuk-table__cell">ABC123,<br>ABC789,<br>ABC678</td>
          <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="select-title-number"></a></td>
        </tr>
        <tr class="govuk-table__row">
          <td scope="row" class="govuk-table__cell">Release of easements</td>
          <td scope="row" class="govuk-table__cell">ABC789,<br>ABC678</td>
          <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="Release-of-easements">Change</a></td>
        </tr>
      </tbody>
    </table>

    <div class="govuk-warning-text">
      <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
      <strong class="govuk-warning-text__text">
        <span class="govuk-warning-text__assistive">Warning</span>
        Make sure all details are correct before continuing. Mistakes could lead to incorrect fees and requisitions.
      </strong>
    </div>


    {{ govukButton({
    classes: "",
    text: "Continue",
    href: "add-applicants"
    }) }}

  </div>
  </div>


</main>


<footer>
<div class="govuk-grid-row">
<div class="govuk-grid-column-full">
<hr style= "height: 7px;  background: #b4d307 linear-gradient(-60deg,#b4d307,#b4d307 50%,#d7e900 0,#d7e900); border: none;">
<br>
<p class="govuk-body-s" style="color: #747B7F"> The following links open in a new tab.
<br>
<br>
<a href="#" style="color: #747B7F"> Terms and conditions</a> | <a href="/setup/accessibility-statement" target="_blank" rel="noopener noreferrer" style="color: #747B7F">Accessibility statement</a> |  <a href="#" style="color: #747B7F">Cookies</a> | <a href="#" style="color: #747B7F">Freedom of information</a> | <a href="#" style="color: #747B7F">© Crown copyright</a></p>
</div>
</div>
</footer>


{% endblock %}


{% block footer %}
{% endblock %}

{% block bodyEnd %}
{% include "includes/scripts.html" %}
{% endblock %}
