{% extends "drs-layout.html" %}

{% block content %}

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">

    <span class="govuk-caption-xl"></span>
    <h1 class="govuk-heading-xl"> Enter title numbers </h1>
    <p class="govuk-body">You can add up to 25 titles per application.</p>

    <details class="govuk-details" data-module="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">About applications relating to more than one title number</span>
      </summary>
      <div class="govuk-details__text">
        You can use this service for applications of up to 25 title numbers. In order to register multiple title numbers in one application:
        <br><br>
        <ul class="govuk-list govuk-list--bullet">
        <li>all titles must have the same proprietors registered against each title number
        <li >transferors and transferees must be the the same for each title number
        </ul>
      </div>
    </details>

  <!-- <form action="/enhancements/end-to-end/transfer-of-part/1-title-no_"> -->
    <div class="govuk-character-count" data-module="govuk-character-count" data-maxlength="25">
      <div class="govuk-form-group">
        <h3 class="govuk-heading-s">Transferor title number (required)</h3>
        <input type="text" class="govuk-input govuk-!-width-one-quarter govuk-!-margin-bottom-5 saveinput" name="title_1" aria-describedby="with-hint-info with-hint-hint">
      </div>
      <button class="govuk-button govuk-button--secondary save" data-module="govuk-button">
        Add to application
      </button>
    <!-- </form> -->

      <div class="govuk-form-group">
        <h3 class="govuk-heading-s">Additional title number (optional)</h3>
        <input type="text" class="govuk-input govuk-!-width-one-quarter govuk-!-margin-bottom-5 hardstop" name="title_1" aria-describedby="with-hint-info with-hint-hint">
      </div>
      <button class="govuk-button govuk-button--secondary hardstopbutton" data-module="govuk-button">
        Add to application
      </button>

      <div class="govuk-inset-text">
        You can amend title numbers later.
      </div>

      </div>

    {{ govukButton({
      text: "Continue",
      classes: "govuk-!-margin-top-5"
    }) }}


    <script>
    
    $(".hardstopbutton").click(function () {
    
    if ($(".hardstop").val().length >= 1){
      go('../hardstop');
    }

    if ($(".hardstop").val().length === 0){
      go('../hardstop');
    }
  
    })    
      $(".save").click(function () {
    
        if ($(".saveinput").val().length >= 1){
          go('1-title-no_');
        }
    
        if ($(".hardstop").val().length === 0){
          go('1-title-no_');
        }
      
        })

    </script>










  </div>
  </div>

  <script type="application/json" id="title-form-validation">
   {
     "title": {
       "presence": {
         "message": "^Enter a title number"
       }
     }
   }
 </script>







{% endblock %}



{% block bodyEnd %}
  {% include "includes/scripts.html" %}
{% endblock %}