{% extends "drs-layout.html" %}

{% block content %}
<style>
  .govuk-table__header{
    width: 80%;
  }
</style>
<div class="govuk-grid-row">


<div class="govuk-grid-column-full">
  <span class="govuk-caption-l"></span>
    <h1 class="govuk-heading-l">Complete your application</h1>
    <p class="govuk-body-m">Provide all details and the documents you want to attach.</p>


    <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Your reference</th>
          <td scope="col" class="govuk-table__cell">Reference</td>
          <td scope="col" class="govuk-table__cell"><a style="float: right;" href="/setup/change-reference">Change</a></td>
        </tr>
      </thead>
  
      <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header govuk-!-width-one-quarter">Title number(s)</th>
              <td class="govuk-table__cell" colspan="2">ABC123{% if data['title_2'] %}, ABC456 {% endif %}</td>
              <td class="govuk-table__cell"></td>
            </tr>
  
      </tbody>
    </table>
    <h2 class="govuk-heading-m govuk-!-padding-top-5">1. Transfer of Part</h2>

</div>


  <div class="govuk-grid-column-full" style="margin-left: 35px; width: 97%;">

    <table class="govuk-table govuk-!-width-two-thirds">
        <th scope="col" class="govuk-table__header">1.1 Attach documents</th>
        <td class="govuk-table__cell"></td>
        <tbody class="govuk-table__body">
  
                <tr class="govuk-table__row">
                <td class="govuk-table__cell"><a href="9-attach-documents" class="govuk-link">Attach documents</a></td>
                <td class="govuk-table__cell"><strong style="float: right;" class="govuk-tag app-task-list__task-completed" id="contact-details-completed">Attached</strong></td>
                </tr>
  
        </tbody>
      </table>
    </div>

    <div class="govuk-grid-column-full">

</div>



    <div class="govuk-grid-column-full govuk-!-margin-top-6">
        <div style="display:block;">
        <h3 class="govuk-heading-l">Preview your e-AP1</h3>
        <a href="#"><img src="/public/images/ap1-icon.svg" style="max-width:15%; height:auto; float: left; padding-right: 25px;" alt="ap1 icon"></a>
        <h2><a href="#" class="govuk-link govuk-heading-m govuk-!-font-weight-regular">Download draft e-AP1 (PDF)</a></h2>
        <p class="govuk-body"> PDF - opens in a new window</p><br><br>
        </div>
    </div>



    <div class="govuk-grid-column-full">


    {{ govukButton({
        text: "Review application",
        classes: "govuk-!-margin-top-9",
        href: "/enhancements/end-to-end/transfer-of-part/11-review-application"
      }) }}


      {{ govukButton({
        text: "Save application and exit",
        classes: "secondary-button-save govuk-!-margin-top-9",
        href: "/../save-resume/save-confirmation"
      }) }}


      {{ govukInsetText({
          text: "To avoid requisitions, attach all relevant documents."
        }) }}
    </div>

        </div>
        </div>



{% endblock %}


{% block bodyEnd %}
  {% include "includes/scripts.html" %}
{% endblock %}