{#- We can't mount GOV.UK Frontend's assets at root as it's done automatically by the extensions framework. -#}
{%- set assetPath = '/govuk/assets' -%}

{% extends "govuk/template.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/select/macro.njk" import govukSelect %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/details/macro.njk" import govukDetails %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "govuk/components/textarea/macro.njk" import govukTextarea %}
{% from "govuk/components/character-count/macro.njk" import govukCharacterCount %}

{% block headIcons %}
  <link rel="shortcut icon" href="{{ asset_path }}images/unbranded.ico?0.18.3" type="image/x-icon" />
  <link rel="mask-icon" href="{{ asset_path }}images/gov.uk_logotype_crown.svg?0.18.3" color="#0b0c0c">
  <link rel="apple-touch-icon-precomposed" sizes="152x152" href="{{ asset_path }}images/apple-touch-icon-152x152.png?0.18.3">
  <link rel="apple-touch-icon-precomposed" sizes="120x120" href="{{ asset_path }}images/apple-touch-icon-120x120.png?0.18.3">
  <link rel="apple-touch-icon-precomposed" sizes="76x76" href="{{ asset_path }}images/apple-touch-icon-76x76.png?0.18.3">
  <link rel="apple-touch-icon-precomposed" href="{{ asset_path }}images/apple-touch-icon-60x60.png?0.18.3">
{% endblock %}

{% block head %}
  <link href="/public/stylesheets/unbranded.css" media="all" rel="stylesheet" type="text/css">
{% endblock %}

{% block header %}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full" id="headerdiv">
    <a href="/../../setup/app-start"><img src="/public/images/headerlogo.svg" alt="hmlrlogo"></a>
    <p class="govuk-heading-m" style="text-align: center; margin-top:-45px;"><a href="/../../setup/app-start" class="header-link govuk-link--no-visited-state">Digital Registration Service</a></p>
    <hr style= "height: 7px;  background: #b4d307 linear-gradient(-60deg,#b4d307,#b4d307 50%,#d7e900 0,#d7e900); border: none;">


    <div class="govuk-phase-banner govuk-!-margin-bottom-5">
        <p class="govuk-phase-banner__content">
        <strong class="govuk-tag govuk-phase-banner__content__tag">Prototype</strong>
        <span class="govuk-phase-banner__text">
        This is a prototype and not a real service.
        </span></p>
    </div>
    </div>

<form method="post" action="/transactions/transfer/transferee-representation">
<div class="govuk-grid-column-two-thirds">
    <span class="govuk-caption-l">Transfer for value (TR1)</span>
    


    <h1 class="govuk-heading-l">
      {% if data['user-type'] === 'conveyancer' %}
  
        <span>Who is representing {{ data['applicant2-individual-forename-2'] }} {{ data['applicant2-individual-surname-2'] }}?</span>
    
          <!--What is this? Is it meant to be transferee 2?
          {% if data['transferee-individual-forename'] %}
          {{ data['transferee-individual-forename'] }} {{ data['transferee-individual-surname'] }}
          {% endif %}   --> 
      {% else %}
  
        <span>Is {{ data['applicant2-individual-forename-2'] }} {{ data['applicant2-individual-surname-2'] }} represented by a conveyancer?</span>
 
          <!--What is this? Is it meant to be transferee 2?
          {% if data['transferee-individual-forename'] %}
          {{ data['transferee-individual-forename'] }} {{ data['transferee-individual-surname'] }}
          {% endif %}-->
      {% endif %}
  
  </h1>


    <div class="govuk-form-group">
<!--
      <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">

        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="transfereeRepresentation-conditional" name="transfereeRepAnswer" type="radio" value="thisConveyancer">
          <label class="govuk-label govuk-radios__label" for="transfereeRepresentation-conditional">UK Conveyancers Ltd</label>
        </div>

      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="transfereeRepresentation-conditional-2" name="transfereeRepAnswer" type="radio" value="otherConveyancer">
        <label class="govuk-label govuk-radios__label" for="transfereeRepresentation-conditional-2">
          Other conveyancer
        </label>
      </div>
          <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-transfereeRepresentation-conditional-2">
            <div class="govuk-form-group">
              <label class="govuk-label" for="transfereeRepresentation-name">Full name</label>
              <input class="govuk-input govuk-!-width-two-thirds" id="transfereeRepresentation-name" name="transfereeRepresentation-name" type="text">

              <label class="govuk-label" for="transfereeRepresentation-address">Registered address</label>
              <textarea class="govuk-textarea govuk-!-width-two-thirds" rows="5" id="transfereeRepresentation-address" name="transfereeRepresentation-address"></textarea>

              <div class="govuk-character-count" data-module="govuk-character-count" data-maxlength="25">
              <label class="govuk-label" for="transfereeRepresentation-reference">Conveyancer reference</label>
              <input class="govuk-input govuk-js-character-count govuk-!-width-one-half" id="transfereeRepresentation-reference" name="transfereeRepresentation-reference" type="text">
              <span id="with-hint-info" class="govuk-hint govuk-character-count__message" aria-live="polite"></span>
              </div>

           </div>
          </div>

        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="transfereeRepresentation-conditional-3" name="transfereeRepAnswer" type="radio" value="noConveyancer" >
          <label class="govuk-label govuk-radios__label" for="transfereeRepresentation-conditional-3">Not represented by a conveyancer</label>
        </div>
      </div>
    </div> -->


    {% if data['user-type'] === 'conveyancer' %}


    {% set otherTransfereeHtml %}
    {{ govukInput({
      id: "TransfereeOtherName",
      name: "TransfereeOtherName",
      classes: "govuk-!-width-two-thirds",
      label: {
        text: "Conveyancer full name"
      }
    }) }}

    {{ govukTextarea({
      id: "TransfereeOtherAddress",
      name: "TransfereeOtherAddress",
      classes: "govuk-!-width-two-thirds",
      rows: "5",
      label: {
        text: "Registered address"
      }
    }) }}


    {{ govukCharacterCount({
  name: "OtherConveyancerReference",
  id: "OtherConveyancerReference",
   rows: "1",
  classes: "govuk-!-width-two-thirds",
  maxlength: 25,
  label: {
    text: "Conveyancer reference"
  }
}) }}

    {% endset -%}

    {{ govukRadios({
      name: "TransfereeRepresentation",

      items: [
        
      
        {
          value: "UKConveyancersLtd",
          text: "UK Conveyancers Ltd",
          name: "TransfereeRepresentation"
          },
      
        {
          value: "OtherConveyancer",
          text: "Other conveyancer",
          name: "TransfereeRepresentation",
          conditional: {
            html: otherTransfereeHtml
          }
        },
        {
          value: "NotRepresented",
          name: "TransfereeRepresentation",
          text: "Not represented by a conveyancer"
        }
      ]
    }) }}


        {{ govukCheckboxes({
          idPrefix: "represents-all",
          name: "represents-all",
          classes: "govuk-checkboxes",
          fieldset: {

          },
          items: [
            {
              value: "This applies to all transferees (optional)",
              text: "This applies to all transferees (optional)",
              hint: {
                text: "This replaces any conveyancer details previously added"
              }
            }
          ]
        }) }}


        {% else %}

        {% set otherTransfereeHtml %}
        {{ govukInput({
          id: "TransfereeOtherName",
          name: "TransfereeOtherName",
          classes: "govuk-!-width-two-thirds",
          label: {
            text: "Conveyancer full name"
          }
        }) }}
    
        {{ govukTextarea({
          id: "TransfereeOtherAddress",
          name: "TransfereeOtherAddress",
          classes: "govuk-!-width-two-thirds",
          rows: "5",
          label: {
            text: "Registered address"
          }
        }) }}
    
    
        {{ govukCharacterCount({
      name: "OtherConveyancerReference",
      id: "OtherConveyancerReference",
       rows: "1",
      classes: "govuk-!-width-two-thirds",
      maxlength: 25,
      label: {
        text: "Conveyancer reference"
      }
    }) }}
    
        {% endset -%}
    
        {{ govukRadios({
          name: "TransfereeRepresentation",
    
          items: [
            
          
            {
              value: "AConveyancer",
              text: "Yes",
              name: "TransfereeRepresentation",
              conditional: {
                html: otherTransfereeHtml
              }
            },
            {
              value: "NotRepresented",
              name: "TransfereeRepresentation",
              text: "No"
            }
          ]
        }) }}
    
    
            {{ govukCheckboxes({
              idPrefix: "represents-all",
              name: "represents-all",
              classes: "govuk-checkboxes",
              fieldset: {
    
              },
              items: [
                {
                  value: "This applies to all transferees (optional)",
                  text: "This applies to all transferees (optional)",
                  hint: {
                    text: "This replaces any conveyancer details previously added"
                  }
                }
              ]
            }) }}

        {% endif %}

      {{ govukButton({
        text: "Continue",
        classes: "govuk-!-margin-top-5"
      }) }}
      </div>
</form>
</div>


<footer>
<div class="govuk-grid-row">
<div class="govuk-grid-column-full">
<hr style= "height: 7px;  background: #b4d307 linear-gradient(-60deg,#b4d307,#b4d307 50%,#d7e900 0,#d7e900); border: none;">
<br>
<p class="govuk-body-s" style="color: #747B7F"> The following links open in a new window
<br>
<br>
<a href="#" style="color: #747B7F"> Terms and conditions</a> | <a href="/setup/accessibility-statement" target="_blank" rel="noopener noreferrer" style="color: #747B7F">Accessibility statement</a> |  <a href="#" style="color: #747B7F">Freedom of information</a> | <a href="#" style="color: #747B7F">© Crown copyright</a></p>
</div>
</div>
</footer>


{% endblock %}


{% block footer %}
{% endblock %}

{% block bodyEnd %}
  {% include "includes/scripts.html" %}
{% endblock %}
