{#- We can't mount GOV.UK Frontend's assets at root as it's done automatically by the extensions framework. -#}
{%- set assetPath = '/govuk/assets' -%}

{% extends "govuk/template.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/select/macro.njk" import govukSelect %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/details/macro.njk" import govukDetails %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}
{% from "govuk/components/table/macro.njk" import govukTable %}



{% block headIcons %}
  <link rel="shortcut icon" href="{{ asset_path }}images/unbranded.ico?0.18.3" type="image/x-icon" />
  <link rel="mask-icon" href="{{ asset_path }}images/gov.uk_logotype_crown.svg?0.18.3" color="#0b0c0c">
  <link rel="apple-touch-icon-precomposed" sizes="152x152" href="{{ asset_path }}images/apple-touch-icon-152x152.png?0.18.3">
  <link rel="apple-touch-icon-precomposed" sizes="120x120" href="{{ asset_path }}images/apple-touch-icon-120x120.png?0.18.3">
  <link rel="apple-touch-icon-precomposed" sizes="76x76" href="{{ asset_path }}images/apple-touch-icon-76x76.png?0.18.3">
  <link rel="apple-touch-icon-precomposed" href="{{ asset_path }}images/apple-touch-icon-60x60.png?0.18.3">
{% endblock %}

{% block head %}
  <link href="/public/stylesheets/unbranded.css" media="all" rel="stylesheet" type="text/css">
{% endblock %}

{% block header %}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full" id="headerdiv">
    <a href="/../../setup/app-start"><img src="/public/images/headerlogo.svg" alt="hmlrlogo"></a>
    <p class="govuk-heading-m" style="text-align: center; margin-top:-45px;"><a href="/../../setup/app-start" class="header-link govuk-link--no-visited-state">Apply to update or create a registered title</a></p>
    <hr style= "height: 4px;  background-image: linear-gradient(-60deg, #d7e900, #d7e900 0%, #b4d307 50%, #b4d307); border: none;">


    <div class="govuk-phase-banner govuk-!-margin-bottom-5">
        <p class="govuk-phase-banner__content">
        <strong class="govuk-tag govuk-phase-banner__content__tag">Prototype</strong>
        <span class="govuk-phase-banner__text">
        This is a prototype and not a real service.
        </span></p>
    </div>
    </div>

<div class="govuk-grid-column-full">
    <span class="govuk-caption-l">Transfer for value (TR1)</span>
    <h1 class="govuk-heading-l">Confirm transferee representation</h1>
    <p class="govuk-body">Select 'Confirm & continue' to confirm representation for all transferees for this application.</p>
    <h2 class="govuk-heading-m">Transferee representation added</h2>

<form method="post" action="transferee-representation-confirmed">
  <table class="govuk-table">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header">Transferee type</th>
      <th scope="col" class="govuk-table__header">Full name</th>
      <th scope="col" class="govuk-table__header">Represented by</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          {% if data['transferee-select'] === 'yes' %}
          <td class="govuk-table__cell">Private individual</td>
          <td class="govuk-table__cell">
             {{ data['applicant-individual-forename'] }} {{ data['applicant-individual-surname'] }}
             {% endif %}
             {% if data['transferee-select'] === 'no' %}
            {{ data['transferee-individual-forename'] }} {{ data['transferee-individual-surname'] }}
            {% endif %}</td>
          <td class="govuk-table__cell" name="transferee-representation-added">UK Conveyancers LLP</td>
        </tr>
        <tr class="govuk-table__row">
          {% if data['transferee-select'] === 'yes' and data['transferee-individual-forename-2']%}
          <td class="govuk-table__cell">Private individual</td>
          <td class="govuk-table__cell">
             {{ data['applicant-individual-forename-2'] }} {{ data['applicant-individual-surname-2'] }}
             {% endif %}
             {% if data['transferee-select'] === 'no' %}
            {{ data['transferee-individual-forename-2'] }} {{ data['transferee-individual-surname-2'] }}
            </td>
          <td class="govuk-table__cell" name="transferee-representation-added">UK Conveyancers LLP{% endif %}</td>
        </tr>

        {% if data['transferee-company-name'] %}
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">UK Company or LLP</td>
          <td class="govuk-table__cell"> {{ data['transferee-company-name'] }}  </td>
          <td class="govuk-table__cell" name="transferee-representation-added">UK Conveyancers LLP</td>
        </tr>
        {% endif %}
  </tbody>
</table>



<button class="govuk-button"  data-module="govuk-button" value="" name="">
Continue</button>


</form>




<hr style= "height: 4px;  background-image: linear-gradient(-60deg, #d7e900, #d7e900 0%, #b4d307 50%, #b4d307); border: none;">
<br>
<p class="govuk-body-s"> The following links open in a new window
<br>
<br>
<a href="#"> Terms and conditions</a> | <a href="#">Freedom of information</a> | <a href="#">© Crown copyright</a></p>

</div>


{% endblock %}

<script>

</script>

{% block footer %}
{% endblock %}

{% block bodyEnd %}
  {% include "includes/scripts.html" %}
{% endblock %}
