{#- We can't mount GOV.UK Frontend's assets at root as it's done automatically by the extensions framework. -#}
{%- set assetPath = '/govuk/assets' -%}

{% extends "govuk/template.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/select/macro.njk" import govukSelect %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/details/macro.njk" import govukDetails %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}
{% from "govuk/components/table/macro.njk" import govukTable %}



{% block headIcons %}
  <link rel="shortcut icon" href="{{ asset_path }}images/unbranded.ico?0.18.3" type="image/x-icon" />
  <link rel="mask-icon" href="{{ asset_path }}images/gov.uk_logotype_crown.svg?0.18.3" color="#0b0c0c">
  <link rel="apple-touch-icon-precomposed" sizes="152x152" href="{{ asset_path }}images/apple-touch-icon-152x152.png?0.18.3">
  <link rel="apple-touch-icon-precomposed" sizes="120x120" href="{{ asset_path }}images/apple-touch-icon-120x120.png?0.18.3">
  <link rel="apple-touch-icon-precomposed" sizes="76x76" href="{{ asset_path }}images/apple-touch-icon-76x76.png?0.18.3">
  <link rel="apple-touch-icon-precomposed" href="{{ asset_path }}images/apple-touch-icon-60x60.png?0.18.3">
{% endblock %}

{% block head %}
  <link href="/public/stylesheets/unbranded.css" media="all" rel="stylesheet" type="text/css">
{% endblock %}

{% block header %}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full" id="headerdiv">
    <a href="/../../setup/app-start"><img src="/public/images/headerlogo.svg" alt="hmlrlogo"></a>
    <p class="govuk-heading-m" style="text-align: center; margin-top:-45px;"><a href="/../../setup/app-start" class="header-link govuk-link--no-visited-state">Digital Registration Service</a></p>
    <hr style= "height: 7px;  background: #b4d307 linear-gradient(-60deg,#b4d307,#b4d307 50%,#d7e900 0,#d7e900); border: none;">


    <div class="govuk-phase-banner govuk-!-margin-bottom-5">
        <p class="govuk-phase-banner__content">
        <strong class="govuk-tag govuk-phase-banner__content__tag">Prototype</strong>
        <span class="govuk-phase-banner__text">
        This is a prototype and not a real service.
        </span></p>
    </div>
    </div>

<div class="govuk-grid-column-full">
  <form method="post">
    <span class="govuk-caption-l">Transfer for value (TR1)</span>
    <h1 class="govuk-heading-l">Verify identity</h1>

    <h2 class="govuk-heading-m">Declaration</h2>
    <p>John Smith is not represented by a conveyancer.</p>

    <h3 class="govuk-heading-m">Select the correct statement:</h3>


    <div class="govuk-form-group">
  <fieldset class="govuk-fieldset">
      <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">

    <div class="govuk-radios">
      {% if data['user-type'] === 'conveyancer' %}
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="verify-transferor-1" name="verify-transferor" type="radio" value="verified">
        <label class="govuk-label govuk-radios__label" for="verify-transferor-1">
          I am satisfied that sufficient steps have been taken to verify their identity and that they are the registered proprietor or have the right to be registered as the proprietor
        </label>
      </div>
      {% endif %}
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="verify-transferor-2" name="verify-transferor" type="radio" value="evidence" data-aria-controls="Verify-1-hint">
        <label class="govuk-label govuk-radios__label" for="verify-transferor-2">
          I will attach evidence of their identity with this application
        </label>
      </div>

      <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="Verify-1-hint">
        <div class="govuk-hint govuk-!-width-full">
          See <a href="#">Practice Guide 67</a> (link opens in a new window) for information about providing proof of identity.
  </div>
  </div>

   <div class="govuk-radios__divider">or</div>

      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="verify-transferor-3" name="verify-transferor" type="radio" value="evidence" data-aria-controls="Verify-2-hint">
        <label class="govuk-label govuk-radios__label" for="verify-transferor-3">
          I do not need to provide evidence of their identity
        </label>
      </div>

      <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="Verify-2-hint">
        <div class="govuk-hint govuk-!-width-full">
          See <a href="#">Practice Guide 67</a> (link opens in a new window) for details of when you do not need to prove their identity.
  </div>
  </div>


    </div>
    </div>
  </fieldset>
</div>



{{ govukButton({
  text: "Continue",
  href: "transferor-representation"
}) }}

</form>

<footer>
<div class="govuk-grid-row">
<div class="govuk-grid-column-full">
<hr style= "height: 7px;  background: #b4d307 linear-gradient(-60deg,#b4d307,#b4d307 50%,#d7e900 0,#d7e900); border: none;">
<br>
<p class="govuk-body-s" style="color: #747B7F"> The following links open in a new window
<br>
<br>
<a href="#" style="color: #747B7F"> Terms and conditions</a> | <a href="/setup/accessibility-statement" target="_blank" rel="noopener noreferrer" style="color: #747B7F">Accessibility statement</a> |  <a href="#" style="color: #747B7F">Freedom of information</a> | <a href="#" style="color: #747B7F">© Crown copyright</a></p>
</div>
</div>
</footer>
</div>

</div>
{% endblock %}


{% block footer %}
{% endblock %}

{% block bodyEnd %}
  {% include "includes/scripts.html" %}
{% endblock %}
