{#- We can't mount GOV.UK Frontend's assets at root as it's done automatically by the extensions framework. -#}
{%- set assetPath = '/govuk/assets' -%}

{% extends "govuk/template.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/select/macro.njk" import govukSelect %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/details/macro.njk" import govukDetails %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}
{% from "govuk/components/table/macro.njk" import govukTable %}



{% block headIcons %}
  <link rel="shortcut icon" href="{{ asset_path }}images/unbranded.ico?0.18.3" type="image/x-icon" />
  <link rel="mask-icon" href="{{ asset_path }}images/gov.uk_logotype_crown.svg?0.18.3" color="#0b0c0c">
  <link rel="apple-touch-icon-precomposed" sizes="152x152" href="{{ asset_path }}images/apple-touch-icon-152x152.png?0.18.3">
  <link rel="apple-touch-icon-precomposed" sizes="120x120" href="{{ asset_path }}images/apple-touch-icon-120x120.png?0.18.3">
  <link rel="apple-touch-icon-precomposed" sizes="76x76" href="{{ asset_path }}images/apple-touch-icon-76x76.png?0.18.3">
  <link rel="apple-touch-icon-precomposed" href="{{ asset_path }}images/apple-touch-icon-60x60.png?0.18.3">
{% endblock %}

{% block head %}
  <link href="/public/stylesheets/unbranded.css" media="all" rel="stylesheet" type="text/css">
{% endblock %}

{% block header %}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full" id="headerdiv">
    <a href="/../../setup/app-start"><img src="/public/images/headerlogo.svg" alt="hmlrlogo"></a>
    <p class="govuk-heading-m" style="text-align: center; margin-top:-45px;"><a href="/../../setup/app-start" class="header-link govuk-link--no-visited-state">Apply to update or create a registered title</a></p>
    <hr style= "height: 4px;  background-image: linear-gradient(-60deg, #d7e900, #d7e900 0%, #b4d307 50%, #b4d307); border: none;">


    <div class="govuk-phase-banner govuk-!-margin-bottom-5">
        <p class="govuk-phase-banner__content">
        <strong class="govuk-tag govuk-phase-banner__content__tag">Prototype</strong>
        <span class="govuk-phase-banner__text">
        This is a prototype and not a real service.
        </span></p>
    </div>
    </div>

<div class="govuk-grid-column-full">
    <span class="govuk-caption-l">[Transaction name]</span>
    <h1 class="govuk-heading-l">Which applicants are transferees?</h1>
    <p class="govuk-body">Select all that apply, or none.</p>

<form method="post" action="transferee-applicants-answer" class="">
    <div class="govuk-form-group">
      <fieldset class="govuk-fieldset" aria-describedby="waste-hint">


    <div class="govuk-checkboxes">
    {% if data['applicant-individual-forename'] %}
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="" name="applicant-individual-transferee1" type="checkbox" value="applicant1-transferee-1">
            <label class="govuk-label govuk-checkboxes__label" for="applicant-individual-transferee">
              {{ data['applicant-individual-forename'] }} {{ data['applicant-individual-surname'] }}
            </label>
          </div>
    {% endif %}

    <div class="govuk-checkboxes">
    {% if data['applicant-individual-forename-2'] %}
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="" name="applicant-individual-transferee2" type="checkbox" value="applicant1-transferee-1">
            <label class="govuk-label govuk-checkboxes__label" for="applicant-individual-transferee">
              {{ data['applicant-individual-forename-2'] }} {{ data['applicant-individual-surname-2'] }}
            </label>
          </div>
    {% endif %}

    <div class="govuk-checkboxes">
    {% if data['applicant-individual-forename-3'] %}
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="" name="applicant-individual-transferee3" type="checkbox" value="applicant1-transferee-1">
            <label class="govuk-label govuk-checkboxes__label" for="applicant-individual-transferee">
              {{ data['applicant3-individual-forename-3'] }} {{ data['applicant3-individual-surname-3'] }}
            </label>
          </div>
    {% endif %}



    {% if data['applicant-company-name'] %}
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="" name="applicant-company-transferee1" type="checkbox" value="applicant1-transferee-1">
            <label class="govuk-label govuk-checkboxes__label" for="applicant-company-transfere">
              {{ data['applicant-company-name'] }}
            </label>
          </div>
    {% endif %}

    {% if data['applicant2-company-name-2'] %}
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="" name="applicant-company-transferee2" type="checkbox" value="applicant2-company-transferee">
            <label class="govuk-label govuk-checkboxes__label" for="applicant-transferee">
              {{ data['applicant2-company-name-2'] }}
            </label>
          </div>
    {% endif %}

    {% if data['applicant3-company-name-3'] %}
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="" name="applicant-company-transferee3" type="checkbox" value="applicant-transferee-4">
            <label class="govuk-label govuk-checkboxes__label" for="applicant-transferee">
              {{ data['applicant3-company-name-3'] }}
            </label>
          </div>
    {% endif %}

    {% if data['applicant-overseas-name'] %}
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="" name="applicant-overseas-transferee1" type="checkbox" value="applicant-transferee-4">
            <label class="govuk-label govuk-checkboxes__label" for="applicant-transferee">
              {{ data['applicant-overseas-name'] }}
            </label>
          </div>
    {% endif %}

    {% if data['applicant2-overseas-name'] %}
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="" name="applicant-overseas-transferee2" type="checkbox" value="applicant-transferee-4">
            <label class="govuk-label govuk-checkboxes__label" for="applicant-transferee">
              {{ data['applicant2-overseas-name'] }}
            </label>
          </div>
    {% endif %}

    {% if data['applicant3-overseas-name'] %}
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="" name="applicant-overseas-transferee3" type="checkbox" value="applicant-transferee-4">
            <label class="govuk-label govuk-checkboxes__label" for="applicant-transferee">
              {{ data['applicant3-overseas-name'] }}
            </label>
          </div>
    {% endif %}

    {% if data['applicant-other-name'] %}
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="" name="applicant-other-transferee1" type="checkbox" value="applicant-transferee-4">
            <label class="govuk-label govuk-checkboxes__label" for="applicant-transferee">
              {{ data['applicant-other-name'] }}
            </label>
          </div>
    {% endif %}



    <br>
    <div class="govuk-radios__item">
       <input class="govuk-radios__input" id="no-applicants-transferees" name="applicant-none-transferee" type="radio" value="none">
       <label class="govuk-label govuk-radios__label" for="applicant-transferees">
         None
       </label>

      </fieldset>
      </div>


<button class="govuk-button" data-module="govuk-button">Continue</button>
</form>

<hr style= "height: 4px;  background-image: linear-gradient(-60deg, #d7e900, #d7e900 0%, #b4d307 50%, #b4d307); border: none;">
<br>
<p class="govuk-body-s"> The following links open in a new window
<br>
<br>
<a href="#"> Terms and conditions</a> | <a href="#">Freedom of information</a> | <a href="#">© Crown copyright</a></p>

</div>


{% endblock %}


{% block footer %}
{% endblock %}

{% block bodyEnd %}
  {% include "includes/scripts.html" %}
{% endblock %}
