{% extends "drs-layout.html" %}

{% block content %}

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">

    <span class="govuk-caption-xl"></span>
    <h1 class="govuk-heading-xl"> Enter title numbers </h1>
    <p class="govuk-body">You can add up to 25 titles per application.</p>

    <details class="govuk-details" data-module="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">About applications relating to more than one title number</span>
      </summary>
      <div class="govuk-details__text">
        You can use this service for applications of up to 25 title numbers. In order to register multiple title numbers in one application:
        <br><br>
        <ul class="govuk-list govuk-list--bullet">
        <li>all titles must have the same proprietors registered against each title number
        <li >transferors and transferees must be the the same for each title number
        </ul>
      </div>
    </details>

  <form action="1-title-no_l">
    <div class="govuk-character-count" data-module="govuk-character-count" data-maxlength="25">
      <div class="govuk-form-group" style="display: flex;">
        <h3 class="govuk-heading-s" style="width:35%;">Landlord title number (required)</h3>
        <input type="text" class="govuk-input govuk-!-width-one-quarter govuk-!-margin-bottom-5" style="margin-right:30px; margin-left:20px;" name="title_1" aria-describedby="with-hint-info with-hint-hint">
        <button class="govuk-button govuk-button--secondary" data-module="govuk-button">
          Add to application
        </button>

      </div>
    </form>

      <form action="1-title-no_t">


      <div class="govuk-form-group" style="display: flex;">
        <h3 class="govuk-heading-s" style="width:35%;">Tenant title number (required)</h3>
        <input type="text" class="govuk-input govuk-!-width-one-quarter govuk-!-margin-bottom-5" style="margin-right:30px; margin-left:20px;" name="title_1" aria-describedby="with-hint-info with-hint-hint">
        <button class="govuk-button govuk-button--secondary" data-module="govuk-button">
          Add to application
        </button>

      </div>
    </form>
    <form action="#">


      <div class="govuk-form-group" style="display: flex;">
        <h3 class="govuk-heading-s" style="width:35%;">Additional title number (optional)</h3>
        <input type="text" class="govuk-input govuk-!-width-one-quarter govuk-!-margin-bottom-5" style="margin-right:30px; margin-left:20px;" name="title_1" aria-describedby="with-hint-info with-hint-hint">
        <button class="govuk-button govuk-button--secondary" data-module="govuk-button">
          Add to application
        </button>

      </div>

      
      <div class="govuk-inset-text">
        You can amend title numbers later.
      </div>

    </div>

    {{ govukButton({
      text: "Continue",
      classes: "govuk-!-margin-top-5",
      href:"2-title-app"
    }) }}

  </form>
  </div>
  </div>

  <script type="application/json" id="title-form-validation">
   {
     "title": {
       "presence": {
         "message": "^Enter a title number"
       }
     }
   }
 </script>







{% endblock %}



{% block bodyEnd %}
  {% include "includes/scripts.html" %}
{% endblock %}