{% extends "drs-layout.html" %}

{% block content %}

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">

              <form method="get" action="are-you-a-conveyancer" data-validate="reference-form-validation" novalidate>

                  <h1 class="govuk-heading-xl"> Enter your reference </h1>

                      <div class="govuk-character-count" data-module="govuk-character-count" data-maxlength="25">

                        <div class="govuk-form-group">
                          <label class="govuk-label" for="with-hint">
                            Type in your reference for this application
                          </label>

                          <input type="text" class="govuk-input govuk-!-width-two-thirds" id="with-hint" name="reference" aria-describedby="with-hint-info with-hint-hint">
                        </div>

                      </div>


                    {{ govukButton({
                      text: "Continue",
                      href: "/startpage-testing/version-1/are-you-a-conveyancer.html"
                    }) }}

              </form>
            </div>
        </div>

        <footer>
        <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
        <hr style= "height: 7px;  background: #b4d307 linear-gradient(-60deg,#b4d307,#b4d307 50%,#d7e900 0,#d7e900); border: none;">
        <br>
        <p class="govuk-body-s" style="color: #747B7F"> The following links open in a new tab.
        <br>
        <br>
        <a href="#" style="color: #747B7F"> Terms and conditions</a> | <a href="/setup/accessibility-statement" target="_blank" rel="noopener noreferrer" style="color: #747B7F">Accessibility statement</a> |  <a href="#" style="color: #747B7F">Cookies</a> | <a href="#" style="color: #747B7F">Freedom of information</a> | <a href="#" style="color: #747B7F">© Crown copyright</a></p>
        </div>
        </div>
        </footer>


{% endblock %}


{% block footer %}
{% endblock %}

{% block bodyEnd %}
{% endblock %}
