{% extends "drs-layout.html" %}

{% block content %}
<div class="govuk-grid-row">

<div class="govuk-grid-column-full">
  <span class="govuk-caption-l"></span>


    <h1 class="govuk-heading-xl">Saved applications</h1>

    <p class="govuk-body">Saved applications are available for up to 90 days.</p>

<form method="post" action="/enhancements/which-task-list">


<table class="govuk-table" id="applicantlist">

  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header">Reference</th>
      <th scope="col" class="govuk-table__header">Titles</th>
      <th scope="col" class="govuk-table__header">Property</th>
      <th scope="col" class="govuk-table__header">Applicants</th>
      <th scope="col" class="govuk-table__header">Created</th>
      <th scope="col" class="govuk-table__header">Options</th>
    </tr>
  </thead>
    <tbody class="govuk-table_body">
      <tr class="govuk-table_row" id="hidePI">
      <td class="govuk-table__cell">Charge</td>
      <td class="govuk-table__cell">DN100</td>
      <td class="govuk-table__cell">1 High Street, Plymouth</td>
      <td class="govuk-table__cell">Harry Potter</td>
      <td class="govuk-table__cell">25 May 22</td>
      <td class="govuk-table__cell govuk-link"><a href="#">Change</a><br><a  href="#"">Remove</a></td>
    </tbody>

      </table>

</form>

<p class="govuk-body">
  <a href="start" class="govuk-link govuk-link--no-visited-state">Start a new application</a>
  </p>

</div>
</div>


<footer>
<div class="govuk-grid-row">
<div class="govuk-grid-column-full">
<hr style= "height: 7px;  background: #b4d307 linear-gradient(-60deg,#b4d307,#b4d307 50%,#d7e900 0,#d7e900); border: none;">
<br>
<p class="govuk-body-s" style="color: #747B7F"> The following links open in a new tab.
<br>
<br>
<a href="#" style="color: #747B7F"> Terms and conditions</a> | <a href="/setup/accessibility-statement" target="_blank" rel="noopener noreferrer" style="color: #747B7F">Accessibility statement</a> |  <a href="#" style="color: #747B7F">Cookies</a> | <a href="#" style="color: #747B7F">Freedom of information</a> | <a href="#" style="color: #747B7F">© Crown copyright</a></p>
</div>
</div>
</footer>


{% endblock %}


{% block footer %}
{% endblock %}

{% block bodyEnd %}
{% endblock %}
