{% extends "drs-layout.html" %}

{% block content %}
<style>
  .govuk-checkboxes__label{
    padding: 0px 15px;
  }
  /* .govuk-checkboxes__label:last-child{
    padding: 6px 15px;
  } */
</style>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds" style="margin-top: -35px; margin-bottom:10px;">
    <a href="/enhancements/Transfer-Charge/tasks-complete-your-application" class="govuk-back-link">Return to task list</a>
  </div>

<div class="govuk-grid-column-two-thirds">
  <form method="post" action="/enhancements/transfer-checklist">
  <span class="govuk-caption-l">Transfer for value (TR1)</span>
  <h1 class="govuk-heading-l">Attachment checklist</h1>

        {{ govukCheckboxes({
        idPrefix: "checklist",
        name: "transfer-checklist",
        hint: {
          text: "Before attaching documents confirm you have made the following checks (where relevant) to avoid requisitions."
        },
        items: [
          {
            value: "1",
            classes: "govuk-checkboxes__label",
            text: "Names you input are consistent with how they appear in deeds and on the register"
          },
          {
            value: "2",
            text: "Naming inconsistencies are explained by the appropriate documentation"
          },
          {
            value: "3",
            text: "Deeds contain, where appropriate, the correct title numbers and dates"
          },
          {
            value: "4",
            text: "Executions are complete and correct, and signed by all necessary witnesses"
          },
          {
            value: "5",
            text: "Plans show all necessary references and have been signed"
          }
        ]
        }) }}



{{ govukButton({
classes: "govuk-!-margin-top-5",
text: "Continue"
}) }}


{{ govukButton({
  text: "Return to task list",
  classes: "govuk-button--secondary govuk-!-margin-top-5"
}) }}

</form>
</div>



</div>

<!-- <script>
  function RemoveTransfereeIndividual() {
  var x = document.getElementById("hidePI");
  if (x.style.display === "none") {
    x.style.display = "block";
  } else {
    x.style.display = "none";
  }
}


  function RemoveTransfereeUK() {
  var x = document.getElementById("hideUK");
  if (x.style.display === "none") {
    x.style.display = "block";
  } else {
    x.style.display = "none";
  }
}

</script> -->

{% endblock %}



{% block bodyEnd %}
  {% include "includes/scripts.html" %}
{% endblock %}
