{% include "includes/header.html" %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/select/macro.njk" import govukSelect %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/details/macro.njk" import govukDetails %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}
{% from "govuk/components/table/macro.njk" import govukTable %}


{% block content %}
<div class="govuk-grid-row">


<div class="govuk-grid-column-full">
  <a href="/charge-without-transfer/transactions/charge-tasks" class="govuk-back-link">Return to task list</a>

    <span class="govuk-caption-l">Charge</span>
    <h1 class="govuk-heading-l">Add address for service</h1>
    <h2 class="govuk-heading-m">For lender:   {{ data['charge-lender-company-name']}}</h2>


      <br>

    <form method="post" action="/transactions/charge/charge-lender-addresstype-answer">
      <h3 class="govuk-heading-s">Select address type</h3>
    <div class="govuk-radios">

        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="select-address-type" name="lenderAddressType" type="radio" value="UK-postal">
          <label class="govuk-label govuk-radios__label" for="select-address-type">
        UK postal address
      </label>
        </div>

        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="select-address-type-2" name="lenderAddressType" type="radio" value="Overseas-postal">
          <label class="govuk-label govuk-radios__label" for="select-address-type-2">
        Overseas postal address
      </label>
        </div>

        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="select-address-type-3" name="lenderAddressType" type="radio" value="PO-box">
          <label class="govuk-label govuk-radios__label" for="select-address-type-3">
        PO Box (postal address)
      </label>
        </div>

        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="select-address-type-4" name="lenderAddressType" type="radio" value="email">
          <label class="govuk-label govuk-radios__label" for="select-address-type-4">
        Email address
      </label>
        </div>

        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="select-address-type-5" name="lenderAddressType" type="radio" value="DX">
          <label class="govuk-label govuk-radios__label" for="select-address-type-5">
          DX address
          </label>
        </div>

        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="select-address-type-6" name="lenderAddressType" type="radio" value="BFPO">
            <label class="govuk-label govuk-radios__label" for="select-address-type-6">
            BFPO postal address (armed forces)
            </label>
        </div>
  </div>


{{ govukButton({
  classes: "govuk-!-margin-top-9",
  text: "Continue",
  type: "Submit",
  value: "Submit"
}) }}

</form>


</div>

</div>

{% endblock %}


{% include "includes/footer.html" %}
