{% include "includes/header.html" %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/select/macro.njk" import govukSelect %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/details/macro.njk" import govukDetails %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}
{% from "govuk/components/table/macro.njk" import govukTable %}

{% block content %}
<div class="govuk-grid-row">

<div class="govuk-grid-column-full">
  <form method="post" action="address-list">
    <span class="govuk-caption-l">Charge</span>
    <h1 class="govuk-heading-l">Select UK postal address</h1>


    <h3 class="govuk-heading-s">Postcode</h3>
    <p class="govuk-body">{{ data['lenderUKpostcode'] }}<a class="govuk-link" href='#' style="margin-left: 10px;">Change </a></p>

    <h4 class="govuk-heading-s">Select address</h4>
    <div class="govuk-form-group">
      <select class="govuk-select govuk-!-width-one-half" id="addressResults" name="addressResults">
        <option value="addressresults0" selected>11 addresses found</option>
        <option value="addressresult1">1, King's Road,	Greater Haxten,	Wiltshire, LH17 7EQ</option>
        <option value="addressresult2" >2a, King's Road,	Greater Haxten,	Wiltshire, LH17 7EQ</option>
        <option value="addressresult2" >2b, King's Road,	Greater Haxten,	Wiltshire, LH17 7EQ</option>
        <option value="addressresult3">3, King's Road,	Greater Haxten,	Wiltshire, LH17 7EQ</option>
        <option value="addressresult4">4, King's Road,	Greater Haxten,	Wiltshire, LH17 7EQ</option>
        <option value="addressresult4">5, King's Road,	Greater Haxten,	Wiltshire, LH17 7EQ</option>
        <option value="addressresult4">6, King's Road,	Greater Haxten,	Wiltshire, LH17 7EQ</option>
        <option value="addressresult4">7, King's Road,	Greater Haxten,	Wiltshire, LH17 7EQ</option>
        <option value="addressresult4">8, King's Road,	Greater Haxten,	Wiltshire, LH17 7EQ</option>
        <option value="addressresult4">9, King's Road,	Greater Haxten,	Wiltshire, LH17 7EQ</option>
        <option value="addressresult4">10, King's Road,	Greater Haxten,	Wiltshire, LH17 7EQ</option>
      </select>
    </div>

    <p class="govuk-body"> <a href="#" class="govuk-link">I can't find address in the list</a></p>


    <h5 class="govuk-heading-m">More actions</h5>


    {{ govukInput({
      label: {
        text: "Add c/o name (optional)"
      },
      hint: {
        text: "If it's a 'care of' address, enter the addressee's name"
      },
      id: "care-of",
      name: "care-of",
      classes: "govuk-!-width-one-half"
    }) }}

    <!-- {% if data['applicant2-individual-forename-2'] %}
    <p class="govuk-body">Add this address to the following transferees: (optional)</p>

    <div class="govuk-checkboxes">
        <div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="applicant2-address1" name="applicant2address" type="checkbox" value="true">
          <label class="govuk-label govuk-checkboxes__label" for="applicant2address">
            {{ data['applicant2-individual-forename-2'] }} {{ data['applicant2-individual-surname-2'] }}
          </label>
          {% endif %} -->

          <br>




{{ govukButton({
  text: "Continue",
  Value: "yes"
}) }}
</form>


</div>
</div>

{% endblock %}
{% include "includes/footer.html" %}