{% extends "layout_unbranded.html" %}

{% extends "govuk/template.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/select/macro.njk" import govukSelect %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/details/macro.njk" import govukDetails %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}
{% from "govuk/components/table/macro.njk" import govukTable %}



{% block headIcons %}
  <link rel="shortcut icon" href="{{ asset_path }}images/unbranded.ico?0.18.3" type="image/x-icon" />
  <link rel="mask-icon" href="{{ asset_path }}images/gov.uk_logotype_crown.svg?0.18.3" color="#0b0c0c">
  <link rel="apple-touch-icon-precomposed" sizes="152x152" href="{{ asset_path }}images/apple-touch-icon-152x152.png?0.18.3">
  <link rel="apple-touch-icon-precomposed" sizes="120x120" href="{{ asset_path }}images/apple-touch-icon-120x120.png?0.18.3">
  <link rel="apple-touch-icon-precomposed" sizes="76x76" href="{{ asset_path }}images/apple-touch-icon-76x76.png?0.18.3">
  <link rel="apple-touch-icon-precomposed" href="{{ asset_path }}images/apple-touch-icon-60x60.png?0.18.3">
{% endblock %}

{% block head %}
  <link href="/public/stylesheets/unbranded.css" media="all" rel="stylesheet" type="text/css">
{% endblock %}

{% block header %}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full" id="headerdiv">
    <a href="/../../setup/app-start"><img src="/public/images/headerlogo.svg" alt="hmlrlogo"></a>
    <p class="govuk-heading-m" style="text-align: center; margin-top:-45px;"><a href="/../../setup/app-start" class="header-link govuk-link--no-visited-state">Digital Registration Service</a></p>
    <hr style= "height: 7px;  background: #b4d307 linear-gradient(-60deg,#b4d307,#b4d307 50%,#d7e900 0,#d7e900); border: none;">


    <div class="govuk-phase-banner govuk-!-margin-bottom-5">
        <p class="govuk-phase-banner__content">
        <strong class="govuk-tag govuk-phase-banner__content__tag">Prototype</strong>
        <span class="govuk-phase-banner__text">
        This is a prototype and not a real service.
        </span></p>
    </div>
    </div>

      <div class="govuk-grid-column-full">
        <span class="govuk-caption-xl"></span>
          <h1 class="govuk-heading-xl">Complete your application</h1>
          <p class="govuk-body-m">Provide all details and the documents you want to attach.</p>


          <table class="govuk-table">
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header">Your reference</th>
                <td scope="col" class="govuk-table__cell">RX1-001/A</td>
                <td scope="col" class="govuk-table__cell"></td>
              </tr>
            </thead>

            <tbody class="govuk-table__body">
                  <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">Title</th>
                    <td class="govuk-table__cell" colspan="2">LH1 1AA</td>

                  </tr>

                  <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">Description</th>
                    <td class="govuk-table__cell" colspan="2">11, St William Road, Littlehaxten, Wiltshire LH1 3AB</td>

                  </tr>
            </tbody>
          </table>
      </div>

      <div class="govuk-grid-column-full">

        <h2 class="govuk-heading-m govuk-!-padding-top-5">1. Restriction (RX1)</h2>

        <div class="govuk-grid-column-full" style="margin-left: 40px; width: 97%;">
          <table class="govuk-table govuk-!-width-two-thirds">
              <th scope="col" class="govuk-table__header">1.1 Restriction details</th>
                <td class="govuk-table__cell"></td>
                <tbody class="govuk-table__body">
                      <tr class="govuk-table__row">
                        <td class="govuk-table__cell"><a href="standard" class="govuk-link govuk-link--no-visited-state">Is the restriction standard or non-standard?</a></td>
                        <td class="govuk-table__cell">{% if data['standard-nonstandard'] %}<strong class="govuk-tag app-task-list__task-completed" id="contact-details-completed">Completed</strong>{% endif %}</td>

                      <tr class="govuk-table__row">
                        <td class="govuk-table__cell"><a href="/restrictions/select-form" class="govuk-link govuk-link--no-visited-state">Select form</a></td>
                        <td class="govuk-table__cell">{% if data['form'] %}<strong class="govuk-tag app-task-list__task-completed" id="contact-details-completed">Completed</strong>{% endif %}</td>
                      <tr class="govuk-table__row">
                        <td class="govuk-table__cell"><a href="certification" class="govuk-link govuk-link--no-visited-state">Select signatories</a></td>
                        <td class="govuk-table__cell">{% if data['signatory1AddressType'] %}<strong class="govuk-tag app-task-list__task-completed" id="contact-details-completed">Completed</strong>{% endif %}</td>

                      <tr class="govuk-table__row">
                        <td class="govuk-table__cell"><a href="limitation" class="govuk-link govuk-link--no-visited-state">Select limitation</a></td>
                        <td class="govuk-table__cell">{% if data['limitation'] %}<strong class="govuk-tag app-task-list__task-completed" id="contact-details-completed">Completed</strong>{% endif %}</td>

                      <tr class="govuk-table__row">
                        <td class="govuk-table__cell"><a href="death-of-survivor-infill" class="govuk-link govuk-link--no-visited-state">Restriction text</a></td>
                      <td class="govuk-table__cell">{% if data['one-infills-type'] %}<strong class="govuk-tag app-task-list__task-completed" id="contact-details-completed">Completed</strong>{% endif %}</td>
                      <tr class="govuk-table__row">
                        <td class="govuk-table__cell"><a href="entitlement" class="govuk-link govuk-link--no-visited-state">Entitlement</a></td>
                        <td class="govuk-table__cell">{% if data['entitlement'] %}<strong class="govuk-tag app-task-list__task-completed" id="contact-details-completed">Completed</strong>{% endif %}</td>
              </tbody>

                <th scope="col" class="govuk-table__header">1.2 Supporting documents</th>
                  <td class="govuk-table__cell"></td>
                  <tbody class="govuk-table__body">
                        <tr class="govuk-table__row">
                          <td class="govuk-table__cell"><a href="attach-documents" class="govuk-link govuk-link--no-visited-state">Attach documents</a></td>
                          <td class="govuk-table__cell">{% if data[''] %}<strong class="govuk-tag app-task-list__task-completed" id="contact-details-completed">Completed</strong>{% endif %}</td>





          </table>




          </div>
      </div>

      <div class="govuk-grid-column-full">




    {{ govukButton({
        text: "Review application",
        classes: "govuk-!-margin-top-9",
        href: "#"
      }) }}


      {{ govukButton({
        text: "Save application and exit",
        classes: "secondary-button-save govuk-!-margin-top-9",
        href: "#"
      }) }}


      {{ govukInsetText({
          text: "To avoid requisitions, attach all relevant documents."
        }) }}

        </div>

        <footer>
        <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
        <hr style= "height: 7px;  background: #b4d307 linear-gradient(-60deg,#b4d307,#b4d307 50%,#d7e900 0,#d7e900); border: none;">
        <br>
        <p class="govuk-body-s" style="color: #747B7F"> The following links open in a new window
        <br>
        <br>
        <a href="#" style="color: #747B7F"> Terms and conditions</a> | <a href="/setup/accessibility-statement" target="_blank" rel="noopener noreferrer" style="color: #747B7F">Accessibility statement</a> |  <a href="#" style="color: #747B7F">Freedom of information</a> | <a href="#" style="color: #747B7F">© Crown copyright</a></p>
        </div>
        </div>
        </footer>


{% endblock %}


{% block footer %}
{% endblock %}

{% block bodyEnd %}
  {% include "includes/scripts.html" %}
{% endblock %}
