{% extends "drs-layout.html" %}

{% block content %}

<main class="govuk-main-wrapper" style="padding: 0; padding-bottom: 20px;" id="main-content" role="main">

<div class="govuk-grid-row">
  <div class="govuk-grid-full">

    <span class="govuk-caption-xl"></span>
    <h1 class="govuk-heading-xl"> Title details</h1>

      <h2 class="govuk-heading-m">Application type: Removal a default Form A restriction (JP1)</h2>

        <br>

    <form method="post">

      <table class="govuk-table">
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header govuk-!-width-one-third">Title number</th>
          <td class="govuk-table__cell govuk-!-width-one-half">ABC123</td>
          <td class="govuk-table__cell govuk-!-width-one-quarter" style="text-align: right"><a class="govuk-link govuk-link--no-visited-state" href="/startpage-testing/JP1/enter_title.html">Change</a></td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Property</th>
          <td class="govuk-table__cell">1 Main Road, Littlehaxten, LH1 1AA</td>
          <td class="govuk-table__cell"></td>
        </tr>
      </tbody>
    </table>

    <br>

    <p class="govuk-!-width-two-thirds govuk-body" style="font-weight: bold;">Ensure all details are correct before continuing. You will not be able to change the title numbers later in the application.</p>


    {{ govukButton({
      text: "Continue",
      href: "LR_reference"
        }) }}

  </form>
  </div>
  </div>

  </main>

  <br><br>

  <footer>
  <div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
  <hr style= "height: 7px;  background: #b4d307 linear-gradient(-60deg,#b4d307,#b4d307 50%,#d7e900 0,#d7e900); border: none;">
  <br>
  <p class="govuk-body-s" style="color: #747B7F"> The following links open in a new tab.
  <br>
  <br>
  <a href="#" style="color: #747B7F"> Terms and conditions</a> | <a href="/setup/accessibility-statement" target="_blank" rel="noopener noreferrer" style="color: #747B7F">Accessibility statement</a> |  <a href="#" style="color: #747B7F">Cookies</a> | <a href="#" style="color: #747B7F">Freedom of information</a> | <a href="#" style="color: #747B7F">© Crown copyright</a></p>
  </div>
  </div>
  </footer>


  {% endblock %}


  {% block footer %}
  {% endblock %}

  {% block bodyEnd %}
  {% include "includes/scripts.html" %}
  {% endblock %}
