{#- We can't mount GOV.UK Frontend's assets at root as it's done automatically by the extensions framework. -#}
{%- set assetPath = '/govuk/assets' -%}

{% extends "govuk/template.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}


{% block headIcons %}
  <link rel="shortcut icon" href="{{ asset_path }}images/unbranded.ico?0.18.3" type="image/x-icon" />
  <link rel="mask-icon" href="{{ asset_path }}images/gov.uk_logotype_crown.svg?0.18.3" color="#0b0c0c">
  <link rel="apple-touch-icon-precomposed" sizes="152x152" href="{{ asset_path }}images/apple-touch-icon-152x152.png?0.18.3">
  <link rel="apple-touch-icon-precomposed" sizes="120x120" href="{{ asset_path }}images/apple-touch-icon-120x120.png?0.18.3">
  <link rel="apple-touch-icon-precomposed" sizes="76x76" href="{{ asset_path }}images/apple-touch-icon-76x76.png?0.18.3">
  <link rel="apple-touch-icon-precomposed" href="{{ asset_path }}images/apple-touch-icon-60x60.png?0.18.3">
{% endblock %}

{% block head %}
  <link href="/public/stylesheets/unbranded.css" media="all" rel="stylesheet" type="text/css">
{% endblock %}

{% block header %}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full" id="headerdiv">
      <a href="/../../startpage-testing/index.html"><img src="/public/images/headerlogo.svg" alt="hmlrlogo"></a>
      <hr style= "height: 7px;  background: #b4d307 linear-gradient(-60deg,#b4d307,#b4d307 50%,#d7e900 0,#d7e900); border: none;">


    <div class="govuk-phase-banner">
        <p class="govuk-phase-banner__content">
        <strong class="govuk-tag govuk-phase-banner__content__tag">Prototype</strong>
        <span class="govuk-phase-banner__text">
        This is a prototype and not a real service.
        </span></p>
    </div>
    </div>
  </div>

    <main class="govuk-main-wrapper" style="padding: 0; padding-bottom: 20px;" id="main-content" role="main">

        <a href="/startpage-testing/version-2/application-type.html" class="govuk-back-link">Return to select application type</a>

        <div class="govuk-grid-row">

            <div class="govuk-grid-column-two-thirds">

    <span class="govuk-caption-xl"></span>
    <h1 class="govuk-heading-xl"> Enter title numbers </h1>

    <p class="govuk-body">You can add up to 25 titles per application.</p>

    <details class="govuk-details" data-module="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">About applications relating to more than one title number</span>
      </summary>
      <div class="govuk-details__text">
        You can use this service for applications of up to 25 title numbers. In order to register multiple title numbers in one application:
        <br><br>
        <ul class="govuk-list govuk-list--bullet">
        <li>all titles must have the same proprietors registered against each title number
        <li >transferors and transferees must be the the same for each title number
        </ul>
      </div>
    </details>

    <form method="post" action="#">

      <div class="govuk-character-count" data-module="govuk-character-count" data-maxlength="25">
        <div class="govuk-form-group">
          <h2 class="govuk-heading-s">Freehold title number</h2>
          <label class="govuk-hint for="govuk-input govuk-input--width-10">
            For example, "A123" or "XY5678"
          </label>
          <input type="text" class="govuk-input govuk-!-width-one-third govuk-!-margin-bottom-5" name="title_1" aria-describedby="with-hint-info with-hint-hint">
        </div>
        <button class="govuk-button govuk-button--secondary" data-module="govuk-button">
          Add to application
        </button>
        </div>

    </form>

    <form method="post" action="#">

      <div class="govuk-character-count" data-module="govuk-character-count" data-maxlength="25">
        <div class="govuk-form-group">
          <h2 class="govuk-heading-s">Leasehold title number</h2>
          <label class="govuk-hint for="govuk-input govuk-input--width-10">
            For example, "A123" or "XY5678"
          </label>
          <input type="text" class="govuk-input govuk-!-width-one-third govuk-!-margin-bottom-5" name="title_1" aria-describedby="with-hint-info with-hint-hint">
        </div>
        <button class="govuk-button govuk-button--secondary" data-module="govuk-button">
          Add to application
        </button>
        </div>

    </form>

    <form method="post" action="enter_titles-3">

      <div class="govuk-character-count" data-module="govuk-character-count" data-maxlength="25">
        <div class="govuk-form-group">
          <h3 class="govuk-heading-s">Additional title number (optional)</h3>
          <label class="govuk-hint for="govuk-input govuk-input--width-10">
            For example, "A123" or "XY5678"
          </label>
          <input type="text" class="govuk-input govuk-!-width-one-third govuk-!-margin-bottom-5" name="title_1" aria-describedby="with-hint-info with-hint-hint">
        </div>
        <button class="govuk-button govuk-button--secondary" data-module="govuk-button">
          Add to application
        </button>
        </div>

    </form>

  <h2 class="govuk-heading-m">Titles in this application</h2>
  <table class="govuk-table">
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header">Title number</th>
        <th scope="col" class="govuk-table__header">Type</th>
        <th scope="col" class="govuk-table__header">Property description</th>
        <th scope="col" class="govuk-table__header"></th>

      </tr>
    </thead>
    <tbody class="govuk-table__body">
      <tr class="govuk-table__row">
        <td scope="row" class="govuk-table__cell">ABC123</td>
        <td scope="row" class="govuk-table__cell">Freehold</td>
        <td scope="row" class="govuk-table__cell">1 Main Road, Littlehaxten, LH1</td>
        <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="enter_titles-0">Remove</a></td>
      </tr>
      <tr class="govuk-table__row">
        <td scope="row" class="govuk-table__cell">ABC456</td>
        <td scope="row" class="govuk-table__cell">Leasehold</td>
        <td scope="row" class="govuk-table__cell">2 Main Road, Littlehaxten, LH1</td>
        <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="enter_titles-1">Remove</a></td>
      </tr>
    </tbody>
  </table>

  <div class="govuk-inset-text">
    You can amend title numbers later.
  </div>

  {{ govukButton({
    text: "Continue",
    href: "titles-in-this-application-2"
  }) }}

  </div>
  </div>

</main>


<footer>
<div class="govuk-grid-row">
<div class="govuk-grid-column-full">
<hr style= "height: 7px;  background: #b4d307 linear-gradient(-60deg,#b4d307,#b4d307 50%,#d7e900 0,#d7e900); border: none;">
<br>
<p class="govuk-body-s" style="color: #747B7F"> The following links open in a new tab.
<br>
<br>
<a href="#" style="color: #747B7F"> Terms and conditions</a> | <a href="/setup/accessibility-statement" target="_blank" rel="noopener noreferrer" style="color: #747B7F">Accessibility statement</a> |  <a href="#" style="color: #747B7F">Cookies</a> | <a href="#" style="color: #747B7F">Freedom of information</a> | <a href="#" style="color: #747B7F">© Crown copyright</a></p>
</div>
</div>
</footer>


{% endblock %}


{% block footer %}
{% endblock %}

{% block bodyEnd %}
{% include "includes/scripts.html" %}
{% endblock %}
