{% extends "drs-layout.html" %}


{% block content %}
<div class="govuk-grid-row">

      <div class="govuk-grid-column-two-thirds" style="margin-top: -35px; margin-bottom:10px;">
      <a href="/enhancements/Transfer-Charge/tasks-complete-your-application" class="govuk-back-link">Return to task list</a>
      </div>

      <div class="govuk-grid-column-full">
        
          <h1 class="govuk-heading-l">Add transferee</h1>

          <p class="govuk-body">Select the type of transferee and enter their name. Names entered here must match those in supporting documents.</p>


            {{ govukInsetText({
            text: "Names entered here must match those in supporting documents. If the names don’t match, you must attach evidence of a name change."
          }) }}

          <form method="get" action="transferee-list" novalidate>
            <div class="govuk-form-group">
              <fieldset class="govuk-fieldset" aria-describedby="add-transferee-conditional-hint">
                <h2 class="govuk-heading-s">Select transferee type</h2>
                <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="add-transferee-conditional" name="add-transferee" type="radio" value="individual" data-aria-controls="conditional-add-transferee-conditional">
                    <label class="govuk-label govuk-radios__label" for="add-transferee-conditional">
                      Private individual
                    </label>
                  </div>

                  <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-add-transferee-conditional">
                    <div class="govuk-form-group">
                      <span class="govuk-hint">Name must be exactly as it appears on documents lodged with this application</span>
                      <label class="govuk-label" for="add-transferee-individual-forename">
                        Forenames
                      </label>
                      <input class="govuk-input govuk-!-width-one-third" id="add-transferee-individual-forename" name="transferee-individual-forename" value="" type="forename" spellcheck="false">
                    </div>
                    <div class="govuk-form-group">
                      <label class="govuk-label" for="add-transferee-individual-surname">
                        Surname
                      </label>
                      <input class="govuk-input govuk-!-width-one-third" id="add-transferee-individual-surname" name="transferee-individual-surname" value="" type="surname" spellcheck="false">
                    </div>

                  </div>

                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="add-transferee-conditional-2" name="add-transferee" type="radio" value="Company" data-aria-controls="conditional-add-transferee-conditional-2">
                    <label class="govuk-label govuk-radios__label" for="add-transferee-conditional-2">
                      UK Company or LLP
                    </label>
                  </div>

                <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-add-transferee-conditional-2">
                    <div class="govuk-form-group">
                      <label class="govuk-label" for="add-transferee-company-name">
                        Company name
                      </label>
                        <span class="govuk-hint">Full name registered at Companies House</span>
                        <input class="govuk-input govuk-!-width-one-third" id="add-transferee-company-name" name="transferee-company-name" value="" type="companyname" spellcheck="false">
                    </div>
                    <div class="govuk-form-group">
                      <label class="govuk-label" for="add-transferee-company-number">
                        Company number
                      </label>
                      <span class="govuk-hint">Companies House registration number, including any prefix</span>
                        <input class="govuk-input govuk-!-width-one-third" id="add-transferee-company-number" name="transferee-company-number" value="" type="companynumber" spellcheck="false">
                    </div>

                  </div>

                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="add-transferee-conditional-3" name="add-transferee" type="radio" value="Company" data-aria-controls="conditional-add-transferee-conditional-3">
                    <label class="govuk-label govuk-radios__label" for="add-transferee-conditional-3">
                      Overseas company
                    </label>
                  </div>

                <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-add-transferee-conditional-3">
                    <div class="govuk-form-group">
                      <label class="govuk-label" for="add-transferee-overseas-name">
                        Company name
                      </label>
                        <span class="govuk-hint">Company name as incorporated in its state of origin</span>
                      <input class="govuk-input govuk-!-width-one-third" id="add-transferee-overseas-name" name="transferee-overseas-name" type="text" spellcheck="false">
                    </div>
                    <div class="govuk-form-group">
                      <label class="govuk-label" for="add-transferee-company-number">
                        UK company number (optional)
                      </label>
                      <span class="govuk-hint">Number issued, if registered at Companies House, eg FC023966</span>
                      <input class="govuk-input govuk-!-width-one-third" id="add-transferee-overseas-number" name="transferee-overseas-number" type="text" spellcheck="false">
                    </div>
                    <div class="govuk-form-group">
                      <label class="govuk-label" for="add-transferee-company-country">
                        Territory of incorporation
                      </label>
                      <span class="govuk-hint">Territory or country where the company was first incorporated, eg ‘France’ or ‘Manitoba, Canada’</span>

                        <select class="govuk-select" id="add-transferee-overseas-country" name="transferee-overseas-country" type="text" spellcheck="false">
                          <option value="published">Recently published</option>
                          <option value="updated" selected>Recently updated</option>
                          <option value="views">Most views</option>
                          <option value="comments">Most comments</option>
                        </select>

                    </div>
                    </div>

                    <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="add-transferee-conditional-4" name="add-transferee" type="radio" value="Other" data-aria-controls="conditional-add-transferee-conditional-4">
                      <label class="govuk-label govuk-radios__label" for="add-transferee-conditional-4">
                        Other organisation like charity, council, government department
                      </label>
                    </div>

                  <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-add-transferee-conditional-4">
                      <div class="govuk-form-group">
                        <label class="govuk-label" for="add-transferee-other-name">
                          Name of organisation
                        </label>
                        <input class="govuk-input govuk-!-width-one-third" id="add-transferee-overseas-name" name="transferee-overseas-name" type="text" spellcheck="false">
                      </div>

                      </div>

                  </div>
                </fieldset>
                </div>




  {{ govukButton({
  classes: "govuk-!-margin-top-5",
  text: "Continue"
  }) }}

</form>

</div>

<script type="application/json" id="reference-form-validation">
 {
   "reference": {
     "presence": {
       "message": "^Enter your reference for this application"
     },
     "length": {
       "minimum": 1,
       "maximum": 25,
       "message": "^Your reference must be 25 characters or less"
     }
   }
 }
</script>


{% endblock %}


{% block bodyEnd %}
  {% include "includes/scripts.html" %}
{% endblock %}
