{% extends "drs-layout.html" %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds" style="margin-top: -35px; margin-bottom:10px;">
    <a href="/enhancements/Transfer-Charge/tasks-complete-your-application" class="govuk-back-link">Return to task list</a>
    </div>
  <div class="govuk-grid-column-full" id="headerdiv">
    
    
      <span class="govuk-caption-l">Transfer for value (TR1)</span>

          <h1 class="govuk-heading-l">Check transferor details</h1>
          <p class="govuk-body">Use the options to add or amend transferor details where necessary. When all names are correct and consistent with supporting documents, select 'Continue'.</p>

          <form method="post" action="/transactions/transfer/transferor-details-complete" novalidate>


            <table class="govuk-table">
            <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Transferor type</th>
              <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Transferor name</th>
              <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Company number</th>
              <th scope="col" class="govuk-table__header govuk-!-width-one-eighth">Territory of incorporation</th>
              <th scope="col" class="govuk-table__header govuk-!-width-one-eighth">Options</th>

              </tr>
            </thead>

            <tbody class="govuk-table__body">
                  <tr class="govuk-table__row">
                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell">Private individual</td>
                      <td class="govuk-table__cell" >
                        {% if data['Transferor1Status'] === 'removed'%} <!-- if Transferor1Status = removed show transferor1 variable-->
                        <p>{{ data['transferor1'] }} removed</p> <!-- show transferor1 variable-->

                        {% elif data['Transferor1Status'] === 'amended'%} <!-- if Transferor1Status = amended show transferor1ameded (input) amended from  transferor1 variable-->
                        <p> {{ data['nameChange'] }} amended from {{ data['transferor1'] }}</p>

                        {% elif (data['Transferor1Status'] !== 'removed') or (data['Transferor1Status'] !== 'amended') %}
                        <p>Spencer Reid</p>

                        {% endif %}

                     </td>
                     <td class="govuk-table__cell">N/A</td>
                     <td class="govuk-table__cell">N/A</td>
<!-- Borrower status equals removed, it will display the name variable with 'removed', if it DOESN'T = removed or amended, it will display the name variable.<-->

                      <td class="govuk-table__cell">
                          {% if (data['Transferor1Status'] !== 'removed') %}
                          <a class="govuk-link--no-visited-state" href="transferor-details.html">Amend/Remove</a>

                          {% elif (data['Transferor1Status'] == 'removed') %}
                          <a id="undoButton" href="/../charge-without-transfer-borrower-list" name="undo" onclick="undo()">Undo remove</a>
                          {% endif %}
                    </td>
                    </tr>

                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell">Private individual</td>
                      <td class="govuk-table__cell" >
                        {% if data['Transferor2Status'] === 'removed'%} <!-- if Transferor1Status = removed show transferor1 variable-->
                        <p>{{ data['transferor2'] }} removed</p> <!-- show transferor1 variable-->

                        {% elif data['Transferor2Status'] === 'amended'%} <!-- if Transferor1Status = amended show transferor1ameded (input) amended from  transferor1 variable-->
                        <p> {{ data['nameChange'] }} amended from {{ data['transferor1'] }}</p>

                        {% elif (data['Transferor2Status'] !== 'removed') or (data['Transferor1Status'] !== 'amended') %}
                        <p>Mary Reid</p>

                        {% endif %}

                     </td>
                     <td class="govuk-table__cell">N/A</td>
                     <td class="govuk-table__cell">N/A</td>
<!-- Borrower status equals removed, it will display the name variable with 'removed', if it DOESN'T = removed or amended, it will display the name variable.<-->

                      <td class="govuk-table__cell">
                          {% if (data['Transferor2Status'] !== 'removed') %}
                          <a class="govuk-link--no-visited-state" href="">Amend/Remove</a>

                          {% elif (data['Transferor2Status'] == 'removed') %}
                          <a id="undoButton" href="
                          " name="undo" onclick="undo()">Undo remove</a>
                          {% endif %}
                    </td>
                    </tr>


            </tbody>
          </table>

          <details class="govuk-details" data-module="govuk-details" style="margin-top: -20px;">
            <summary class="govuk-details__summary">
              <span class="govuk-details__summary-text">
                I don’t recognise any of these transferors
              </span>
            </summary>
            <div class="govuk-details__text">
              This is the information we hold for title number <b>LP123456</b>. Sometimes the transferor information is out of date. You can <a href="/transactions/transfer/add-transferor">remove all names from the list and add new transferors</a>.
            </div>
        </details>
<br>
        <div>
        <h2 class="govuk-heading-m"> Power of attorney (optional) </h2>
        <br>

        <table class="govuk-table">
        <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header" style="box-sizing: border-box; width: 25%;">Donor</th>
          <th scope="col" class="govuk-table__header" style="box-sizing: border-box; width: 60%;">Attorney(s)</th>
          <th scope="col" class="govuk-table__header" style="box-sizing: border-box; width: 15%;">Options</th>
        </tr>
        </thead>

        <tbody class="govuk-table__body">
                <tr class="govuk-table__row">

                  <td class="govuk-table__cell">Spencer Reid</td>

                  <td class="govuk-table__cell">


                    {% if not data['spencer-attorney-1'] %}
                    -No attorneys added-
                    {% endif %}

                    {% if data['spencer-attorney-1'] %}
                    {{ data['spencer-attorney-1'] }}
                    {% endif %}


                  </td>

                  <td class="govuk-table__cell">
                    {% if not data['spencer-attorney-1'] %}
                    <a class="govuk-link--no-visited-state" href="/enhancements/transfer/POA-spencer.html">Add an attorney</a>
                    {% endif %}
                    {% if data['spencer-attorney-1'] %}<a class="govuk-link--no-visited-state" href="#">Remove</a><br> <a class="govuk-link--no-visited-state" href="#">Add an attorney</a>{% endif %}

                </tr>

                  <tr class="govuk-table__row">

                    <td class="govuk-table__cell">Mary Reid</td>
  
                    <td class="govuk-table__cell">
  
  
                      {% if not data['mary-attorney-1'] %}
                      -No attorneys added-
                      {% endif %}
  
                      {% if data['mary-attorney-1'] %}
                      {{ data['mary-attorney-1'] }}
                      {% endif %}
  
                    </td>
  
                    <td class="govuk-table__cell">
                      {% if not data['mary-attorney-1'] %}
                      <a class="govuk-link--no-visited-state" href="/enhancements/transfer/POA-mary.html">Add an attorney</a>
                      {% endif %}
                      {% if data['mary-attorney-1'] %}<a class="govuk-link--no-visited-state" href="#">Remove</a><br><a class="govuk-link--no-visited-state" href="#">Add an attorney</a> {% endif %}
  
                  </tr>


        </tbody>
        </table>
        <!-- <div style="margin-top: -20px;">
        {% if not data['attorney1'] %}<a class="govuk-link govuk-body govuk-link--no-visited-state" href="/../transactions/transfer/transferor-POA.html">Add an attorney</a>{% endif %}
        {% if data['attorney1'] and not data['attorney2']%}<a class="govuk-link govuk-body govuk-link--no-visited-state" href="/../transactions/transfer/transferor-POA-2.html">Add an attorney</a>{% endif %}
        {% if data['attorney2'] and not data['attorney3']%}<a class="govuk-link govuk-body govuk-link--no-visited-state" href="#">Add an attorney</a>{% endif %}
        </div> -->
        </div>




          <div class="govuk-warning-text" style="">
            <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
            <strong class="govuk-warning-text__text" style="margin-top:10px;">
              <span class="govuk-warning-text__assistive">Warning</span>
              Naming errors lead to requisitions. By selecting ‘Continue’ you confirm the name is correct.
            </strong>
          </div>

          <br>
            {{ govukButton({
            classes: "",
            text: "Continue"
            }) }}

          </form>


</main>




<script type="application/json" id="reference-form-validation">
 {
   "reference": {
     "presence": {
       "message": "^Enter your reference for this application"
     },
     "length": {
       "minimum": 1,
       "maximum": 25,
       "message": "^Your reference must be 25 characters or less"
     }
   }
</script>

<style>
  .back-link {
  border: none;
  background: none;
  font-size: 16px;
  text-decoration: underline;
  margin-top: 25px;

}
</style>

<script>
  function goBack() {
    window.history.back();
  }
</script>

<!-- {% set borrowerName1 = "Joe Bloggs" %} -->



{% endblock %}



