{% extends "drs-layout.html" %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds" style="margin-top: -35px; margin-bottom:10px;">
    <a href="/enhancements/Transfer-Charge/tasks-complete-your-application" class="govuk-back-link">Return to task list</a>
    </div>

<div class="govuk-grid-column-full">
    <span class="govuk-caption-l">Transfer for value (TR1)</span>
    <h1 class="govuk-heading-l">Transferees</h1>

<form method="post" action="/transferee-list-complete">

    <table class="govuk-table">

      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header" style="width: 22.5%; box-sizing: border-box;">Transferee type</th>
          <th scope="col" class="govuk-table__header" style="width: 20%; box-sizing: border-box;">Full name</th>
          <th scope="col" class="govuk-table__header" style="width: 15%; box-sizing: border-box;">Company number</th>
          <th scope="col" class="govuk-table__header" style="width: 35%; box-sizing: border-box;">Territory of incorporation</th>
          <th scope="col" class="govuk-table__header" style="width: 7.5%; box-sizing: border-box;">Options</th>
        </tr>
      </thead>



      <tbody class="govuk-table_body">


        <!-- {% if data['applicant-individual-forename'] %}

        <tr class="govuk-table_row" id="hidePI">
        <td class="govuk-table__cell">Private individual</td>
        <td class="govuk-table__cell govuk-!-width-one-third">
           {{ data['applicant-individual-forename'] }} {{ data['applicant-individual-surname'] }}
         </td>
        <td class="govuk-table__cell">N/a</td>
        <td class="govuk-table__cell govuk-!-width-one-quarter">N/a</td>
        <td class="govuk-table__cell govuk-link"><a href="add-applicants">Change</a><br><a onclick="RemoveTransfereeIndividual ()">Remove</a></td>
        </tr>
     {% endif %}

     {% if data['applicant2-individual-forename-2'] %}
     <tr class="govuk-table_row" id="hidePI">
     <td class="govuk-table__cell">Private individual</td>
     <td class="govuk-table__cell govuk-!-width-one-third">
        {{ data['applicant2-individual-forename-2'] }} {{ data['applicant2-individual-surname-2'] }}
      </td>
     <td class="govuk-table__cell">N/a</td>
     <td class="govuk-table__cell govuk-!-width-one-quarter">N/a</td>
     <td class="govuk-table__cell govuk-link"><a href="add-applicants">Change</a><br><a onclick="RemoveTransfereeIndividual ()">Remove</a></td>
     </tr>
     {% endif %}

     {% if data['applicant-individual-forename-2'] %}
     <tr class="govuk-table_row" id="hidePI">
     <td class="govuk-table__cell">Private individual</td>
     <td class="govuk-table__cell govuk-!-width-one-third">
        {{ data['applicant-individual-forename-2'] }} {{ data['applicant-individual-surname-2'] }}
      </td>
     <td class="govuk-table__cell">N/a</td>
     <td class="govuk-table__cell govuk-!-width-one-quarter">N/a</td>
     <td class="govuk-table__cell govuk-link"><a href="add-applicants">Change</a><br><a onclick="RemoveTransfereeIndividual ()">Remove</a></td>
     </tr>
     {% endif %}

     {% if data['applicant-individual-forename-3'] %}
     <tr class="govuk-table_row" id="hidePI">
     <td class="govuk-table__cell">Private individual</td>
     <td class="govuk-table__cell govuk-!-width-one-third">
        {{ data['applicant3-individual-forename-3'] }} {{ data['applicant3-individual-surname-3'] }}
      </td>
     <td class="govuk-table__cell">N/a</td>
     <td class="govuk-table__cell govuk-!-width-one-quarter">N/a</td>
     <td class="govuk-table__cell govuk-link"><a href="add-applicants">Change</a><br><a onclick="RemoveTransfereeIndividual ()">Remove</a></td>
     </tr>
     {% endif %}

     {% if   data['applicant-company-name'] %}
     <tr class="govuk-table_row" id="hidePI">
     <td class="govuk-table__cell">UK Company or LLC</td>
     <td class="govuk-table__cell govuk-!-width-one-third">
        {{ data['applicant-company-name'] }}
      </td>
     <td class="govuk-table__cell"> {{ data['applicant-company-number'] }}</td>
     <td class="govuk-table__cell govuk-!-width-one-quarter">N/a</td>
     <td class="govuk-table__cell govuk-link"><a href="add-applicants">Change</a><br><a onclick="RemoveTransfereeIndividual ()">Remove</a></td>
     </tr>
     {% endif %}

     {% if   data['applicant2-company-name-2'] %}
     <tr class="govuk-table_row" id="hidePI">
     <td class="govuk-table__cell">UK Company or LLC</td>
     <td class="govuk-table__cell govuk-!-width-one-third">
        {{ data['applicant2-company-name-2'] }}
      </td>
     <td class="govuk-table__cell"> {{ data['applicant2-company-number-2'] }}</td>
     <td class="govuk-table__cell govuk-!-width-one-quarter">N/a</td>
     <td class="govuk-table__cell govuk-link"><a href="add-applicants">Change</a><br><a onclick="RemoveTransfereeIndividual ()">Remove</a></td>
     </tr>
     {% endif %}

     {% if   data['applicant3-company-name-3'] %}
     <tr class="govuk-table_row" id="hidePI">
     <td class="govuk-table__cell">UK Company or LLC</td>
     <td class="govuk-table__cell govuk-!-width-one-third">
        {{ data['applicant3-company-name-3'] }}
      </td>
     <td class="govuk-table__cell"> {{ data['applicant3-company-name-3'] }}</td>
     <td class="govuk-table__cell govuk-!-width-one-quarter">N/a</td>
     <td class="govuk-table__cell govuk-link"><a href="add-applicants">Change</a><br><a onclick="RemoveTransfereeIndividual ()">Remove</a></td>
     </tr>
     {% endif %}


          {% if   data['applicant-overseas-name'] %}
          <tr class="govuk-table_row" id="hidePI">
          <td class="govuk-table__cell">Overseas company</td>
          <td class="govuk-table__cell govuk-!-width-one-third">
             {{ data['applicant-overseas-name'] }}
           </td>
          <td class="govuk-table__cell">{% if data['applicant-overseas-number'] %}{{ data['applicant-overseas-number'] }}{% endif %}{% if not data['applicant-overseas-number'] %}N/a{% endif %}</td>
          <td class="govuk-table__cell govuk-!-width-one-quarter"> {{ data['applicant-overseas-country'] }}</td>
          <td class="govuk-table__cell govuk-link"><a href="add-applicants">Change</a><br><a onclick="RemoveTransfereeIndividual ()">Remove</a></td>
          </tr>
          {% endif %}

          {% if   data['applicant2-overseas-name'] %}
          <tr class="govuk-table_row" id="hidePI">
          <td class="govuk-table__cell">Overseas company</td>
          <td class="govuk-table__cell govuk-!-width-one-third">
             {{ data['applicant2-overseas-name'] }}
           </td>
          <td class="govuk-table__cell">{% if data['applicant2-overseas-number'] %}{{ data['applicant2-overseas-number'] }}{% endif %}{% if not data['applicant2-overseas-number'] %}N/a{% endif %}</td>
          <td class="govuk-table__cell govuk-!-width-one-quarter">{{ data['applicant2-overseas-country'] }}</td>
          <td class="govuk-table__cell govuk-link"><a href="add-applicants">Change</a><br><a onclick="RemoveTransfereeIndividual ()">Remove</a></td>
          </tr>
          {% endif %}


          {% if   data['applicant3-overseas-name'] %}
          <tr class="govuk-table_row" id="hidePI">
          <td class="govuk-table__cell">Overseas company</td>
          <td class="govuk-table__cell govuk-!-width-one-third">
             {{ data['applicant3-overseas-name'] }}
           </td>
          <td class="govuk-table__cell">{% if data['applicant3-overseas-number'] %}{{ data['applicant3-overseas-number'] }}{% endif %}{% if not data['applicant2-overseas-number'] %}N/a{% endif %}</td>
          <td class="govuk-table__cell govuk-!-width-one-quarter">{{ data['applicant3-overseas-country'] }}</td>
          <td class="govuk-table__cell govuk-link"><a href="add-applicants">Change</a><br><a onclick="RemoveTransfereeIndividual ()">Remove</a></td>
          </tr>
          {% endif %}


          {% if   data['applicant-other-name'] %}
          <tr class="govuk-table_row" id="hidePI">
          <td class="govuk-table__cell">Other organisation</td>
          <td class="govuk-table__cell govuk-!-width-one-third">{{ data['applicant-other-name'] }}</td>
          <td class="govuk-table__cell">N/a</td>
          <td class="govuk-table__cell govuk-!-width-one-quarter">N/a</td>
          <td class="govuk-table__cell govuk-link"><a href="add-applicants">Change</a><br><a onclick="RemoveTransfereeIndividual ()">Remove</a></td>
          </tr>
          {% endif %} -->

<!--- 'No' --->

          {% if data['applicant-individual-transferee1'] %}

          <tr class="govuk-table_row" id="hidePI">
          <td class="govuk-table__cell">Private individual</td>
          <td class="govuk-table__cell">
             {{ data['applicant-individual-forename'] }} {{ data['applicant-individual-surname'] }}
           </td>
          <td class="govuk-table__cell">N/a</td>
          <td class="govuk-table__cell">N/a</td>
          <td class="govuk-table__cell govuk-link"><a href="add-applicants">Change</a><br><a onclick="RemoveTransfereeIndividual ()">Remove</a></td>
          </tr>
          {% endif %}




          {% if   data['applicant-individual-transferee2'] %}
          <tr class="govuk-table_row" id="hidePI">
          <td class="govuk-table__cell">Private individual</td>
          <td class="govuk-table__cell">
          {{ data['applicant2-individual-forename-2'] }} {{ data['applicant2-individual-surname-2'] }}
           </td>
          <td class="govuk-table__cell">N/a</td>
          <td class="govuk-table__cell">N/a</td>
          <td class="govuk-table__cell govuk-link"><a href="add-applicants">Change</a><br><a onclick="RemoveTransfereeIndividual ()">Remove</a></td>
          </tr>
          {% endif %}



          {% if   data['applicant-individual-transferee3'] %}

          <tr class="govuk-table_row" id="hidePI">
          <td class="govuk-table__cell">Private individual</td>
          <td class="govuk-table__cell">
          {{ data['applicant3-individual-forename-3'] }} {{ data['applicant3-individual-surname-3'] }}
           </td>
          <td class="govuk-table__cell">N/a</td>
          <td class="govuk-table__cell">N/a</td>
          <td class="govuk-table__cell govuk-link"><a href="add-applicants">Change</a><br><a onclick="RemoveTransfereeIndividual ()">Remove</a></td>
          </tr>
          {% endif %}


          {% if   data['applicant-company-transferee1'] %}

          <tr class="govuk-table_row" id="hidePI">
          <td class="govuk-table__cell">UK Company or LLC</td>
          <td class="govuk-table__cell">
          {{ data['applicant-company-name'] }}
           </td>
          <td class="govuk-table__cell">  {{ data['applicant-company-number'] }}</td>
          <td class="govuk-table__cell">  {{ data['applicant-company-country'] }}</td>
          <td class="govuk-table__cell govuk-link"><a href="add-applicants">Change</a><br><a onclick="RemoveTransfereeIndividual ()">Remove</a></td>
          </tr>
          {% endif %}


          {% if data['applicant-company-transferee2'] %}

          <tr class="govuk-table_row" id="hidePI">
          <td class="govuk-table__cell">UK Company or LLC</td>
          <td class="govuk-table__cell">
          {{ data['applicant2-company-name-2'] }}
           </td>
          <td class="govuk-table__cell">  {{ data['applicant2-company-number-2'] }}</td>
          <td class="govuk-table__cell">N/a</td>
          <td class="govuk-table__cell govuk-link"><a href="add-applicants">Change</a><br><a onclick="RemoveTransfereeIndividual ()">Remove</a></td>
          </tr>
          {% endif %}

          {% if data['applicant-company-transferee3'] %}

          <tr class="govuk-table_row" id="hidePI">
          <td class="govuk-table__cell">UK Company or LLC</td>
          <td class="govuk-table__cell">
          {{ data['applicant3-company-name-3'] }}
           </td>
          <td class="govuk-table__cell">  {{ data['applicant3-company-number-3'] }}</td>
          <td class="govuk-table__cell">N/a</td>
          <td class="govuk-table__cell govuk-link"><a href="add-applicants">Change</a><br><a onclick="RemoveTransfereeIndividual ()">Remove</a></td>
          </tr>
          {% endif %}

          {% if data['applicant-overseas-transferee1'] %}
          <tr class="govuk-table_row" id="hidePI">
          <td class="govuk-table__cell">UK Company or LLC</td>
          <td class="govuk-table__cell">
          {{ data['applicant-overseas-name'] }}
           </td>
          <td class="govuk-table__cell">  {{ data['applicant-overseas-number'] }}</td>
          <td class="govuk-table__cell">{{ data['applicant-overseas-country'] }}</td>
          <td class="govuk-table__cell govuk-link"><a href="add-applicants">Change</a><br><a onclick="RemoveTransfereeIndividual ()">Remove</a></td>
          </tr>
          {% endif %}


          {% if data['applicant-overseas-transferee1'] %}

          <tr class="govuk-table_row" id="hidePI">
          <td class="govuk-table__cell">UK Company or LLC</td>
          <td class="govuk-table__cell">
          {{ data['applicant-overseas-name'] }}
           </td>
          <td class="govuk-table__cell">{% if data['applicant-overseas-number'] %}{{ data['applicant-overseas-number'] }}{% endif %}{% if not data['applicant-overseas-number'] %}N/a{% endif %}</td>
          <td class="govuk-table__cell">{{ data['applicant-overseas-country'] }}</td>
          <td class="govuk-table__cell govuk-link"><a href="add-applicants">Change</a><br><a onclick="RemoveTransfereeIndividual ()">Remove</a></td>
          </tr>

          {% endif %}


          {% if data['applicant-overseas-transferee2'] %}

          <tr class="govuk-table_row" id="hidePI">
          <td class="govuk-table__cell">UK Company or LLC</td>
          <td class="govuk-table__cell">
          {{ data['applicant2-overseas-name'] }}
           </td>
          <td class="govuk-table__cell">{% if data['applicant2-overseas-number'] %}{{ data['applicant2-overseas-number'] }}{% endif %}{% if not data['applicant2-overseas-number'] %}N/a{% endif %}</td>
          <td class="govuk-table__cell">{{ data['applicant2-overseas-country'] }}</td>
          <td class="govuk-table__cell govuk-link"><a href="add-applicants">Change</a><br><a onclick="RemoveTransfereeIndividual ()">Remove</a></td>
          </tr>
          {% endif %}

          {% if data['applicant-overseas-transferee3'] %}

          <tr class="govuk-table_row" id="hidePI">
          <td class="govuk-table__cell">UK Company or LLC</td>
          <td class="govuk-table__cell">
          {{ data['applicant3-overseas-name'] }}
           </td>
          <td class="govuk-table__cell">{% if data['applicant3-overseas-number'] %}{{ data['applicant3-overseas-number'] }}{% endif %}{% if not data['applicant3-overseas-number'] %}N/a{% endif %}</td>
          <td class="govuk-table__cell">{{ data['applicant3-overseas-country'] }}</td>
          <td class="govuk-table__cell govuk-link"><a href="add-applicants">Change</a><br><a onclick="RemoveTransfereeIndividual ()">Remove</a></td>
          </tr>
          {% endif %}


          {% if data['applicant-other-transferee1'] %}

          <tr class="govuk-table_row" id="hidePI">
          <td class="govuk-table__cell">UK Company or LLC</td>
          <td class="govuk-table__cell">
            {{ data['applicant-other-name'] }}
           </td>
          <td class="govuk-table__cell">N/a</td>
          <td class="govuk-table__cell">N/a</td>
          <td class="govuk-table__cell govuk-link"><a href="add-applicants">Change</a><br><a onclick="RemoveTransfereeIndividual ()">Remove</a></td>
          </tr>
          {% endif %}


          {% if data['transferee-individual-forename'] %}

          <tr class="govuk-table_row" id="hidePI">
          <td class="govuk-table__cell">Private individual</td>
          <td class="govuk-table__cell">
            {{ data['transferee-individual-forename'] }} {{ data['transferee-individual-surname'] }}
           </td>
          <td class="govuk-table__cell">N/a</td>
          <td class="govuk-table__cell">N/a</td>
          <td class="govuk-table__cell govuk-link"><a href="add-applicants">Change</a><br><a onclick="RemoveTransfereeIndividual ()">Remove</a></td>
          </tr>
          {% endif %}


          {% if data['transferee-individual-forename-2'] %}

          <tr class="govuk-table_row" id="hidePI">
          <td class="govuk-table__cell">Private individual</td>
          <td class="govuk-table__cell">
            {{ data['transferee-individual-forename-2'] }} {{ data['transferee-individual-surname-2'] }}
           </td>
          <td class="govuk-table__cell">N/a</td>
          <td class="govuk-table__cell">N/a</td>
          <td class="govuk-table__cell govuk-link"><a href="add-applicants">Change</a><br><a onclick="RemoveTransfereeIndividual ()">Remove</a></td>
          </tr>
          {% endif %}




      </table>
      <a class="govuk-link govuk-body" href="add-transferee-2"> Add transferee </a><br><br>

  {{ govukButton({
    text: "Continue"
  }) }}

  </form>

  </div>
  {% endblock %}


  {% block bodyEnd %}
    {% include "includes/scripts.html" %}
  {% endblock %}
