{% extends "drs-layout.html" %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds" style="margin-top: -35px; margin-bottom:10px;">
    <a href="/enhancements/Transfer-Charge/tasks-complete-your-application" class="govuk-back-link">Return to task list</a>
  </div>

<div class="govuk-grid-column-full">
    <span class="govuk-caption-l">Transfer for value (TR1)</span>
    <h1 class="govuk-heading-l">Transferor representation</h1>


    <form method="post" action="/enhancements/transfer/transfer-date">
    <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header" style="box-sizing: border-box; width: 25%;">Transferor type</th>
          <th scope="col" class="govuk-table__header" style="box-sizing: border-box; width: 25%;">Full name</th>
          <th scope="col" class="govuk-table__header" style="box-sizing: border-box; width: 33%;">Represented by</th>
          <th scope="col" class="govuk-table__header" style="box-sizing: border-box; width: 17%;">Options</th>
        </tr>
      </thead>

      <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">Private individual</td>
              <td class="govuk-table__cell">Spencer Reid</td>
              <td class="govuk-table__cell">
                {% if data['TransferorRepresentationSpencer'] %} 
                  {% if data['TransferorRepresentationSpencer'] === 'UKConveyancersLtd' %}UK Conveyancers Ltd
                  {% endif %}
                  {% if data['TransferorRepresentationSpencer'] === 'OtherConveyancer' %}{{data['TransferorConveyancerNameSpencer']}}
                  {% endif %}
                {% endif %}
                {% if not data['represents-all'] %}{% if not data['TransferorRepresentationSpencer'] %} -No representation added- {% endif %}{% endif %}
                <!-- {% if data['represents-all'] %}{% if not data['TransferorRepresentationSpencer'] %} UK Conveyancers Ltd {% endif %}{% endif %} -->
              </td>
              <td class="govuk-table__cell">
              {% if data['TransferorRepresentationSpencer'] %} <a class="govuk-link--no-visited-state" href="#"> Remove </a> {% endif %}
              {% if not data['TransferorRepresentationSpencer'] %}<a class="govuk-link--no-visited-state" href="transferor-representationAddSpencer.html"> Add representation </a>{% endif %}
              </td>
              </tr>

              <tr class="govuk-table__row">
                <td class="govuk-table__cell">Private individual</td>
                <td class="govuk-table__cell">Mary Reid</td>
                <td class="govuk-table__cell">
                  {% if data['TransferorRepresentationMary'] %} 
                  {% if data['TransferorRepresentationMary'] === 'UKConveyancersLtd' %}UK Conveyancers Ltd {% endif %}
                  {% if data['TransferorRepresentationMary'] === 'OtherConveyancer' %} {{data['TransferorConveyancerNameMary']}} {% endif %}
                  {% endif %}
                  {% if not data['represents-all'] %}{% if not data['TransferorRepresentationMary'] %} -No representation added- {% endif %}{% endif %}
                <!-- {% if data['represents-all'] %}{% if not data['TransferorRepresentationMary'] %} UK Conveyancers Ltd {% endif %}{% endif %} -->

                  <!-- {% if data['represents-all'] %} UK Conveyancers Ltd {% endif %}
                  {% if not data['represents-all'] %} -No representation added- {% endif %} -->
                </td>
                <td class="govuk-table__cell">
                  {% if data['represents-all'] or data['TransferorRepresentationMary'] %} <a class="govuk-link--no-visited-state" href="#"> Remove </a> {% endif %}
                  {% if not data['represents-all'] and not data['TransferorRepresentationMary'] %}<a class="govuk-link--no-visited-state" href="transferor-representationAddMary.html"> Add representation </a>{% endif %}
                </td>
                </tr>


      </tbody>
    </table>

    {% if (data['spencer-attorney-1']) or (data['mary-attorney-1']) %}
    <h2 class="govuk-heading-m"> Power of attorney </h2>
    <table class="govuk-table">
    <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header" style="box-sizing: border-box; width: 25%;">Donor name</th>
      <th scope="col" class="govuk-table__header" style="box-sizing: border-box; width: 25%;">Attorney name</th>
      <th scope="col" class="govuk-table__header" style="box-sizing: border-box; width: 33%;">Represented by</th>
      <th scope="col" class="govuk-table__header" style="box-sizing: border-box; width: 17%;">Options</th>
    </tr>
    </thead>

    <tbody class="govuk-table__body">
            {% if data['spencer-attorney-1'] %}
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                Spencer Reid
              </td>
              <td class="govuk-table__cell">
                {{ data ['spencer-attorney-1'] }}
              </td>
              <td class="govuk-table__cell">
                {% if data['TransferorRepresentationSpencer-attorney'] %} 
                  {% if data['TransferorRepresentationSpencer-attorney'] === 'UKConveyancersLtd' %}UK Conveyancers Ltd{% endif %}
                  {% if data['TransferorRepresentationSpencer-attorney'] === 'OtherConveyancer' %}{{data['TransferorConveyancerNameSpencer-attorney']}}{% endif %}
                {% endif %}
                {% if not data['TransferorRepresentationSpencer-attorney'] and not data['represents-all']%}-No representation added- 
                {% endif %}
                <!-- {% if not data['TransferorRepresentationSpencerAttorney'] and data['represents-all']%}
                UK Conveyancers Ltd 
                {% endif %} -->
              </td>
              <td class="govuk-table__cell">
                {% if data['represents-all'] or data['TransferorRepresentationSpencer-attorney']%} <a class="govuk-link--no-visited-state" href="#"> Remove </a> {% endif %}
                {% if not data['represents-all'] and not data['TransferorRepresentationSpencer-attorney']%}<a class="govuk-link--no-visited-state" href="transferor-representationAddSpencer-attorney.html"> Add representation </a>{% endif %}
              </td>
            </tr>
            {% endif %}
              {% if data['mary-attorney-1'] %}
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">
                  Mary Reid
                </td>
                <td class="govuk-table__cell">
                  {{ data ['mary-attorney-1'] }}
                </td>
                <td class="govuk-table__cell">
                  {% if data['TransferorRepresentationMary-attorney'] %} 
                    {% if data['TransferorRepresentationMary-attorney'] === 'UKConveyancersLtd' %}UK Conveyancers Ltd{% endif %}
                    {% if data['TransferorRepresentationMary-attorney'] === 'OtherConveyancer' %}{{data['TransferorConveyancerNameMary-attorney']}}{% endif %}
                  {% endif %}
                  {% if not data['TransferorRepresentationMary-attorney'] and not data['represents-all']%}-No representation added- 
                  {% endif %}
                  <!-- {% if not data['TransferorRepresentationMary-attorney'] and data['represents-all']%}
                  UK Conveyancers Ltd 
                  {% endif %} -->
                </td>
                <td class="govuk-table__cell">
                  {% if data['represents-all'] or data['TransferorRepresentationMary-attorney']%} <a class="govuk-link--no-visited-state" href="#"> Remove </a> {% endif %}
                  {% if not data['represents-all'] and not data['TransferorRepresentationMary-attorney']%}<a class="govuk-link--no-visited-state" href="transferor-representationAddMary-attorney.html"> Add representation </a>{% endif %}
                </td>
              </tr>
            {% endif %}


    </tbody>
    </table>
    {% endif %}

    <div class="govuk-warning-text" style="">
      <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
      <strong class="govuk-warning-text__text" style="margin-top:10px;">
        <span class="govuk-warning-text__assistive">Warning</span>
        Naming errors lead to requisitions. By selecting ‘Continue’ you confirm the name is correct.
      </strong>
    </div>
    <br>


{{ govukButton({
  text: "Continue"
}) }}

</form>


</div>


{% endblock %}



{% block bodyEnd %}
  {% include "includes/scripts.html" %}
{% endblock %}
