{% extends "drs-layout.html" %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds" style="margin-top: -35px; margin-bottom:10px;">
    <a href="/enhancements/Transfer-Charge/tasks-complete-your-application" class="govuk-back-link">Return to task list</a>
  </div>

<div class="govuk-grid-column-full">
    <span class="govuk-caption-l">Transfer for value (TR1)</span>
    <h1 class="govuk-heading-l">Add transferor representation</h1>


    <form method="post" action="/transactions/transfer/transferor-representation-confirmed">
    <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header govuk-!-width-one-fifth">Transferor type</th>
          <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Full name</th>
          <th scope="col" class="govuk-table__header govuk-!-width-one-third">Represented by</th>
          <th scope="col" class="govuk-table__header ">Options</th>
        </tr>
      </thead>

      <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">Private individual</td>
              <td class="govuk-table__cell">Spencer Reid</td>
              <td class="govuk-table__cell">{% if data['TransferorRepresentationSpencer'] %} {{data['TransferorRepresentationSpencer']}} {% endif %}
                {% if not data['TransferorRepresentationSpencer'] %} -No representation added- {% endif %}
              </td>
              <td class="govuk-table__cell">
              {% if data['TransferorRepresentationSpencer'] %} <a class="govuk-link--no-visited-state" href="#"> Remove </a> {% endif %}
              {% if not data['TransferorRepresentationSpencer'] %}<a class="govuk-link--no-visited-state" href="transferor-representationAdd"> Add representation </a>{% endif %}
              </td>
              </tr>

              <tr class="govuk-table__row">
                <td class="govuk-table__cell">Private individual</td>
                <td class="govuk-table__cell">Mary Reid</td>
                <td class="govuk-table__cell">{% if data['represents-all'] %} UK Conveyancers Ltd {% endif %}
                  {% if not data['represents-all'] %} -No representation added- {% endif %}
                </td>
                <td class="govuk-table__cell">
                  {% if data['represents-all'] %} <a class="govuk-link--no-visited-state" href="#"> Remove </a> {% endif %}
                  {% if not data['represents-all'] %}<a class="govuk-link--no-visited-state" href="#"> Add representation </a>{% endif %}
                </td>
                </tr>


      </tbody>
    </table>

    {% if (data['spencer-attorney-1']) or (data['mary-attorney-1']) %}
    <h2 class="govuk-heading-m"> Power of attorney </h2>
    <table class="govuk-table govuk-!-width-two-thirds">
    <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header">Attorney name</th>
      <th scope="col" class="govuk-table__header">Represented by</th>
      <th scope="col" class="govuk-table__header">Options</th>
    </tr>
    </thead>

    <tbody class="govuk-table__body">
            {% if data['attorney1'] %}
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                {{ data ['attorney1'] }}
              </td>
              <td class="govuk-table__cell">
              {% if data['represents-all'] %} UK Conveyancers Ltd {% endif %}
              </td>
              <td class="govuk-table__cell">
                {% if data['represents-all'] %} <a class="govuk-link--no-visited-state" href="#"> Remove </a> {% endif %}
                {% if not data['represents-all'] %}<a class="govuk-link--no-visited-state" href="#"> Add representation </a>{% endif %}
              </td>
            </tr>
            {% endif %}
              {% if data['attorney2'] %}
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">
                  {{ data ['attorney2'] }}
                </td>
                <td class="govuk-table__cell">
                {% if data['represents-all'] %} UK Conveyancers Ltd {% endif %}
                </td>
                <td class="govuk-table__cell">
                  {% if data['represents-all'] %} <a class="govuk-link--no-visited-state" href="#"> Remove </a> {% endif %}
                  {% if not data['represents-all'] %}<a class="govuk-link--no-visited-state" href="#"> Add representation </a>{% endif %}
                </td>
              </tr>
            {% endif %}


    </tbody>
    </table>
    {% endif %}


{{ govukButton({
  text: "Continue"
}) }}

</form>


</div>


{% endblock %}



{% block bodyEnd %}
  {% include "includes/scripts.html" %}
{% endblock %}
