{% extends "drs-layout.html" %}


{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds" style="margin-top: -35px; margin-bottom:10px;">
    <a href="/enhancements/Transfer-Charge/tasks-complete-your-application" class="govuk-back-link">Return to task list</a>
  </div>
    <div class="govuk-grid-column-full">
        <span class="govuk-caption-xl">Transfer for value (TR1)</span>
        <h1 class="govuk-heading-xl">Download part-completed TR1</h1>

    <!-- <form method="post" action="/enhancements/transfer/downloaded"> -->
    <form method="post" action="/enhancements/transfer/documents/transfer-checklist">

          <div class="govuk-form-group">
          <p class="govuk-body">You need to supply a TR1 Transfer for value form. You can either:</p>
          <ul class="govuk-list">
            <li>• attach your own completed TR1</li>
            <li>• download this partial TR1, complete and attach it</li>
          </ul>
          <br>

          <div>
          <a href="/public/downloads/TR1-Sprint26.pdf"><img src="/public/images/tr1-icon-2.jpg" style="width: 20%; float: left; padding-right: 25px;" alt="tr1 icon"></a>
          <h2><a href="/public/downloads/TR1-Sprint26.pdf" class="govuk-link govuk-heading-m govuk-!-font-weight-regular" style="">Transfer for value (TR1 - part completed)</a></h2>
          <p class="govuk-body"> PDF - opens in a new window</p>
          </div>



        <div style="margin-top: 220px;">
          {{ govukButton({
            text: "Continue"
          }) }}
      </div>

</form>
</div>

</div>


{% endblock %}



{% block bodyEnd %}
  {% include "includes/scripts.html" %}
{% endblock %}
