{% extends "drs-layout.html" %}

{% block content %}
<div class="govuk-grid-row">

<div class="govuk-grid-column-two-thirds" style="margin-top: -35px;">
  <a href="/enhancements/Transfer-Charge/tasks-complete-your-application" class="govuk-back-link" style="padding-bottom:15px;">Return to task list</a>
</div>
<div class="govuk-grid-column-full">
    <span class="govuk-caption-l">Transfer for value (TR1)</span>
    <h1 class="govuk-heading-l">Add transferee representation</h1>
    <p class="govuk-body">Select 'Add representation' for each transferee.</p>

<form method="post" action="transferee-representation-confirmed">
  <table class="govuk-table">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header" style="width:27%;">Transferee type</th>
      <th scope="col" class="govuk-table__header" style="width:27%;">Full name</th>
      <th scope="col" class="govuk-table__header" style="width:27%;">Represented by</th>
      <th scope="col" class="govuk-table__header" style="width:19%;">Options</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
  

      <!-- {% if data['transferee-select'] === 'yes' and data['applicant-individual-forename'] %}
      <tr class="govuk-table_row" id="hidePI">
      <td class="govuk-table__cell">Private individual</td>
      <td class="govuk-table__cell govuk-!-width-one-third">
         {{ data['applicant-individual-forename'] }} {{ data['applicant-individual-surname'] }}
       </td>
       <td class="govuk-table__cell" >UK Conveyancers Ltd</td>
      </tr>
   {% endif %}

   {% if data['transferee-select'] === 'yes' and data['applicant2-individual-forename-2'] %}
   <tr class="govuk-table_row" id="hidePI">
   <td class="govuk-table__cell">Private individual</td>
   <td class="govuk-table__cell govuk-!-width-one-third">
      {{ data['applicant2-individual-forename-2'] }} {{ data['applicant2-individual-surname-2'] }}
    </td>
    <td class="govuk-table__cell" >UK Conveyancers Ltd</td>
   </tr>
   {% endif %}

   {% if data['transferee-select'] === 'yes' and data['applicant-individual-forename-3'] %}
   <tr class="govuk-table_row" id="hidePI">
   <td class="govuk-table__cell">Private individual</td>
   <td class="govuk-table__cell govuk-!-width-one-third">
      {{ data['applicant3-individual-forename-3'] }} {{ data['applicant3-individual-surname-3'] }}
    </td><td class="govuk-table__cell" >UK Conveyancers Ltd</td>
   </tr>
   {% endif %}

   {% if data['transferee-select'] === 'yes' and data['applicant-company-name'] %}
   <tr class="govuk-table_row" id="hidePI">
   <td class="govuk-table__cell">UK Company or LLC</td>
   <td class="govuk-table__cell govuk-!-width-one-third">
      {{ data['applicant-company-name'] }}
    </td><td class="govuk-table__cell" >UK Conveyancers Ltd</td>
   </tr>
   {% endif %}

   {% if data['transferee-select'] === 'yes' and data['applicant2-company-name-2'] %}
   <tr class="govuk-table_row" id="hidePI">
   <td class="govuk-table__cell">UK Company or LLC</td>
   <td class="govuk-table__cell govuk-!-width-one-third">
      {{ data['applicant2-company-name-2'] }}
    </td><td class="govuk-table__cell" >UK Conveyancers Ltd</td>
   </tr>
   {% endif %} -->



        {% if   data['applicant-individual-transferee1'] %}
        <tr class="govuk-table_row" id="hidePI">
        <td class="govuk-table__cell">Private individual</td>
        <td class="govuk-table__cell">
        {{ data['applicant-individual-forename'] }} {{ data['applicant-individual-surname'] }}</td>
        <td class="govuk-table__cell" >


          <!--Before user has made a selection-->
          {% if not data['TransfereeRepresentation'] %}
            No representation added
          {% endif %}

          <!--If represented by default conveyancer-->
          {% if data['TransfereeRepresentation'] == 'UKConveyancersLtd' %}
            {{ data['TransfereeRepresentation']}}
          {% endif %}

          <!--If represented by an other conveyancer-->
          {% if data['TransfereeRepresentation'] == 'OtherConveyancer' %}
            {{ data['TransfereeOtherName']}}
          {% endif %}

          <!--If person is not represented-->
          {% if data['TransfereeRepresentation'] == 'NotRepresented' %}
            Not represented
          {% endif %}

        </td>
        <td class="govuk-table__cell" >
        {% if not data['TransfereeRepresentation'] %} <a href="transferee-representationAdd">Add representation </a> {% endif %}
        {% if data['TransfereeRepresentation'] %} <a href="transferee-representationAdd">Change</a><br><a href="">Remove</a> {% endif %}
        </td>


        </tr>
        {% endif %}

        {% if data['applicant-individual-transferee2'] %}
        <tr class="govuk-table_row" id="hidePI">
        <td class="govuk-table__cell">Private individual</td>
        <td class="govuk-table__cell">
        {{ data['applicant2-individual-forename-2'] }} {{ data['applicant2-individual-surname-2'] }}
        <td class="govuk-table__cell" >


          <!--Before user has made a selection-->
          {% if not data['Transferee2Representation'] %}
            No representation added
          {% endif %}

          <!--If represented by default conveyancer-->
          {% if data['Transferee2Representation'] == 'UKConveyancersLtd' %}
            {{ data['Transferee2Representation']}}
          {% endif %}

          <!--If represented by an other conveyancer-->
          {% if data['Transferee2Representation'] == 'OtherConveyancer' %}
            {{ data['Transferee2OtherName']}}
          {% endif %}

          <!--If person is not represented-->
          {% if data['Transferee2Representation'] == 'NotRepresented' %}
            Not represented
          {% endif %}

<!--

        {% if not data['TransfereeRepresentation'] or not data['represents-all'] %} - No representation added - {% endif %}

        {% if data['represents-all'] and data['TransfereeRepresentation' ] !== 'OtherConveyancer' %} {{ data['TransfereeRepresentation']}} {% endif %}

        {% if data['TransfereeRepresentation' ] == 'OtherConveyancer' and data['represents-all'] %}
        {{ data ['TransfereeOtherName'] }}, {{ data ['TransfereeOtherAddress'] }}, {{ data ['OtherConveyancerReference'] }}
        {% endif %}

         {% if data['TransfereeRepresentation' ] !== 'OtherConveyancer' %}
        {{ data['TransfereeRepresentation']}}
        {% endif %} -->

        </td>
        <td class="govuk-table__cell" >

        {% if not data['Transferee2Representation'] %} 
          <a href="transferee-representationadd2">Add representation </a>
        {% endif %}

        {% if data['Transferee2Representation'] %}
          <a href="transferee-representationadd2">Change</a>
          <br>
          <a href="">Remove</a>
        {% endif %}

        <!--
        {% if data['represents-all'] %}

        {% endif %}
        -->


        {% if not data['TransfereeRepresentation'] or not data['represents-all'] %} <a href="/transactions/transfer/transferee-representationAdd2">Add representation</a> {% endif %}
        {% if data['TransfereeRepresentation'] and data['represents-all'] %} <a href="/transactions/transfer/transferee-representationAdd2">Change</a><br><a href="">Remove</a> {% endif %}

        </td>
        </tr>
        {% endif %}

        {% if   data['applicant2-individual-transferee2'] %}
        <tr class="govuk-table_row" id="hidePI">
        <td class="govuk-table__cell">Private individual</td>
        <td class="govuk-table__cell">
        {{ data['applicant-individual-forename-2'] }} {{ data['applicant-individual-surname-2'] }}
         </td><td class="govuk-table__cell" >UK Conveyancers Ltd</td>
        </tr>
        {% endif %}

        {% if   data['applicant-individual-transferee3'] %}
        <tr class="govuk-table_row" id="hidePI">
        <td class="govuk-table__cell">Private individual</td>
        <td class="govuk-table__cell">
        {{ data['applicant3-individual-forename-3'] }} {{ data['applicant3-individual-surname-3'] }}
         </td><td class="govuk-table__cell" >UK Conveyancers Ltd</td>
        </tr>
        {% endif %}

        {% if   data['applicant-company-transferee1'] %}
        <tr class="govuk-table_row" id="hidePI">
        <td class="govuk-table__cell">UK Company or LLC</td>
        <td class="govuk-table__cell">
        {{ data['applicant-company-name'] }}
         </td><td class="govuk-table__cell" >UK Conveyancers Ltd</td>
        </tr>
        {% endif %}

        {% if   data['applicant-company-transferee2'] %}
        <tr class="govuk-table_row" id="hidePI">
        <td class="govuk-table__cell">UK Company or LLC</td>
        <td class="govuk-table__cell">
        {{ data['applicant2-company-name-2'] }}
         </td><td class="govuk-table__cell" >UK Conveyancers Ltd</td>
        </tr>
        {% endif %}

        {% if   data['applicant-overseas-transferee1'] %}
        <tr class="govuk-table_row" id="hidePI">
        <td class="govuk-table__cell">UK Company or LLC</td>
        <td class="govuk-table__cell">
        {{ data['applicant-overseas-name'] }}
         </td><td class="govuk-table__cell" >UK Conveyancers Ltd</td>
        </tr>
        {% endif %}

        {% if   data['applicant-overseas-transferee1'] %}
        <tr class="govuk-table_row" id="hidePI">
        <td class="govuk-table__cell">UK Company or LLC</td>
        <td class="govuk-table__cell">
        {{ data['applicant-overseas-name'] }}
         </td><td class="govuk-table__cell" >UK Conveyancers Ltd</td>
        </tr>

        {% endif %}

        {% if   data['applicant-overseas-transferee2'] %}
        <tr class="govuk-table_row" id="hidePI">
        <td class="govuk-table__cell">UK Company or LLC</td>
        <td class="govuk-table__cell">
        {{ data['applicant2-overseas-name'] }}</td>
        <td class="govuk-table__cell" >UK Conveyancers Ltd</td>
        </tr>
        {% endif %}

        {% if   data['applicant-overseas-transferee3'] %}
        <tr class="govuk-table_row" id="hidePI">
        <td class="govuk-table__cell">UK Company or LLC</td>
        <td class="govuk-table__cell">
        {{ data['applicant3-overseas-name'] }}
         </td>
         <td class="govuk-table__cell" >UK Conveyancers Ltd</td>
        </tr>
        {% endif %}

        {% if   data['applicant-other-transferee1'] %}
        <tr class="govuk-table_row" id="hidePI">
        <td class="govuk-table__cell">UK Company or LLC</td>
        <td class="govuk-table__cell">
          {{ data['applicant-other-name'] }}
         </td>
        <td class="govuk-table__cell"></td>
        <td class="govuk-table__cell" >UK Conveyancers Ltd</td>
        </tr>
        {% endif %}

        {% if   data['transferee-individual-forename'] %}
        <tr class="govuk-table_row" id="hidePI">
        <td class="govuk-table__cell">Private individual</td>
        <td class="govuk-table__cell">
          {{ data['transferee-individual-forename'] }} {{ data['transferee-individual-surname'] }}
         </td>
        <td class="govuk-table__cell">UK Conveyancers Ltd</td>
        </tr>
        {% endif %}

        {% if   data['transferee-individual-forename-2'] %}
        <tr class="govuk-table_row" id="hidePI">
        <td class="govuk-table__cell">Private individual</td>
        <td class="govuk-table__cell">
          {{ data['transferee-individual-forename-2'] }} {{ data['transferee-individual-surname-2'] }}
         </td>
        <td class="govuk-table__cell">UK Conveyancers Ltd</td>

        {% endif %}

  </tbody>
</table>



<button class="govuk-button"  data-module="govuk-button" value="" name="">
Continue</button>

</form>

</div>
</div>

{% endblock %}


{% block bodyEnd %}
  {% include "includes/scripts.html" %}
{% endblock %}
