{% extends "drs-layout.html" %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds" style="margin-top: -35px; margin-bottom:10px;">
    <a href="/enhancements/Transfer-Charge/tasks-complete-your-application" class="govuk-back-link">Return to task list</a>
  </div>
    <div class="govuk-grid-column-two-thirds">
        <span class="govuk-caption-xl">Transfer for value (TR1)</span>
        <h1 class="govuk-heading-xl">Declaration of trust</h1>

        <form action="/enhancements/transfer/transfer-provisions" method="post">

          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset" aria-describedby="trust-conditional-hint">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                The transferees are to hold the property:</legend>

              <span id="trust-conditional-hint" class="govuk-hint">Select one option.</span>

              <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">

                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="trust-conditional" name="transferTrust" type="radio" value="on trust for themselves as joint tenants">
                  <label class="govuk-label govuk-radios__label" for="trust-conditional">on trust for themselves as joint tenants</label>
                </div>


                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="trust-conditional-2" name="transferTrust" type="radio" value="on trust for themselves as tenants in common equal shares">
                  <label class="govuk-label govuk-radios__label" for="trust-conditional-2">on trust for themselves as tenants in common equal shares</label>
                </div>


                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="trust-conditional-3" name="transferTrust" type="radio" value="on trust - I will provide details" aria-controls="conditional-trust-conditional-3" aria-expanded="false">
                  <label class="govuk-label govuk-radios__label" for="trust-conditional-3">on trust - I will provide details</label>
                </div>

                <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-trust-conditional-3">
                  <div class="govuk-form-group">
                    <textarea class="govuk-textarea govuk-!-width-three-quarters" id="trustDetails" name="trust-Details" rows="6"></textarea>
                  </div>
                </div>

                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="trust-conditional-4" name="transferTrust" type="radio" value="trustAttached">
                  <label class="govuk-label govuk-radios__label" for="trust-conditional-4">on trust - I will attach <a href="https://www.gov.uk/government/publications/jointly-owned-property-trust-registration-jo" target="_blank" rel="noopener noreferrer">Form JO (opens in new window)</a></label>
                </div>

  </div>
  </fieldset>


</div>



           <button class="govuk-button" data-module="govuk-button">
             Continue
           </button>

         </form>
         </div>
</div>




{% endblock %}


{% block bodyEnd %}
  {% include "includes/scripts.html" %}
{% endblock %}
