{% extends "drs-layout.html" %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds" style="margin-top: -35px; margin-bottom:10px;">
    <a href="/enhancements/Transfer-Charge/tasks-complete-your-application" class="govuk-back-link">Return to task list</a>
  </div>

<div class="govuk-grid-column-two-thirds">
    <span class="govuk-caption-l">Transfer for value (TR1)</span>
    <h1 class="govuk-heading-l">
      Select representation</h1>

    <h2 class="govuk-heading-m">Tell us who's representing: {{data['spencer-attorney-1']}}</h2>

    <form class="" action="/spencer-attorney-representation">

    <div class="govuk-form-group">


        <br>
        <div>

          {% if data['user-type'] === 'conveyancer' %}
          {% set otherTransferorHtml %}
            {{ govukInput({
              id: "TransferorConveyancerName",
              name: "TransferorConveyancerNameSpencer-attorney",
              classes: "govuk-!-width-two-thirds",
              label: {
                text: "Conveyancer full name"
              }
            }) }}

            {{ govukTextarea({
              id: "TransferorOtherAddress",
              name: "TransferorOtherAddressSpencer-attorney",
              classes: "govuk-!-width-two-thirds",
              rows: "5",
              label: {
                text: "Registered address"
              }
            }) }}


            {{ govukCharacterCount({
              name: "OtherConveyancerReferenceSpencer-attorney",
              id: "OtherConveyancerReference",
              rows: "1",
              classes: "govuk-!-width-two-thirds",
              maxlength: 25,
              label: {
                text: "Conveyancer reference"
              }
            }) }}

          {% endset -%}

          {{ govukRadios({
            name: "TransferorRepresentationSpencer-attorney",

            items: [
              {
                value: "UKConveyancersLtd",
                text: "UK Conveyancers Ltd",
                name: "UKConveyancersLtd"
                },

              {
                value: "OtherConveyancer",
                text: "Other conveyancer",
                name: "OtherConveyancer",
                conditional: {
                  html: otherTransferorHtml
                }
              },
              {
                value: "NotRepresented",
                name: "NotRepresented",
                text: "Not represented by a conveyancer"
              }
            ]
          }) }}
              

        {{ govukCheckboxes({
          idPrefix: "represents-all",
          name: "represents-all",
          classes: "govuk-checkboxes",
          fieldset: {
            legend: {
              text: "Applies to all (optional)",
              isPageHeading: false,
              classes: "govuk-fieldset__legend--m"
            }

          },
          items: [
            {
              value: "true",
              text: "This applies to all transferor and transferor's attorneys (optional)"
              
            }
          ]
        }) }}
        {% else %}


        {% set otherTransferorHtml %}

            {{ govukInput({
              id: "TransferorConveyancerName",
              name: "TransferorConveyancerNameSpencer",
              classes: "govuk-!-width-two-thirds",
              label: {
                text: "Full name"
              }
            }) }}

            {{ govukTextarea({
              id: "TransferorOtherAddress",
              name: "TransferorOtherAddressSpencer",
              classes: "govuk-!-width-two-thirds",
              rows: "5",
              label: {
                text: "Registered address"
              }
            }) }}


            {{ govukInput({
              name: "OtherConveyancerReferenceSpencer",
              id: "OtherConveyancerReference",
              classes: "govuk-!-width-two-thirds",
              label: {
                text: "Conveyancer reference"
              }
            }) }}

          {% endset -%}

          {{ govukRadios({
            name: "TransferorRepresentationSpencer",

            items: [
              {
                value: "UK Conveyancers Ltd",
                text: "UK Conveyancers Ltd",
                name: "TransferorRepresentationSpencer"

              },
              {
                value: "OtherConveyancer",
                text: "Other conveyancer",
                name: "TransferorRepresentationSpencer",
                conditional: {
                  html: otherTransferorHtml
                }
              },
              {
                value: "NotRepresented",
                name: "TransferorRepresentationSpencer",
                text: "Not represented by a conveyancer"
              }
            ]
          }) }}

        {{ govukCheckboxes({
          idPrefix: "represents-all",
          name: "represents-all",
          classes: "govuk-checkboxes",
          fieldset: {
            legend: {
              text: "Applies to all (optional)",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--m"
            }


          },
          items: [
            {
              value: "This applies to all transferors and transferor's attorneys (optional)",
              text: "This applies to all transferors and transferor's attorneys (optional)"

            }
          ]
        }) }}

    {% endif %}

      </div>

      <br>
      <br>
      <div class="govuk-warning-text" style="">
        <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
        <strong class="govuk-warning-text__text" style="margin-top: 10px;">
          <span class="govuk-warning-text__assistive">Warning</span>
          Replaces any conveyancer details previously added
        </strong>
      </div>


      {{ govukButton({
        text: "Continue",
        classes: "govuk-!-margin-top-5"

      }) }}
 </form>
      </div></div>


</div>


{% endblock %}



{% block bodyEnd %}
  {% include "includes/scripts.html" %}
{% endblock %}
