{% extends "drs-layout.html" %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds" style="margin-top: -35px; margin-bottom:10px;">
      <a href="/enhancements/Transfer-Charge/tasks-complete-your-application" class="govuk-back-link">Return to task list</a>
      </div>
<div class="govuk-grid-column-full">
    <span class="govuk-caption-l">Transfer for value (TR1)</span>
    <h1 class="govuk-heading-l">Which applicants are transferees?</h1>
    <p class="govuk-body">Select all that apply. If no applicants are transferees, select 'Continue'. </p>

<form method="post" action="/enhancements/transfer/transferee-whichapplicants-answer" name="whichapplicants" class="">

    <div class="govuk-form-group">
    <fieldset class="govuk-fieldset" id="ApplicantTransfereesCheckboxes">


    <div class="govuk-checkboxes">
    {% if data['applicant-individual-forename'] %}
          <div class="govuk-checkboxes__item">

            <input class="govuk-checkboxes__input" id="applicant-individual-transferee1" name="applicant-individual-transferee1" type="checkbox" value="applicant1-transferee-1">

            <label class="govuk-label govuk-checkboxes__label" for="applicant-individual-transferee">
              {{ data['applicant-individual-forename'] }} {{ data['applicant-individual-surname'] }}
            </label>
          </div>
    {% endif %}


    {% if data['applicant2-individual-forename-2'] %}
          <div class="govuk-checkboxes__item">

            <input class="govuk-checkboxes__input" id="" name="applicant-individual-transferee2" type="checkbox" value="applicant2-transferee-2">

            <label class="govuk-label govuk-checkboxes__label" for="applicant-individual-transferee">
              {{ data['applicant2-individual-forename-2'] }} {{ data['applicant2-individual-surname-2'] }}
            </label>
          </div>
    {% endif %}

    {% if data['applicant3-individual-forename-3'] %}
          <div class="govuk-checkboxes__item">

            <input class="govuk-checkboxes__input" id="" name="applicant-individual-transferee3" type="checkbox" value="applicant3-transferee-3">

            <label class="govuk-label govuk-checkboxes__label" for="applicant-individual-transferee">
              {{ data['applicant3-individual-forename-3'] }} {{ data['applicant3-individual-surname-3'] }}
            </label>
          </div>
    {% endif %}



    {% if data['applicant-company-name'] %}
          <div class="govuk-checkboxes__item">

            <input class="govuk-checkboxes__input" id="company1-checkbox" name="applicant-company-transferee1" type="checkbox" value="applicant1-company-transferee-1">

            <label class="govuk-label govuk-checkboxes__label" for="applicant-company-transfere">
              {{ data['applicant-company-name'] }}
            </label>
          </div>
    {% endif %}

    {% if data['applicant2-company-name-2'] %}
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="company2-checkbox" name="applicant-company-transferee2" type="checkbox" value="applicant2-company-transferee-2">
            <label class="govuk-label govuk-checkboxes__label" for="applicant-transferee">
              {{ data['applicant2-company-name-2'] }}
            </label>
          </div>
    {% endif %}

    {% if data['applicant3-company-name-3'] %}
          <div class="govuk-checkboxes__item">

            <input class="govuk-checkboxes__input" id="" name="applicant-company-transferee3" type="checkbox" value="applicant-transferee-4">

            <label class="govuk-label govuk-checkboxes__label" for="applicant-transferee">
              {{ data['applicant3-company-name-3'] }}
            </label>
          </div>
    {% endif %}

    {% if data['applicant-overseas-name'] %}
          <div class="govuk-checkboxes__item">

            <input class="govuk-checkboxes__input" id="" name="applicant-overseas-transferee1" type="checkbox" value="applicant-transferee-4">

            <label class="govuk-label govuk-checkboxes__label" for="applicant-transferee">
              {{ data['applicant-overseas-name'] }}
            </label>
          </div>
    {% endif %}

    {% if data['applicant2-overseas-name'] %}
          <div class="govuk-checkboxes__item">

            <input class="govuk-checkboxes__input" id="" name="applicant-overseas-transferee2" type="checkbox" value="applicant-transferee-4">

            <label class="govuk-label govuk-checkboxes__label" for="applicant-transferee">
              {{ data['applicant2-overseas-name'] }}
            </label>
          </div>
    {% endif %}

    {% if data['applicant3-overseas-name'] %}
          <div class="govuk-checkboxes__item">

            <input class="govuk-checkboxes__input" id="" name="applicant-overseas-transferee3" type="checkbox" value="applicant-transferee-4">

            <label class="govuk-label govuk-checkboxes__label" for="applicant-transferee">
              {{ data['applicant3-overseas-name'] }}
            </label>
          </div>
    {% endif %}

    {% if data['applicant-other-name'] %}
          <div class="govuk-checkboxes__item">

            <input class="govuk-checkboxes__input" id="" name="applicant-other-transferee1" type="checkbox" value="applicant-transferee-4">

            <label class="govuk-label govuk-checkboxes__label" for="applicant-transferee">
              {{ data['applicant-other-name'] }}
            </label>
          </div>
    {% endif %}

    {{ govukInsetText({
      text: "You can add transferees in the next step."
    }) }}


      </fieldset>
      </div>


<button type="submit" class="govuk-button" data-module="govuk-button">Continue</button>
</form>


</div>


{% endblock %}

<!-- <script>
  function checkChecked('whichapplicants') {
    var anyBoxesChecked = false;
    $('#' + 'whichapplicants' + 'input[type="checkbox"]').each(function() {
        if ($(this).is(":checked")) {
            anyBoxesChecked = true;
        }
    });

    if (anyBoxesChecked == false) {
      alert('Please select at least one checkbox');
      return false;
    }
}
</script> -->



{% block bodyEnd %}
  {% include "includes/scripts.html" %}
{% endblock %}
