{% extends "drs-layout.html" %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds" style="margin-top: -35px; margin-bottom:10px;">
    <a href="/enhancements/Transfer-Charge/tasks-complete-your-application" class="govuk-back-link">Return to task list</a>
  </div>
  <div class="govuk-grid-column-full" id="headerdiv">
    
    
      <span class="govuk-caption-l">Transfer for value (TR1)</span>

          <h1 class="govuk-heading-l">Confirm consideration</h1>
          <h3 class="govuk-heading-s">Transfer of £123 received from transferee</h3>


          <form method="post" action="/enhancements/transfer/dateConfirmed" novalidate>
            <div class="govuk-form-group">
              <fieldset class="govuk-fieldset" aria-describedby="contact-hint">
                <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="contact" name="contact" type="checkbox" value="email" data-aria-controls="conditional-contact">
                    <label class="govuk-label govuk-checkboxes__label" for="contact">
                      This is a commercial transaction and the price paid includes
                    </label>
                  </div>
                  <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="conditional-contact">
                    <div class="govuk-form-group">
                      <label class="govuk-label" for="contact-by-email">
                        VAT amount
                      </label>
                      <div class="input-container"> <!-- add input and span into a container-->
                        <input type="text" class="govuk-input govuk-input--width-10" id="with-hint" name="VAT"  value="{{ data['VAT'] }}"  type="text" aria-describedby="with-hint-info with-hint-hint" style="padding-left : 30px;"> <!-- add padding to stop user typing behind £ sign-->
                        <span class="unit" id="with-hint">&pound</span>
                      </div>
                    </div>
            
                  </div>
                </div>
            
              </fieldset>
            </div>

          <br>
            {{ govukButton({
            classes: "",
            text: "Continue"
            }) }}

          </form>


</main>




<script type="application/json" id="reference-form-validation">
 {
   "reference": {
     "presence": {
       "message": "^Enter your reference for this application"
     },
     "length": {
       "minimum": 1,
       "maximum": 25,
       "message": "^Your reference must be 25 characters or less"
     }
   }
</script>

<style>
  .back-link {
  border: none;
  background: none;
  font-size: 16px;
  text-decoration: underline;
  margin-top: 25px;

}
</style>

<script>
  function goBack() {
    window.history.back();
  }
</script>

<!-- {% set borrowerName1 = "Joe Bloggs" %} -->



{% endblock %}



