{% extends "drs-layout.html" %}


{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds" style="margin-top: -35px; margin-bottom:10px;">
    <a href="/enhancements/Transfer-Charge/tasks-complete-your-application" class="govuk-back-link">Return to task list</a>
  </div>
  <div class="govuk-grid-column-full" id="headerdiv">



<form method="post" action="/enhancements/transfer/transfer-download">
    <div class="govuk-grid-column-full">
        <span class="govuk-caption-xl">Transfer for value (TR1)</span>
        <h1 class="govuk-heading-xl">Are there any additional provisions?</h1>


      <div class="govuk-grid-column-two-thirds" style="margin-left: -10px;">

        <details class="govuk-details" data-module="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              About additional provisions
            </span>
          </summary>
          <div class="govuk-details__text">
            You must enter any required or permitted statement and any agreed covenants, declarations, etc.
          </div>
        </details>

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">

              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="additional-provisions" name="additional-provisions" type="radio" value="no">
                <label class="govuk-label govuk-radios__label" for="additional-provisions">
                  No
                </label>
              </div>

              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="additional-provisions-2" name="additional-provisions" type="radio" value="yes">
                <label class="govuk-label govuk-radios__label" for="additional-provisions-2">
                  Yes - I will upload a completed TR1 form later
                </label>
              </div>

              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="additional-provisions-3" name="additional-provisions" type="radio" value="text" data-aria-controls="conditional-additional-provisions-3">
                <label class="govuk-label govuk-radios__label" for="additional-provisions-3">
                  Yes - I need to enter details
                </label>
              </div>
              <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-additional-provisions-3">
                <div class="govuk-form-group">
                  <label class="govuk-label" for="enter-details">
                    Enter the details of any additional covenants or agreements between transferors and transferees.
                  </label>

                  <div class="govuk-character-count" data-module="govuk-character-count" data-maxlength="50000">
                    <div class="govuk-form-group">
                      <textarea class="govuk-textarea govuk-js-character-count" id="with-hint" name="with-hint" rows="10" aria-describedby="with-hint-info with-hint-hint"></textarea>
                    </div>

                    <div id="with-hint-info" class="govuk-hint govuk-character-count__message" aria-live="polite">
                      You can enter up to 50,000 characters
                    </div>

                </div>

              </div>
            </div>

          </fieldset>
        </div>

        <p class="govuk-body" style="font-weight: bold">
          By selecting ‘Continue’ you confirm any details provided are correct and consistent with supporting documents.
        </p>

        <br>

            {{ govukButton({
              text: "Continue"
            }) }}

            </div>
  </form>



</div>


{% endblock %}


{% block bodyEnd %}
  {% include "includes/scripts.html" %}
{% endblock %}
