
{% include "includes/header.html" %}


{% block content %}

<main class="govuk-main-wrapper " id="main-content" role="main">
<form method="post">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full govuk-!-margin-top-5">
      <div class="govuk-panel govuk-panel--confirmation">
          <h1 class="govuk-panel__title">
            Your application has been saved
          </h1>
          <div class="govuk-panel__body">
            Your reference<br><strong>JT/123/TR1</strong>
          </div>
      </div>
      <div class="govuk-grid-column-full govuk-!-margin-top-5" style="">
        <p> Your <a class="govuk-link" href="saved-applications">saved applications</a> are available for 90 days. </p>

        <p><a class="govuk-link" href="/setup/app-start"> Start a new application </a></p>

        <p><a class="govuk-link" href="#">Go to portal homepage</a> for other HM Land Registry Services.</p>
      <br>

    </div>
</div>
</div>
</form>
</main>

{% endblock %}

{% include "includes/footer.html" %}