
{% extends "layout_unbranded.html" %}

{% block pageTitle %}
Application saved
{% endblock %}

{% block beforeContent %}
<br>
<br>

{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full" id="headerdiv">
    <a href="/../../setup/app-start"><img src="/public/images/headerlogo.svg" alt="hmlrlogo"></a>

    <hr style= "height: 7px;  background: #b4d307 linear-gradient(-60deg,#b4d307,#b4d307 50%,#d7e900 0,#d7e900); border: none;">


  <div class="govuk-phase-banner">
      <p class="govuk-phase-banner__content">
      <strong class="govuk-tag govuk-phase-banner__content__tag">Prototype</strong>
      <span class="govuk-phase-banner__text">
      This is a prototype and not a real service.
      </span></p>
  </div>
  </div>
</div>

<form method="post">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full govuk-!-margin-top-5">
      <div class="govuk-panel govuk-panel--confirmation">
          <h1 class="govuk-panel__title">
            Your application has been saved
          </h1>
          <div class="govuk-panel__body">
            Your reference<br><strong>JT/123/TR1</strong>
          </div>
      </div>
      <div class="govuk-grid-column-full govuk-!-margin-top-5" style="">
        <p> Your <a class="govuk-link" href="saved-applications">saved applications</a> are available for 90 days. </p>

        <p><a class="govuk-link" href="/setup/app-start"> Start a new application </a></p>

        <p><a class="govuk-link" href="#">Go to portal homepage</a> for other HM Land Registry Services.</p>
      <br>

    </div>
</div>
</div>
</form>

<footer>
<div class="govuk-grid-row">
<div class="govuk-grid-column-full">
<hr style= "height: 7px;  background: #b4d307 linear-gradient(-60deg,#b4d307,#b4d307 50%,#d7e900 0,#d7e900); border: none;">
<br>
<p class="govuk-body-s" style="color: #747B7F"> The following links open in a new window
<br>
<br>
<a href="#" style="color: #747B7F"> Terms and conditions</a> | <a href="/setup/accessibility-statement" target="_blank" rel="noopener noreferrer" style="color: #747B7F">Accessibility statement</a> |  <a href="#" style="color: #747B7F">Freedom of information</a> | <a href="#" style="color: #747B7F">© Crown copyright</a></p>
</div>
</div>
</footer>
{% endblock %}
