
{% include "includes/header.html" %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/tabs/macro.njk" import govukTabs %}
{% from "govuk/components/table/macro.njk" import govukTable %}

{% block content %}

<main class="govuk-main-wrapper " id="main-content" role="main">
  <div class="govuk-grid-column-full govuk-!-margin-top-7">
    <span class="govuk-caption-l"></span>
    <h1 class="govuk-heading-l">Saved applications</h1>
    <p class="govuk-body"> Saved applications are available for up to 90 days.</p>

  <table class="govuk-table">
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header ">Your reference</th>
        <th scope="col" class="govuk-table__header">Title number</th>
        <th scope="col" class="govuk-table__header">Applicants</th>
        <th scope="col" class="govuk-table__header">Created</th>
        <th scope="col" class="govuk-table__header">Options</th>
      </tr>
    </thead>


      <tbody class="govuk-table_body">
        {% if data['reference'] %}
        <tr class="govuk-table_row" id="">
        <td class="govuk-table__cell">{{ data['reference'] }}</td>
        <td class="govuk-table__cell govuk-!-width-one-quarter">{{ data['title'] }}</td>
        <td class="govuk-table__cell">
            {{ data['applicant-individual-forename'] }} {{ data['applicant-individual-surname'] }}<br>
            {{ data['applicant-individual-forename-2'] }} {{ data['applicant-individual-surname-2'] }}<br>
            {{ data['applicant-company-name'] }}
        </td>
        <td class="govuk-table__cell govuk-!-width-one-quarter">10 November 2020</td>
        <td class="govuk-table__cell govuk-link"><a href="/transactions/tasks">Open</a><br><a href="delete-default">Delete</a></td>
        {% endif %}

        <tr class="govuk-table_row" id="">
        <td class="govuk-table__cell">ABC/123/DTC</td>
        <td class="govuk-table__cell govuk-!-width-one-quarter">LP12345</td>
        <td class="govuk-table__cell">John Smith<br> Jane Smith</td>
        <td class="govuk-table__cell govuk-!-width-one-quarter"><p>12 November 2020</p></td>
        <td class="govuk-table__cell govuk-link"><a href="/docs/examples/pass-data/charge">Open</a><br><a href="delete-default">Delete</a></td>


      </tbody>

  </table>


  <a class="govuklink" href="/../setup/app-start">Start a new application</a><br><br><br><br></div>
  </div>
</main>
{% endblock %}

{% include "includes/footer.html" %}