{% include "includes/header.html" %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/select/macro.njk" import govukSelect %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/details/macro.njk" import govukDetails %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}
{% from "govuk/components/date-input/macro.njk" import govukDateInput %}


{% block content %}



    <main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <a href="transactions/charge-tasks" class="govuk-back-link">Return to task list</a>

        <span class="govuk-caption-l">Charge</span>

          <h1 class="govuk-heading-l">Which applicants are lenders?</h1>


            <p class="govuk-body">Select all that apply. If no applicants are lenders, select 'Continue'. </p>

        <form method="post" action="/transactions/charge/applicants-lenders" name="">

            <div class="govuk-form-group">
              <fieldset class="govuk-fieldset" id="ApplicantLenders">

              <div class="govuk-checkboxes">
              {% if data['applicant-individual-forename'] %}
                    <div class="govuk-checkboxes__item">

                      <input class="govuk-checkboxes__input" id="applicant-individual-lender1" name="applicant-individual-lender1" type="checkbox" value="applicant1-lender-1">

                      <label class="govuk-label govuk-checkboxes__label" for="applicant-individual-lender">
                        {{ data['applicant-individual-forename'] }} {{ data['applicant-individual-surname'] }}
                      </label>
                    </div>
              {% endif %}

            <div class="govuk-checkboxes">
            {% if data['applicant2-individual-forename-2'] %}
                  <div class="govuk-checkboxes__item">

                    <input class="govuk-checkboxes__input" id="" name="applicant-individual-lender2" type="checkbox" value="applicant2-lender-2">

                    <label class="govuk-label govuk-checkboxes__label" for="applicant-individual-lender2">
                      {{ data['applicant2-individual-forename-2'] }} {{ data['applicant2-individual-surname-2'] }}
                    </label>
                  </div>
            {% endif %}

            <div class="govuk-checkboxes">
            {% if data['applicant-individual-forename-2'] %}
                  <div class="govuk-checkboxes__item">

                    <input class="govuk-checkboxes__input" id="" name="applicant-individual-lender2" type="checkbox" value="applicant2-lender-2">

                    <label class="govuk-label govuk-checkboxes__label" for="applicant-individual-lender2">
                      {{ data['applicant-individual-forename-2'] }} {{ data['applicant-individual-surname-2'] }}
                    </label>
                  </div>
            {% endif %}

            <div class="govuk-checkboxes">
            {% if data['applicant-individual-forename-3'] %}
                  <div class="govuk-checkboxes__item">

                    <input class="govuk-checkboxes__input" id="" name="applicant-individual-lender3" type="checkbox" value="applicant1-lender-1">

                    <label class="govuk-label govuk-checkboxes__label" for="applicant-individual-lender">
                      {{ data['applicant3-individual-forename-3'] }} {{ data['applicant3-individual-surname-3'] }}
                    </label>
                  </div>
            {% endif %}



            {% if data['applicant-company-name'] %}
                  <div class="govuk-checkboxes__item">

                    <input class="govuk-checkboxes__input" id="" name="applicant-company-lender1" type="checkbox" value="applicant1-lender-1">

                    <label class="govuk-label govuk-checkboxes__label" for="applicant-company-lender">
                      {{ data['applicant-company-name'] }}
                    </label>
                  </div>
            {% endif %}

            {% if data['applicant2-company-name-2'] %}
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="" name="applicant-company-lender2" type="checkbox" value="applicant2-company-lender">
                    <label class="govuk-label govuk-checkboxes__label" for="applicant-lender">
                      {{ data['applicant2-company-name-2'] }}
                    </label>
                  </div>
            {% endif %}

            {% if data['applicant3-company-name-3'] %}
                  <div class="govuk-checkboxes__item">

                    <input class="govuk-checkboxes__input" id="" name="applicant-company-lender3" type="checkbox" value="applicant-lender-4">

                    <label class="govuk-label govuk-checkboxes__label" for="applicant-lender">
                      {{ data['applicant3-company-name-3'] }}
                    </label>
                  </div>
            {% endif %}

            {% if data['applicant-overseas-name'] %}
                  <div class="govuk-checkboxes__item">

                    <input class="govuk-checkboxes__input" id="" name="applicant-overseas-lender1" type="checkbox" value="applicant-lender-4">

                    <label class="govuk-label govuk-checkboxes__label" for="applicant-lender">
                      {{ data['applicant-overseas-name'] }}
                    </label>
                  </div>
            {% endif %}

            {% if data['applicant2-overseas-name'] %}
                  <div class="govuk-checkboxes__item">

                    <input class="govuk-checkboxes__input" id="" name="applicant-overseas-lender2" type="checkbox" value="applicant-lender-4">

                    <label class="govuk-label govuk-checkboxes__label" for="applicant-lender">
                      {{ data['applicant2-overseas-name'] }}
                    </label>
                  </div>
            {% endif %}

            {% if data['applicant3-overseas-name'] %}
                  <div class="govuk-checkboxes__item">

                    <input class="govuk-checkboxes__input" id="" name="applicant-overseas-lender3" type="checkbox" value="applicant-lender-4">

                    <label class="govuk-label govuk-checkboxes__label" for="applicant-lender">
                      {{ data['applicant3-overseas-name'] }}
                    </label>
                  </div>
            {% endif %}

            {% if data['applicant-other-name'] %}
                  <div class="govuk-checkboxes__item">

                    <input class="govuk-checkboxes__input" id="" name="applicant-other-lender1" type="checkbox" value="applicant-lender-4">

                    <label class="govuk-label govuk-checkboxes__label" for="applicant-lender">
                      {{ data['applicant-other-name'] }}
                    </label>
                  </div>
            {% endif %}

            {{ govukInsetText({
              text: "You can add lenders in the next step."
            }) }}


              </fieldset>
              </div>





          {{ govukButton({
          classes: "",
          text: "Continue"
          }) }}

          </form>


</main>


<script type="application/json" id="reference-form-validation">
 {
   "reference": {
     "presence": {
       "message": "^Enter your reference for this application"
     },
     "length": {
       "minimum": 1,
       "maximum": 25,
       "message": "^Your reference must be 25 characters or less"
     }
   }
</script>



{% endblock %}
{% include "includes/footer.html" %}