{% include "includes/header.html" %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/select/macro.njk" import govukSelect %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/details/macro.njk" import govukDetails %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}
{% from "govuk/components/date-input/macro.njk" import govukDateInput %}

{% block content %}

    <main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds" style="margin-top: -35px;">
        <a href="/transactions/charge/tasks" class="govuk-back-link">Return to task list</a>
        </div>
    <div class="govuk-grid-column-two-thirds">
        <br>


          <h1 class="govuk-heading-l"><span class="govuk-caption-l">Charge</span>Enter charge date</h1>


          <form method="post" action="/transactions/charge/date-complete" data-validate="charge-date-form-validation" novalidate>

          {{ govukDateInput({
            id: "charge-date",
            class:"govuk-input",
            name: "charge-date",
            hint: {
              text: "For example, 12 11 2007"
            }
          }) }}

          <br>


          {{ govukButton({
          classes: "",
          text: "Continue"
          }) }}

        </form>

        <script type="application/json" id="charge-date-form-validation">
         // {
         //   "charge-date": {
         //     "presence": {
         //       "message": "^Enter charge date"
         //     }
         //   }
         // }
        </script>

</main>



{% endblock %}
{% include "includes/footer.html" %}