{#- We can't mount GOV.UK Frontend's assets at root as it's done automatically by the extensions framework. -#}
{%- set assetPath = '/govuk/assets' -%}

{% extends "govuk/template.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/select/macro.njk" import govukSelect %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/details/macro.njk" import govukDetails %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}



{% block headIcons %}
  <link rel="shortcut icon" href="{{ asset_path }}images/unbranded.ico?0.18.3" type="image/x-icon" />
  <link rel="mask-icon" href="{{ asset_path }}images/gov.uk_logotype_crown.svg?0.18.3" color="#0b0c0c">
  <link rel="apple-touch-icon-precomposed" sizes="152x152" href="{{ asset_path }}images/apple-touch-icon-152x152.png?0.18.3">
  <link rel="apple-touch-icon-precomposed" sizes="120x120" href="{{ asset_path }}images/apple-touch-icon-120x120.png?0.18.3">
  <link rel="apple-touch-icon-precomposed" sizes="76x76" href="{{ asset_path }}images/apple-touch-icon-76x76.png?0.18.3">
  <link rel="apple-touch-icon-precomposed" href="{{ asset_path }}images/apple-touch-icon-60x60.png?0.18.3">
{% endblock %}

{% block head %}
  <link href="/public/stylesheets/unbranded.css" media="all" rel="stylesheet" type="text/css">
{% endblock %}

{% block header %}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full" id="headerdiv">
    <a href="/../../setup/app-start"><img src="/public/images/headerlogo.svg" alt="hmlrlogo"></a>
    <p class="govuk-heading-m" style="text-align: center; margin-top:-45px;"><a href="/../../setup/app-start" class="header-link govuk-link--no-visited-state">Apply to update or create a registered title</a></p>
    <hr style= "height: 4px;  background-image: linear-gradient(-60deg, #d7e900, #d7e900 0%, #b4d307 50%, #b4d307); border: none;">


    <div class="govuk-phase-banner">
        <p class="govuk-phase-banner__content">
        <strong class="govuk-tag govuk-phase-banner__content__tag">Prototype</strong>
        <span class="govuk-phase-banner__text">
        This is a prototype and not a real service.
        </span></p>
    </div></div>
    </div>

    <main class="govuk-main-wrapper " id="main-content" role="main">
      <a href="charge-without-transfer-tasks" class="govuk-back-link">Back</a>
      <span class="govuk-caption-l">Charge</span>

          <h1 class="govuk-heading-l">Borrowers</h1>


          <form method="get" action="charge-without-transfer-charge-date" novalidate>

            <table class="govuk-table">
            <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header govuk-!-width-one-third">Borrower type</th>
              <th scope="col" class="govuk-table__header govuk-!-width-one-third">Borrower name</th>
              <th scope="col" class="govuk-table__header govuk-!-width-one-third">Details</th>
              <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Options</th>

              </tr>
            </thead>

            <tbody class="govuk-table__body">
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Private individual</td>
                    <td class="govuk-table__cell">{{ data['borrowerDetails1'] }}</td>
                    <td class="govuk-table__cell">
                        {% if data['soleChargeborrowerDetails1'] == 'correct' %}
                        <p>Correct</p>
                        {% endif %}
                        {% if data['soleChargeborrowerDetails1'] == 'changed' %}
                        <p>Amended</p>
                        {% endif %}
                        {% if data['soleChargeborrowerDetails1'] == 'removed'%}
                        <p>Removed</p>
                        {% endif %}
                      </td>
                    <td class="govuk-table__cell"><a href="charge-without-transfer-borrower-change">Change</a></td>
                  </tr>
            </tbody>
          </table>

          {{ govukWarningText({
            text: "I confirm all name details are correct",
            iconFallbackText: "Warning"
          }) }}

            {{ govukButton({
            classes: "",
            text: "Continue"
            }) }}

          </form>


</main>


<hr style= "height: 4px;  background-image: linear-gradient(-60deg, #d7e900, #d7e900 0%, #b4d307 50%, #b4d307); border: none;">
<br>
<p class="govuk-body-s"> The following links open in a new window
<br>
<br>
<a href="#"> Terms and conditions</a> | <a href="#">Freedom of information</a> | <a href="#">© Crown copyright</a></p>
<a href="/prototype-admin/clear-data">Clear data</a>


<script type="application/json" id="reference-form-validation">
 {
   "reference": {
     "presence": {
       "message": "^Enter your reference for this application"
     },
     "length": {
       "minimum": 1,
       "maximum": 25,
       "message": "^Your reference must be 25 characters or less"
     }
   }
</script>



{% endblock %}




{% block bodyEnd %}
  {% include "includes/scripts.html" %}
{% endblock %}
