{% extends "drs-layout.html" %}

{% block content %}


    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds" style="margin-top: -35px; margin-bottom:10px;">
        <a href="/enhancements/Transfer-Charge/tasks-complete-your-application" class="govuk-back-link">Return to task list</a>
        </div>
    <div class="govuk-grid-column-two-thirds">
        <br>


          <h1 class="govuk-heading-l"><span class="govuk-caption-l">Charge</span>Enter charge date</h1>


          <form method="post" action="/enhancements/charge/date-entered" data-validate="charge-date-form-validation" novalidate>

          {{ govukDateInput({
            id: "charge-date",
            class:"govuk-input",
            name: "charge-date",
            hint: {
              text: "For example, 12 11 2019"
            }
          }) }}

          <br>


          {{ govukButton({
          classes: "",
          text: "Continue"
          }) }}

        </form>

        <script type="application/json" id="charge-date-form-validation">
         // {
         //   "charge-date": {
         //     "presence": {
         //       "message": "^Enter charge date"
         //     }
         //   }
         // }
        </script>

</main>






{% endblock %}


{% block bodyEnd %}
  {% include "includes/scripts.html" %}
{% endblock %}
