{% include "includes/header.html" %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/character-count/macro.njk" import govukCharacterCount %}



{% block content %}

<main class="govuk-main-wrapper" id="main-content" role="main">

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
    <span class="govuk-caption-xl"></span>
    <h1 class="govuk-heading-xl"> Accessibility statement </h1>

    <p class="govuk-body">This website is run by HM Land Registry. We want as many people as possible to be able to use it. For example, that means you should be able to:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>change colours, contrast levels and fonts</li>
        <li>zoom in up to 200% without the text spilling off the screen</li>
      	<li>navigate most of the website using just a keyboard</li>
      	<li>navigate most of the website using speech recognition software</li>
      	<li>listen to most of the website using a screen reader (including the most recent versions of JAWS, NVDA and VoiceOver)</li>
      </ul>

    <p class="govuk-body">
      We’ve also made the website text as simple as possible to understand. <br><br>

    <a class="govuk-link" href="https://mcmw.abilitynet.org.uk/">AbilityNet</a> has advice on making your device easier to use if you have a disability.</p>

    <h2 class="govuk-heading-l">How accessible is this website?</h2>
    <p class="govuk-body"> We know some parts of this website aren’t fully accessible. For example:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>it’s not always possible to return to the homepage</li>
      <li>some headings are clipped at high magnification sizes</li>
      <li>some button colours are not consistent</li>
      <li>some link highlighting is not consistent</li>
      <li>some radio buttons don’t behave as intended</li>
    </ul>

    <h2 class="govuk-heading-l">What to do if you can’t access parts of this website</h2>
    <p class="govuk-body">If you need information on this website in a different format like accessible PDF, large print, easy read, audio recording or braille, make a request using these details:</p>
      <ul class="govuk-list govuk-list--bullet">
          <li>phone on 0300 006 0411 </li>
          <li>post at HM Land Registry Citizen Centre, PO Box 74, Gloucester, GL14 9BB</li>
          <li><a href="https://www.gov.uk/guidance/contact-hm-land-registry">online</a></li>
    </ul>

    <br>
    <p class="govuk-body"> We’ll consider your request and get back to you within 5 days.</p>

    <h2 class="govuk-heading-l">Reporting accessibility problems with this website</h2>
    <p class="govuk-body">We’re always trying to improve the accessibility of this website. If you find any problems that aren’t listed on this page or if you think we’re not meeting accessibility standards, contact the Customer Services Centre using these details:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>phone on 0300 006 0411</li>
      <li>post at HM Land Registry Citizen Centre, PO Box 74, Gloucester, GL14 9BB</li>
      <li><a href="https://www.gov.uk/guidance/contact-hm-land-registry">online</a></li>
    </ul>

    <h2 class="govuk-heading-l">Enforcement procedure</h2>
    <p class="govuk-body">The Equality and Human Rights Commission (EHRC) is responsible for enforcing the Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018 (the ‘accessibility regulations’).
      If you’re not happy with how we respond to your complaint, contact the <a href="https://www.equalityadvisoryservice.com/">Equality Advisory and Support Service (EASS)</a>.</p>

    <h2 class="govuk-heading-l">Contact us by phone or visit us in person</h2>
    <p class="govuk-body">We provide a text relay service for people who are D/deaf, hearing impaired or have a speech impediment.<br><br>
      Our offices have audio induction loops. Contact us before your visit if you need a British Sign Language (BSL) interpreter.<br><br>

    <a class="govuk-link" href="https://www.gov.uk/guidance/contact-hm-land-registry"> Find out how to contact us</a></p>

  <br>
    <h2 class="govuk-heading-l">Technical information about this website’s accessibility</h2>
    <p class="govuk-body">HM Land Registry is committed to making its website accessible,
    in accordance with the Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018.</p>

    <p class="govuk-body">This website is partially compliant with the <a href="https://www.w3.org/TR/WCAG21/">Web Content Accessibility Guidelines version 2.1</a> AA standard. </p>

    <h2 class="govuk-heading-l">Non-accessible content</h2>
    <p class="govuk-body">The content listed below is non-accessible for the following reasons.</p>

    <h3 class="govuk-heading-m">Non-compliance with the accessibility regulations</h3>
    <ul class="govuk-list">
      <li>Users cannot return to the start of the journey once they have begun. This fails WCAG 2.1 AA criterion 2.4.5 (Multiple Ways).</li>
      <br>
      <li>Some headings appear clipped. This fails WCAG 2.1 AA criterion 1.4.10 (Reflow). </li>
      <br>
      <li>The red delete button sometimes appears green when tabbing through the page. This fails WCAG 2.1 AA criterion 3.2.1 (On Focus). </li>
      <br>
      <li>The highlight colour shown when using the tab key to navigate through links is sometimes inconsistent. This fails WCAG 2.1 AA criterion 2.4.7 (Focus Visible). </li>
      <br>
      <li>Some parts of the ‘Select lender representation’ function will not be visible to screen readers. This fails WCAG 2.1 A criterion 4.1.1 (Validate the HTML). </li>
      <br>
      <li>Some selected radio buttons do not remain selected when returned to. This fails WCAG 2.1 AA criterion 3.2.3 (Consistent Navigation). </li>
      <br>
      <li>In a few instances, users are not informed that links will open in a new window or tab. This fails WCAG 2.1 AA criterion 2.4.4 (Link Purpose). </li>
      <br>
      <li>Some tables do not have captions to help those using assistive technology. This fails WCAG 2.1 AA criterion 1.3.2 (Meaningful Sequence). </li>
      <br>
      <li>Some links don’t change state when moused over. This fails WCAG 2.1 AA 2.4.7 (Focus Visible).</li>
      <br>
      <li>Some tables may be confusing for users of assistive technology, because the relationship between table headers and cells is not clear. This fails WCAG 2.1 AA 1.3.2 (Meaningful Sequence).</li>
      <br>
      <li>Users of assistive technology may encounter links in the ‘Review your application’ and ‘Application submitted’ screens that have no content or destination. This fails WCAG 2.1 AA 2.4.4 (Link Purpose).</li>
      <br>
      <li>‘Change’ links on the Review your application screen may be confusing to users of assistive technologies as it may not be clear what the link refers to. This fails WCAG 2.1 AA 2.4.4 (Link Purpose).</li>
      <br>
      <li> The ‘Review your application’ and ‘Application submitted’ screens may be confusing to those using screen readers because the hierarchy of information is not clear. This fails WCAG 2.1 AA 2.4.6 (Headings and Labels).</li>
      <br>
      <li>Some tables contain empty cells, which may be confusing for users of screen readers. This fails WCAG 2.1 AA 4.1.1 (Validate the HTML).</li>


    </ul>

    <h3 class="govuk-heading-m">Disproportionate burden</h3>
      <p class="govuk-body">It is not considered that any aspect of HM Land Registry’s services will fall into this category.  Areas of non-compliance with the guidelines are detailed in other sections of this statement.</p>

    <h3 class="govuk-heading-m">Content that’s not within the scope of the accessibility regulations</h3>
      <h4 class="govuk-heading-s">PDFs and other documents</h4>
      <p class="govuk-body"> The <a href="http://www.legislation.gov.uk/uksi/2018/952/regulation/4/made">accessibility regulations</a> do not require us to fix PDFs or other documents published before 23 September 2018 if they’re not essential to providing our services. For example, we do not plan to fix <a href="https://www.gov.uk/government/publications/transfer-under-a-chargees-power-of-sale">Transfer under a chargee’s power of sale (PG75)</a>.</p>

    <h2 class="govuk-heading-l">How we tested this website</h2>
      <p class="govuk-body">This website was last tested on [last tested date (Day Month Year)]. Tests were carried out by an independent internal audit team using a purpose-built test suite.

      We aim to fix the reported defects by [fix date (Day Month Year)].</p>

    <h2 class="govuk-heading-l">What we’re doing to improve accessibility</h2>
      <p class="govuk-body">We've written this statement based on the defects found on [date of last bug identified (Day Month Year)]. As we are still building this service, we'll continue to test it and all new pages. We'll update this statement as we find or fix any defects.</p>
      <br>
      <br>
      <p class="govuk-body">This statement was prepared on [date of final draft]. </p>


    </div>
  </div>
</main>

{% endblock %}

{% block hmlrFooter %}
  {% include "includes/footer.html" %}
{% endblock %}
