{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Admin tools
        <span class="govuk-caption-xl">Prototype kit {{releaseVersion}}</span>
      </h1>{{releaseVersion | log }}
      <p>Open the pages below in new tabs, refresh the view stored session data page anytime to see the current set of session data stored</p>
      <p>
        <a href="stored-data">view stored session data</a>
      </p>
      <p>Clear session data to remove all previously entered data:
        <a href="/../prototype-admin/clear-data">Clear data</a>
      </p>

      <h2 class="govuk-heading-m">Test scenarios:</h2>
      	<p><ul class="govuk-list govuk-list--bullet">
      		<li><a href="/../prototype-admin/clear-data">No stored data</a> (clears data first)</li>
		      <li><a href="/docs/examples/pass-data/task-list">Task list</a></li>
          <p>This scenario loads the task list with data added, use for any discharge or transfer tasks plus save & resume.</p>
		    </ul>
		  </p>
      <br>
      <br>

      <h2 class="govuk-heading-m">Development:</h2>
      	<p><ul class="govuk-list govuk-list--bullet">
		      <li><a href="/docs/examples/pass-data/task-list">Task list</a></li>
          <p>This scenario loads the task list with data added, use for any discharge or transfer tasks plus save & resume.</p>
		    </ul>
		  </p>

    </div>
</div>

{% endblock %}
