{% include "includes/header.html" %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}

{% block content %}

    <main class="govuk-main-wrapper " id="main-content" role="main">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">

            <h1 class="govuk-heading-xl"> Digital Registration Service</h1>
            <p class="govuk-body">You can use this service to submit an AP1 form to update an existing title. </p>

            {{ govukInsetText({
              text: "This service supports only single title applications where an AP1 is needed. You don't need to supply a paper AP1."
            }) }}

            <h2 class="govuk-heading-m">Coronavirus (COVID-19): temporary rules on identity</h2>
            <p>HM Land Registry has introduced a range of temporary measures for verifying identity during the coronavirus (COVID-19) outbreak.</p>

            <p>The measures are set out in <a href="https://www.gov.uk/government/publications/temporary-changes-to-hm-land-registrys-evidence-of-identity-requirements-pg67a/practice-guide-67a-temporary-changes-to-hm-land-registrys-evidence-of-identity-requirements" target="_blank">Practice Guide 67A</a> (opens in a new tab), which accompanies <a href="https://www.gov.uk/government/publications/evidence-of-identity-conveyancers" target="_blank">Practice Guide 67</a> (opens in a new tab).</p>

<br>

            {{ govukButton({
            text: "Start now",
            href: "client-reference",
            isStartButton: true
          }) }}


            {{ govukButton({
            text: "Go to saved applications",
            classes: "secondary-button",
            href: "/save-resume/saved-applications",
            isStartButton: false
          }) }}


          <h2 class="govuk-heading-m govuk-!-padding-top-4"> Before you start </h2>

          <p class="govuk-body"> You'll need to provide: </p>

          <ul class="govuk-list govuk-list--bullet">
            <li>the title number</li>
            <li>applicant details</li>
            <li>scanned documents, if needed</li>
          </ul>

          <p class="govuk-body"> You cannot use this service to: </p>

          <ul class="govuk-list govuk-list--bullet">
            <li>register a transfer of charge</li>
            <li>register a transfer by operation of law</li>
            <li>register a transfer of residue</li>
            <li>register a transfer of part applications</li>
            <li>submit applications for personal representation</li>
            <li>submit multi-title applications</li>
            <li>submit applications against a pending new title where it involves a transfer of charge</li>
          </ul>

          <p class="govuk-body">For these applications, please use the <a href="#"> Document Registration Service</a>.</p>
          </div>
          </div>
          </main>

{% endblock %}

{% block hmlrFooter %}
  {% include "includes/footer.html" %}
{% endblock %}