{% include "includes/header.html" %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/character-count/macro.njk" import govukCharacterCount %}

{% block content %}

    <main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

    <span class="govuk-caption-l"></span>
    <h1 class="govuk-heading-l"> Change title number </h1>


  <form method="get" action="property-description" data-validate="title-form-validation" novalidate>
    <div class="govuk-character-count" data-module="govuk-character-count" data-maxlength="25">
      <div class="govuk-form-group">
        <label class="govuk-label" for="with-hint">
          Type in the title number
        </label>

      <input value="{{ data['title'] }}" type="text" class="govuk-input govuk-!-width-one-quarter" id="with-hint" name="title" aria-describedby="with-hint-info with-hint-hint">
      </div>


    {{ govukButton({
      text: "Continue",
      classes: "govuk-!-margin-top-5"
    }) }}

  </form>
  </div>
  </div>
  </main>




  <script type="application/json" id="title-form-validation">
   {
     "title": {
       "presence": {
         "message": "^Enter a title number"
       }
     }
   }
 </script>

{% endblock %}

{% include "includes/footer.html" %}