{% include "includes/header.html" %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/select/macro.njk" import govukSelect %}
{% from "govuk/components/textarea/macro.njk" import govukTextarea %}
{% from "govuk/components/character-count/macro.njk" import govukCharacterCount %}

{% block content %}

<main class="govuk-main-wrapper" id="main-content" role="main">
 <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">

<form name="goBack" method="get" data-validate="reference-form-validation" novalidate>
  <span class="govuk-caption-l"></span>
  <h1 class="govuk-heading-l"> Change your reference </h1>


    <div class="govuk-character-count" data-module="govuk-character-count" data-maxlength="25">
      <div class="govuk-form-group">
        <label class="govuk-label" for="with-hint">
          Type in your reference for this application
        </label>

        <input type="text" class="govuk-input govuk-js-character-count govuk-!-width-one-half" id="with-hint" name="reference" aria-describedby="with-hint-info with-hint-hint">
      </div>

      <span id="with-hint-info" class="govuk-hint govuk-character-count__message" aria-live="polite">
        You can enter up to 25 characters
      </span>
    </div>


    {{ govukButton({
      text: "Continue"
    }) }}
  </form>
  </div>
  </div>
</main>
<!--Return the user to their previous page after editing their reference-->
  <script type="text/javascript">
    window.onload = function() {
        document.goBack.action = document.referrer;
    }

    function get_action() {
        return form_action;
    }
</script>


  <script type="application/json" id="reference-form-validation">
   {
     "reference": {
       "presence": {
         "message": "^Enter your reference for this application"
       },
       "length": {
         "minimum": 1,
         "maximum": 25,
         "message": "^Your reference must be 25 characters or less"
       }
     }
   }
 </script>


{% endblock %}

{% include "includes/footer.html" %}