{#- We can't mount GOV.UK Frontend's assets at root as it's done automatically by the extensions framework. -#}
{%- set assetPath = '/govuk/assets' -%}

{% extends "govuk/template.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/character-count/macro.njk" import govukCharacterCount %}




{% block headIcons %}
  <link rel="shortcut icon" href="{{ asset_path }}images/unbranded.ico?0.18.3" type="image/x-icon" />
  <link rel="mask-icon" href="{{ asset_path }}images/gov.uk_logotype_crown.svg?0.18.3" color="#0b0c0c">
  <link rel="apple-touch-icon-precomposed" sizes="152x152" href="{{ asset_path }}images/apple-touch-icon-152x152.png?0.18.3">
  <link rel="apple-touch-icon-precomposed" sizes="120x120" href="{{ asset_path }}images/apple-touch-icon-120x120.png?0.18.3">
  <link rel="apple-touch-icon-precomposed" sizes="76x76" href="{{ asset_path }}images/apple-touch-icon-76x76.png?0.18.3">
  <link rel="apple-touch-icon-precomposed" href="{{ asset_path }}images/apple-touch-icon-60x60.png?0.18.3">
{% endblock %}

{% block head %}
  <link href="/public/stylesheets/unbranded.css" media="all" rel="stylesheet" type="text/css">
{% endblock %}

{% block header %}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full" id="headerdiv">
    <a href="/../../setup/app-start"><img src="/public/images/headerlogo.svg" alt="hmlrlogo"></a>
    <p class="govuk-heading-m" style="text-align: center; margin-top:-45px;"><a href="/../../setup/app-start" class="header-link govuk-link--no-visited-state">Digital Registration Service</a></p>
    <hr style= "height: 7px;  background: #b4d307 linear-gradient(-60deg,#b4d307,#b4d307 50%,#d7e900 0,#d7e900); border: none;">


    <div class="govuk-phase-banner">
        <p class="govuk-phase-banner__content">
        <strong class="govuk-tag govuk-phase-banner__content__tag">Prototype</strong>
        <span class="govuk-phase-banner__text">
        This is a prototype and not a real service.
        </span></p>
    </div>
    </div>
    </div>

    <main class="govuk-main-wrapper " id="main-content" role="main">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-three-quarters">




  <form method="post" action="summary">

    <div class="govuk-form-group">
    <fieldset class="govuk-fieldset" aria-describedby="contact-hint">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
        <h1 class="govuk-fieldset__heading">
          Select which titles the application only affects part of <br><br>
        </h1>
      </legend>

      <div class="govuk-checkboxes" data-module="govuk-checkboxes">
        {% if data['title_number_1'] %}
        <div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="title1" name="title1" type="checkbox" value="title1" data-aria-controls="conditional-contact">
          <label class="govuk-label govuk-checkboxes__label" for="title1">
            {{ data['title_number_1'] }}
            <br>1, St William Road, Littlehaxten, Wiltshire, LH1 3AB
          </label>
        </div>
        <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="conditional-contact">
          <div class="govuk-form-group">
            <label class="govuk-label" for="part-details-1">
              Describe the part(s) affected
            </label>
            <div id="contact-hint" class="govuk-hint">
              For example 'edged red on the plan to the transfer dated DD/MM/YYYY'
            </div>
            <textarea class="govuk-textarea govuk-!-width-two-thirds" id="part-details-1" name="part-details-1" type="text" rows="5" spellcheck="false"></textarea></div>
        </div>
        {% endif %}

        {% if data['title_number_2'] %}
        <div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="title2" name="title2" type="checkbox" value="title2" data-aria-controls="conditional-contact-2">
          <label class="govuk-label govuk-checkboxes__label" for="title2">
            {{ data['title_number_2'] }}
            <br>2, St William Road, Littlehaxten, Wiltshire, LH1 3AB
          </label>
        </div>
        <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="conditional-contact-2">
          <div class="govuk-form-group">
            <label class="govuk-label" for="part-details-2">
              Describe the part(s) affected
            </label>
            <div id="contact-hint" class="govuk-hint">
              For example 'edged red on the plan to the transfer dated DD/MM/YYYY'
            </div>
            <textarea class="govuk-textarea govuk-!-width-two-thirds" id="part-details-2" name="part-details-2" type="text" rows="5" spellcheck="false"></textarea></div>
        </div>
        {% endif %}

        {% if data['title_number_3'] %}
        <div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="title3" name="title3" type="checkbox" value="title3" data-aria-controls="conditional-contact-3">
          <label class="govuk-label govuk-checkboxes__label" for="title3">
            {{ data['title_number_3'] }}
            <br>3, St William Road, Littlehaxten, Wiltshire, LH1 3AB
          </label>
        </div>
        <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="conditional-contact-3">
          <div class="govuk-form-group">
            <label class="govuk-label" for="part-details-3">
              Describe the part(s) affected
            </label>
            <div id="contact-hint" class="govuk-hint">
              For example 'edged red on the plan to the transfer dated DD/MM/YYYY'
            </div>
            <textarea class="govuk-textarea govuk-!-width-two-thirds" id="part-details-3" name="part-details-3" type="text" rows="5" spellcheck="false"></textarea></div>
        </div>
        {% endif %}





      </div>

    </fieldset>
  </div>



    {{ govukButton({
      text: "Continue"
    }) }}

  </form>
  </div>
  </div>
  </main>

  <script type="application/json" id="title-form-validation">
   {
     "title": {
       "presence": {
         "message": "^Enter a title number"
       }
     }
   }
 </script>

 <footer>
 <div class="govuk-grid-row">
 <div class="govuk-grid-column-full">
 <hr style= "height: 7px;  background: #b4d307 linear-gradient(-60deg,#b4d307,#b4d307 50%,#d7e900 0,#d7e900); border: none;">
 <br>
 <p class="govuk-body-s" style="color: #747B7F"> The following links open in a new window
 <br>
 <br>
 <a href="#" style="color: #747B7F"> Terms and conditions</a> | <a href="/setup/accessibility-statement" target="_blank" rel="noopener noreferrer" style="color: #747B7F">Accessibility statement</a> |  <a href="#" style="color: #747B7F">Freedom of information</a> | <a href="#" style="color: #747B7F">© Crown copyright</a></p>
 </div>
 </div>
 </footer>





{% endblock %}


{% block footer %}
{% endblock %}

{% block bodyEnd %}
  {% include "includes/scripts.html" %}
{% endblock %}
