{% include "includes/header.html" %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/character-count/macro.njk" import govukCharacterCount %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/textarea/macro.njk" import govukTextarea %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}

{% block content %}

    <main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-l"></span>
  <h1 class="govuk-heading-l"> Property description </h1>

  <div>

    <!-- <table class="govuk-table"> -->
<!--
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">

          <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Title number</th>
          <th scope="col" class="govuk-table__header govuk-!-width-one-half">Description</th>
          <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Options</th>
        </tr>
      </thead>

      <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td class="govuk-table__cell"><p>{{ data['title'] }}</p></td>
              <td class="govuk-table__cell" value="property-address">11, St William Road, Littlehaxten, Wiltshire LH1 3AB</td>
              <td class="govuk-table__cell govuk-link govuk-link--no-visited-state"><a href="change-title">Change</a></td>
            </tr>
      </tbody>
    </table> -->

     <div>
       <dl class="govuk-summary-list govuk-!-margin-bottom-9">
         <div class="govuk-summary-list__row">
           <dt class="govuk-summary-list__key govuk-!-width-one-quarter">Title number</dt>
           <dd class="govuk-summary-list__value govuk-!-width-one-half"><p>{{ data['title'] }}</p></dd>
           <dd class="govuk-summary-list__actions govuk-!-width-one-quarter">
               <a href="change-title">Change</a>
               <span class="govuk-visually-hidden"> title</span>
           </dd>
         </div>
         <div class="govuk-summary-list__row">
           <dt class="govuk-summary-list__key govuk-!-width-one-quarter">Description</dt>
           <dd class="govuk-summary-list__value govuk-!-width-one-half" value="property-address"><p>11, St William Road, Littlehaxten, Wiltshire LH1 3AB</p></dd>
           <dd class="govuk-summary-list__actions govuk-!-width-one-quarter">
               <span class="govuk-visually-hidden"> title</span>
           </dd>
         </div>
         </dl>

    <form method="post" action="/transactions/select-transactions" name="" data-validate="whole-form-validation" novalidate>

      {% set partHtml %}
        {{ govukTextarea({
          id: "part",
          rows: "5",
          name: "part",
          classes: "govuk-!-width-full",
          hint: {
              text: "For example 'edged red on the plan to the transfer dated DD/MM/YYYY'"
            },
          label: {
            text: "Describe the part(s) affected"
          }
        }) }}

        {{ govukInsetText({
              text: "You'll need to upload the plan later."
            }) }}
        {% endset -%}

        {{ govukRadios({
  idPrefix: "part-whole",
  name: "whole-or-part",
  fieldset: {
    legend: {
      text: "This application affects",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--m"
    }
  },
  hint: {
    text: ""
  },
  items: [
    {
      value: "Whole",
      text: "the whole of the title",
      conditional: {
        html: wholeHtml
      }
    },
    {
      value: "part",
      text: "part of the title",
      disabled: false,
      conditional: {
        html: partHtml
      }
    }
  ]
}) }}


    {{ govukButton({
    text: "Continue"
  }) }}

    </form>
    </div>
    </div>
    </main>



<script type="application/json" id="whole-form-validation">
  {
    "whole-or-part": {
      "presence": {
        "message": "^Select if this application affects the whole or part of the title"
      }
    }
  }
</script>


{% endblock %}

{% include "includes/footer.html" %}