{#- We can't mount GOV.UK Frontend's assets at root as it's done automatically by the extensions framework. -#}
{%- set assetPath = '/govuk/assets' -%}

{% extends "govuk/template.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/character-count/macro.njk" import govukCharacterCount %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/textarea/macro.njk" import govukTextarea %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}






{% block headIcons %}
  <link rel="shortcut icon" href="{{ asset_path }}images/unbranded.ico?0.18.3" type="image/x-icon" />
  <link rel="mask-icon" href="{{ asset_path }}images/gov.uk_logotype_crown.svg?0.18.3" color="#0b0c0c">
  <link rel="apple-touch-icon-precomposed" sizes="152x152" href="{{ asset_path }}images/apple-touch-icon-152x152.png?0.18.3">
  <link rel="apple-touch-icon-precomposed" sizes="120x120" href="{{ asset_path }}images/apple-touch-icon-120x120.png?0.18.3">
  <link rel="apple-touch-icon-precomposed" sizes="76x76" href="{{ asset_path }}images/apple-touch-icon-76x76.png?0.18.3">
  <link rel="apple-touch-icon-precomposed" href="{{ asset_path }}images/apple-touch-icon-60x60.png?0.18.3">
{% endblock %}

{% block head %}
  <link href="/public/stylesheets/unbranded.css" media="all" rel="stylesheet" type="text/css">
{% endblock %}

{% block header %}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full" id="headerdiv">
    <a href="/../../setup/app-start"><img src="/public/images/headerlogo.svg" alt="hmlrlogo"></a>
    <p class="govuk-heading-m" style="text-align: center; margin-top:-45px;"><a href="/../../setup/app-start" class="header-link govuk-link--no-visited-state">Apply to update or create a registered title</a></p>
    <hr style= "height: 4px;  background-image: linear-gradient(-60deg, #d7e900, #d7e900 0%, #b4d307 50%, #b4d307); border: none;">


    <div class="govuk-phase-banner">
        <p class="govuk-phase-banner__content">
        <strong class="govuk-tag govuk-phase-banner__content__tag">Prototype</strong>
        <span class="govuk-phase-banner__text">
        This is a prototype and not a real service.
        </span></p>
    </div>
    </div>
    </div>

    <main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-l">Discharge of charge</span>
  <h1 class="govuk-heading-xl">Verify identity</h1>
  <form method="post" action="/../transactions/discharge/lender-representation" data-validate="representation-form-validation" novalidate>

    <p class="govuk-body"> When a party is not represented by a conveyancer, you must personally verify or provide evidence of their identity.
      <h2 class="govuk-heading-l"> Declaration </h2>
    <p class="govuk-body">[Lender name] is not represented by a conveyancer.
      <h3 class="govuk-heading-m"> Select the correct statement:</h3>

{{ govukRadios({
  idPrefix: "verify-statement",
  name: "verify-statement",
  fieldset: {
  },
  items: [
    {
      value: "Sufficient",
      name: "declaration",
      text: "I am satisfied that sufficient steps have been taken to verify the identity and that they are the registered proprieter or have the right to be registered as the proprieter"
    },
    {
      value: "Attach",
      name: "declaration",
      text: "I attach evidence of their identity with this application"
    }
  ]
}) }}
</div>
<div class="govuk-inset-text">
See <a href="#"> Practice Guide 67</a> for information about providing proof of identity.</div>

<button class="govuk-button" data-module="govuk-button">
  Continue
</button>

</div>

<script type="application/json" id="representtation-form-validation">
  {
    "declaration": {
      "presence": {
        "message": "^Select if this application affects the whole or part of the title"
      }
    }
  }
</script>


  <div class="govuk-grid-row">
  <div class="govuk-grid-column-full-width">

<hr style= "height: 4px;  background-image: linear-gradient(-60deg, #d7e900, #d7e900 0%, #b4d307 50%, #b4d307); border: none;">
<br>
<p class="govuk-body-s"> The following links open in a new window
<br>
<br>
<a href="#"> Terms and conditions</a> | <a href="#">Freedom of information</a> | <a href="#">© Crown copyright</a></p>

</div>


</div>



{% endblock %}


{% block footer %}
{% endblock %}

{% block bodyEnd %}
  {% include "includes/scripts.html" %}
{% endblock %}
