{% extends "drs-layout.html" %}


{% block content %}


        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">

    <span class="govuk-caption-xl"></span>
    <h1 class="govuk-heading-xl"> Does this application affect the whole of the title?</h1>



  <form method="post" action="/startpage-testing/version-1/register-updates/titles-in-this-application-1">

    <div class="govuk-form-group">
      <fieldset class="govuk-fieldset" aria-describedby="contact-hint">

        <div class="govuk-radios" data-module="govuk-radios">
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="whole" name="wholepart" type="radio" value="yes">
            <label class="govuk-label govuk-radios__label" for="whole">
              Yes
            </label>
          </div>

          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="part" name="wholepart" type="radio" value="no" data-aria-controls="conditional-part">
            <label class="govuk-label govuk-radios__label" for="part">
              No - only part of the title is affected
            </label>
          </div>
          <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-part">
            <div class="govuk-form-group govuk-width-one-third">
              <label class="govuk-label" for="part">
                Describe the parts affected
              </label>

              {% from "govuk/components/character-count/macro.njk" import govukCharacterCount %}

              {{ govukCharacterCount({
                name: "with-hint",
                id: "with-hint",
                maxlength: 100,
                hint: {
                  text: "For example 'edged red on the plan to the transfer dated DD/MM/YYYY'"
                }
              }) }}

            </div>
            <div class="govuk-inset-text">
              You'll need to upload the plan later
            </div>
          </div>

      </fieldset>
    </div>


    {{ govukButton({
      text: "Continue"
    }) }}

  </form>
  </div>
  </div>

  <footer>
  <div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
  <hr style= "height: 7px;  background: #b4d307 linear-gradient(-60deg,#b4d307,#b4d307 50%,#d7e900 0,#d7e900); border: none;">
  <br>
  <p class="govuk-body-s" style="color: #747B7F"> The following links open in a new tab.
  <br>
  <br>
  <a href="#" style="color: #747B7F"> Terms and conditions</a> | <a href="/setup/accessibility-statement" target="_blank" rel="noopener noreferrer" style="color: #747B7F">Accessibility statement</a> |  <a href="#" style="color: #747B7F">Cookies</a> | <a href="#" style="color: #747B7F">Freedom of information</a> | <a href="#" style="color: #747B7F">© Crown copyright</a></p>
  </div>
  </div>
  </footer>


{% endblock %}


{% block footer %}
{% endblock %}

{% block bodyEnd %}
{% endblock %}
