{% extends "drs-layout.html" %}

{% block content %}

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">

    <span class="govuk-caption-xl"></span>
    <h1 class="govuk-heading-xl"> Enter title numbers </h1>
    <p class="govuk-body">You can add up to 25 titles per application.</p>



    <form action="#">
      <div class="govuk-form-group">
        <h3 class="govuk-heading-s">Landlord title number </h3>
        <div id="title-number" class="govuk-hint">
          For example, "A123" or "XY5678"
        </div>
        <input class="govuk-input govuk-input--width-10" id="account-number" name="account-number" type="text" spellcheck="false" aria-describedby="account-number-hint" pattern="[0-9]*" inputmode="numeric">
      </div>
      <button class="govuk-button govuk-button--secondary save" data-module="govuk-button">
        Add to application
      </button>
      <div class="govuk-form-group">
        <h3 class="govuk-heading-s">Additional title number (optional)</h3>
        <div id="title-number" class="govuk-hint">
          For example, "A123" or "XY5678"
        </div>
        <input class="govuk-input govuk-input--width-10" id="account-number" name="account-number" type="text" spellcheck="false" aria-describedby="account-number-hint" pattern="[0-9]*" inputmode="numeric">
      </div>
      <button class="govuk-button govuk-button--secondary save" data-module="govuk-button">
        Add to application
      </button>
    </form>
      <div class="govuk-inset-text">
        You can amend title numbers later.
      </div>
    </form>


    {{ govukButton({
      text: "Continue",
      classes: "govuk-!-margin-top-5",
      href: "2-titles-whole-or-part"
    }) }}


    <!-- <script>

    $(".hardstopbutton").click(function () {

    if ($(".hardstop").val().length >= 1){
      go('../hardstop');
    }

    if ($(".hardstop").val().length === 0){
      go('../hardstop');
    }

    })
      $(".save").click(function () {

        if ($(".saveinput").val().length >= 1){
          go('1-title-no_');
        }

        if ($(".hardstop").val().length === 0){
          go('1-title-no_');
        }

        })

    </script> -->










  </div>
  </div>

  <script type="application/json" id="title-form-validation">
   {
     "title": {
       "presence": {
         "message": "^Enter a title number"
       }
     }
   }
 </script>







{% endblock %}



{% block bodyEnd %}
  {% include "includes/scripts.html" %}
{% endblock %}
