{% include "includes/header.html" %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/tabs/macro.njk" import govukTabs %}
{% from "govuk/components/table/macro.njk" import govukTable %}

{% block content %}
<div class="govuk-grid-row">

<form method="post" action="/transactions/charge/documents/CH2-attached">

<div class="govuk-grid-column-full govuk-!-margin-top-7">
  <span class="govuk-caption-xl">Charge</span>
  <h1 class="govuk-heading-l"> Attach and certify document </h1>
  <p class="govuk-body">Files can be GIF, TIFF, JPG or PDF and must not exceed 20MB file size.</p>
  <p class="govuk-body">Document type</p>
  <h2 class="govuk-heading-m govuk-!-margin-bottom-6" style="margin-top: -20px;">CH2</h2>
  <p class="govuk-body">Attach a file</p>

  <a href="#" type="file" id="required_upload" class="govuk-link--no-visited-state" onclick="fileupload()" style="cursor: pointer; text-decoration: none; font-size: 14px; color: black; border-style: solid;  border-width: 0.5px; padding: 5px; border-radius: 3px; position: absolute; ">Choose file</a>
  <a  style="margin-left: 100px;" class="govuk-body" id="filename" for="mortgage-upload"> No file chosen </a>




  <h3 class="govuk-heading-s govuk-!-margin-top-6">Certification</h3>
  <div class="govuk-form-group">
  <fieldset class="govuk-fieldset">
    <div class="govuk-radios govuk-!-width-two-thirds">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="Certified-1" name="cert" value="Certified" type="radio">
        <label class="govuk-label govuk-radios__label">
          I/we certify this is a true copy of an original document
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="Certified-2" name="cert" value="Certified" type="radio">
        <label class="govuk-label govuk-radios__label">
          I/we certify this attachment is a true copy of an original document which is certified by a conveyancer to be a true copy of the original
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="Certified-3" name="cert" value="Not certified" type="radio">
        <label class="govuk-label govuk-radios__label">
          This attachment is an uncertified copy
        </label>
      </div>
    </div>
  </fieldset>
  </div>


  <button type="submit" role="button" draggable="false" class="govuk-button" data-module="govuk-button">
    Continue
  </button>

</div>

</div>

</form>



<script>
  function fileupload() {

  $(document).ready(function(){
    $("a").click(function(){
      $(document.getElementById('filename')).text("CH2.pdf");
    });
  });

}

</script>



{% endblock %}

{% include "includes/footer.html" %}