{% include "includes/header.html" %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/select/macro.njk" import govukSelect %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/details/macro.njk" import govukDetails %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}
{% from "govuk/components/table/macro.njk" import govukTable %}

{% block content %}
<div class="govuk-grid-row govuk-!-margin-top-5">

<div class="govuk-grid-column-two-thirds">
  <form method="post" action="/charge-checklist-true">
  <span class="govuk-caption-l">Charge</span>
  <h1 class="govuk-heading-l">Attachment checklist</h1>

        {{ govukCheckboxes({
        idPrefix: "checklist",
        name: "charge-checklist",
        hint: {
          text: "Before attaching documents confirm you have made the following checks (where relevant) to avoid requisitions."
        },
        items: [
          {
            value: "1",
            text: "Names you input are consistent with how they appear in deeds and on the register"
          },
          {
            value: "2",
            text: "Naming inconsistencies are explained by the appropriate documentation"
          },
          {
            value: "3",
            text: "Deeds contain, where appropriate, the correct title numbers and dates"
          },
          {
            value: "4",
            text: "Executions are complete and correct, and signed by all necessary witnesses"
          },
          {
            value: "5",
            text: "Plans show all necessary references and have been signed"
          }
        ]
        }) }}



{{ govukButton({
classes: "govuk-!-margin-top-5",
text: "Continue"
}) }}


{{ govukButton({
  text: "Return to task list",
  classes: "govuk-button--secondary govuk-!-margin-top-5"
}) }}

</form>
</div>


</div>

<!-- <script>
  function RemoveTransfereeIndividual() {
  var x = document.getElementById("hidePI");
  if (x.style.display === "none") {
    x.style.display = "block";
  } else {
    x.style.display = "none";
  }
}


  function RemoveTransfereeUK() {
  var x = document.getElementById("hideUK");
  if (x.style.display === "none") {
    x.style.display = "block";
  } else {
    x.style.display = "none";
  }
}

</script> -->

{% endblock %}
{% include "includes/footer.html" %}