{% include "includes/header.html" %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/tabs/macro.njk" import govukTabs %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "govuk/components/file-upload/macro.njk" import govukFileUpload %}

{% block content %}
<div class="govuk-grid-row">


<form method="post" action="/transactions/charge/documents/Mortgage-attached">

<div class="govuk-grid-column-full govuk-!-margin-top-7">
  <span class="govuk-caption-xl">Charge</span>
  <h1 class="govuk-heading-l"> Attach and certify document </h1>
  <p class="govuk-body">Files can be GIF, TIFF, JPG or PDF and must not exceed 20MB file size.</p>

  <p class="govuk-body">Category</p>
  <h2 class="govuk-heading-m govuk-!-margin-bottom-6" style="margin-top: -20px;">Legal deed</h2>



    <div class="govuk-form-group govuk-!-margin-top-7">
    <label class="govuk-label" for="sort">
      Select a document type for each file you attach
    </label>
    <select class="govuk-select govuk-!-width-one-half" id="sort" name="sort">
      <option value="" selected>Select document type</option>
      <option value="" >Mortgage deed</option>
      <option value="">CH1</option>
    </select>
  </div>


  <p class="govuk-body">Upload a file</p>
  <a href="#" id="tr1-upload" class="" onclick="fileupload()" style="border-style: none; border-width: 1px; border-color: #D9D9D9; padding: 5px; border-radius: 3px; cursor: pointer;">Choose file</a>

  <a class="govuk-body" id="filename" for="tr1-upload"> No file chosen </a>

  <br><br><a class="govuk-link" href="#">Find out about registering overseas companies</a>


  <h3 class="govuk-heading-s govuk-!-margin-top-7">Certification</h3>
  <div class="govuk-form-group">
  <fieldset class="govuk-fieldset">
    <div class="govuk-radios govuk-!-width-two-thirds">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="Certified-1" name="cert" value="Certified" type="radio">
        <label class="govuk-label govuk-radios__label">
          I/we certify this is a true copy of an original document
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="Certified-2" name="cert" value="Certified" type="radio">
        <label class="govuk-label govuk-radios__label">
          I/we certify this attachment is a true copy of an original document which is certified by a conveyancer to be a true copy of the original
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="Certified-3" name="cert" value="Not certified" type="radio">
        <label class="govuk-label govuk-radios__label">
          This attachment is an uncertified copy
        </label>
      </div>
    </div>
  </fieldset>
  </div>


  <button type="submit" role="button" draggable="false" class="govuk-button" data-module="govuk-button">
    Continue
  </button>

</div>
</form>
</div>


<script>
  function fileupload() {

  $(document).ready(function(){
    $("a").click(function(){
      $(document.getElementById('filename')).text("document.pdf");
    });
  });

}

</script>



{% endblock %}

{% include "includes/footer.html" %}