{% include "includes/header.html" %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/tabs/macro.njk" import govukTabs %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}

{% block content %}
<div class="govuk-grid-row">

<div class="govuk-grid-column-full">

  <a href="/tasks" class="govuk-back-link" style="margin-top: 25px; margin-bottom: 30px;">Return to task list</a>
  <h1 class="govuk-heading-xl"><span class="govuk-caption-xl">Charge</span> Attach documents </h1>

  <form method="post" action="/transactions/charge/documentscomplete">
  <h2 class="govuk-heading-l"> Required </h2>
  <p class="govuk-body">Documents you must attach to avoid requisitions.</p>

  {% if data['MDreferenceinput'] %}
  <table class="govuk-table">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header">Category</th>
      <th scope="col" class="govuk-table__header govuk-!-width-one-third">Document type</th>
      <th scope="col" class="govuk-table__header">Certification</th>
      <th scope="col" class="govuk-table__header">File name</th>
      <th scope="col" class="govuk-table__header">Options</th>
    </tr>
  </thead>


        <tbody class="govuk-table__body">

          <tr class="govuk-table__row">
            <td class="govuk-table__cell">Legal deed</td>
            <td class="govuk-table__cell">Mortgage deed</td>
            <td class="govuk-table__cell">{% if data['mortgageAttached']%} Certified {% endif %}</td>
            <td class="govuk-table__cell">{% if data['mortgageAttached']%} deed.pdf {% endif %}</td>
            {% if data['mortgageAttached']%}<td class="govuk-table__cell govuk-link"><a href="">Remove</a></td>{% endif %}
            {% if not data['mortgageAttached'] %}<td class="govuk-table__cell govuk-link"><a href="document_upload.html">Attach</a></td>{% endif %}
          </tr>


          </tbody>
        </table>

        {% endif %}

        {% if not data['MDreferenceinput'] %}
        <table class="govuk-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Category</th>
            <th scope="col" class="govuk-table__header govuk-!-width-one-third">Document type</th>
            <th scope="col" class="govuk-table__header">Certification</th>
            <th scope="col" class="govuk-table__header">File name</th>
            <th scope="col" class="govuk-table__header">Options</th>
          </tr>
        </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Legal deed</td>
          <td class="govuk-table__cell">{% if not data['mortgageAttached']%}Various{% endif %}{% if data['mortgageAttached']%}Mortgage deed{% endif %}</td>
          <td class="govuk-table__cell">{% if data['mortgageAttached']%} Certified {% endif %}</td>
          <td class="govuk-table__cell">{% if data['mortgageAttached']%} deed.pdf {% endif %}</td>
          {% if data['mortgageAttached']%}<td class="govuk-table__cell govuk-link"><a href="">Remove</a></td>{% endif %}
          {% if not data['mortgageAttached'] %}<td class="govuk-table__cell govuk-link"><a href="document_upload_either">Attach</a></td>{% endif %}
        </tr>

        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Evidence</td>
          <td class="govuk-table__cell">Certificate of registration of a charge</td>
          <td class="govuk-table__cell">{% if data['certificateAttached']%} Certified {% endif %}</td>
          <td class="govuk-table__cell">{% if data['certificateAttached']%} Certificate.pdf {% endif %}</td>
          {% if data['certificateAttached']%}<td class="govuk-table__cell govuk-link"><a href="">Remove</a></td>{% endif %}
          {% if not data['certificateAttached'] %}<td class="govuk-table__cell govuk-link"><a href="document_upload-evidence.html">Attach</a></td>{% endif %}
        </tr>



        </tbody>
      </table>

      <h3 class="govuk-heading-l"> Suggested </h3>
      <p class="govuk-body">Documents you may need to attach if relevant to your application.</p>

      <table class="govuk-table">

      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Category</th>
          <th scope="col" class="govuk-table__header govuk-!-width-one-third">Document type</th>
          <th scope="col" class="govuk-table__header">Certification</th>
          <th scope="col" class="govuk-table__header">File name</th>
          <th scope="col" class="govuk-table__header">Options</th>
        </tr>
      </thead>

      <tbody class="govuk-table__body">

            <tr class="govuk-table__row">
              <td class="govuk-table__cell">Application form</td>
              <td class="govuk-table__cell">RX1</td>
              <td class="govuk-table__cell">{% if data['RX1Attached']%} Certified {% endif %}</td>
              <td class="govuk-table__cell">{% if data['RX1Attached']%} RX1.pdf {% endif %}</td>
              {% if data['RX1Attached']%}<td class="govuk-table__cell govuk-link"><a href="">Remove</a></td>{% endif %}
              {% if not data['RX1Attached'] %}<td class="govuk-table__cell govuk-link"><a href="RX1_upload.html">Attach</a></td>{% endif %}
            </tr>

            <tr class="govuk-table__row">
              <td class="govuk-table__cell">Application form</td>
              <td class="govuk-table__cell">CH2</td>
              <td class="govuk-table__cell">{% if data['CH2Attached']%} Certified {% endif %}</td>
              <td class="govuk-table__cell">{% if data['CH2Attached']%} CH2.pdf {% endif %}</td>
              {% if data['CH2Attached']%}<td class="govuk-table__cell govuk-link"><a href="">Remove</a></td>{% endif %}
              {% if not data['CH2Attached'] %}<td class="govuk-table__cell govuk-link"><a href="CH2_upload.html">Attach</a></td>{% endif %}
            </tr>



      </tbody>
      </table>
      {% endif %}

{% if data['other_upload'] %}
<h3 class="govuk-heading-l"> Other </h3>

<table class="govuk-table">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header">Category</th>
      <th scope="col" class="govuk-table__header govuk-!-width-one-third">Document type</th>
      <th scope="col" class="govuk-table__header">Certification</th>
      <th scope="col" class="govuk-table__header">File name</th>
      <th scope="col" class="govuk-table__header">Options</th>
    </tr>
  </thead>

  <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Evidence</td>
          <td class="govuk-table__cell govuk-!-width-one-quarter">Form JO (Trust information)</td>
          <td class="govuk-table__cell">Certified</td>
          <td class="govuk-table__cell govuk-!-width-one-third">Document.pdf</td>
          <td class="govuk-table__cell govuk-link"><a href="">Remove</a></td>
        </tr>
  </tbody>
  </table>

{% endif %}
<p class='govuk-body'><a href="document_upload_other">Attach another type of document</a></p>

{% if not data['MDreferenceinput'] %}
<div class="govuk-warning-text">
  <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
  <strong class="govuk-warning-text__text">
    <span class="govuk-warning-text__assistive">Warning</span>
    By selecting 'Continue' I confirm that the charge lodged here
          <br>- has been filed at Companies House<br>
              - relates to the accompanying certificate of registration
  </strong>
</div>
{% endif %}

{{ govukButton({
  text: "Continue"
}) }}
</form>


</div>
</div>




{% endblock %}

{% include "includes/footer.html" %}