{% extends "drs-layout.html" %}

{% block content %}
<div class="govuk-grid-row">

<div class="govuk-grid-column-full">
  <span class="govuk-caption-l"></span>


    <h1 class="govuk-heading-l">Applicants</h1>
    

<form method="post" action="/enhancements/which-task-list">


<table class="govuk-table" id="applicantlist">

  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header" style="width: 20%; box-sizing: border-box;">Applicant type</th>
      <th scope="col" class="govuk-table__header" style="width: 20%;box-sizing: border-box;">Full name</th>
      <th scope="col" class="govuk-table__header" style="width: 25%;box-sizing: border-box;">Company number</th>
      <th scope="col" class="govuk-table__header" style="width: 25%;box-sizing: border-box;" >Territory of incorporation</th>
      <th scope="col" class="govuk-table__header" style="width: 10%;box-sizing: border-box;">Options</th>
    </tr>
  </thead>

  <tbody class="govuk-table_body">
    <tr class="govuk-table_row" id="hidePI">
    <td class="govuk-table__cell">Private individual</td>
     <td class="govuk-table__cell nametest"><!--John Smith--></td> 
    <td class="govuk-table__cell">N/A</td>
    <td class="govuk-table__cell">N/A</td>
    <td class="govuk-table__cell govuk-link"><a href="add-applicants-change">Change</a><br><a  href="">Remove</a></td>
  </tbody>

  {% if data['applicant-individual-forename'] %}
    <tbody class="govuk-table_body">
      <tr class="govuk-table_row" id="hidePI">
      <td class="govuk-table__cell">Private individual</td>
      <td class="govuk-table__cell">{{ data['applicant-individual-forename'] }} {{ data['applicant-individual-surname'] }}</td>
      <td class="govuk-table__cell">N/A</td>
      <td class="govuk-table__cell">N/A</td>
      <td class="govuk-table__cell govuk-link"><a href="add-applicants-change">Change</a><br><a  href="">Remove</a></td>
    </tbody>
     {% endif %}

     {% if data['applicant2-individual-forename-2'] %}
       <tbody class="govuk-table_body">
         <tr class="govuk-table_row" id="hidePI">
         <td class="govuk-table__cell">Private individual</td>
         <td class="govuk-table__cell">{{ data['applicant2-individual-forename-2'] }} {{ data['applicant2-individual-surname-2'] }}</td>
         <td class="govuk-table__cell">N/A</td>
         <td class="govuk-table__cell">N/A</td>
         <td class="govuk-table__cell govuk-link"><a href="add-applicants-change">Change</a><br><a  href="">Remove</a></td>
       </tbody>
        {% endif %}

        {% if data['applicant3-individual-forename-3'] %}
          <tbody class="govuk-table_body">
            <tr class="govuk-table_row" id="hidePI">
            <td class="govuk-table__cell">Private individual</td>
            <td class="govuk-table__cell">{{ data['applicant3-individual-forename-3'] }} {{ data['applicant3-individual-surname-3'] }}</td>
            <td class="govuk-table__cell">N/A</td>
            <td class="govuk-table__cell">N/A</td>
            <td class="govuk-table__cell govuk-link"><a href="add-applicants-change">Change</a><br><a  href="">Remove</a></td>
          </tbody>
           {% endif %}

    {% if data['applicant-company-name'] %}
    <tbody class="govuk-table_body">
      <tr class="govuk-table_row" id="hidePI">
      <td class="govuk-table__cell">UK Company or LLC</td>
      <td class="govuk-table__cell">{{ data['applicant-company-name'] }}</td>
      <td class="govuk-table__cell"> {{ data['applicant-company-number'] }}</td>
      <td class="govuk-table__cell">N/A</td>
      <td class="govuk-table__cell govuk-link"><a href="add-applicants-change">Change</a><br><a  href="">Remove</a></td>
    </tbody>
     {% endif %}

     {% if data['applicant2-company-name-2'] %}
     <tbody class="govuk-table_body">
       <tr class="govuk-table_row" id="hidePI">
       <td class="govuk-table__cell">UK Company or LLC</td>
       <td class="govuk-table__cell">{{ data['applicant2-company-name-2'] }}</td>
       <td class="govuk-table__cell"> {{ data['applicant2-company-number-2'] }}</td>
       <td class="govuk-table__cell">N/A</td>
       <td class="govuk-table__cell govuk-link"><a href="add-applicants-change">Change</a><br><a  href="">Remove</a></td>
     </tbody>
      {% endif %}

      {% if data['applicant3-company-name-3'] %}
      <tbody class="govuk-table_body">
        <tr class="govuk-table_row" id="hidePI">
        <td class="govuk-table__cell">UK Company or LLC</td>
        <td class="govuk-table__cell">{{ data['applicant3-company-name-3'] }}</td>
        <td class="govuk-table__cell"> {{ data['applicant3-company-number-3'] }}</td>
        <td class="govuk-table__cell">N/A</td>
        <td class="govuk-table__cell govuk-link"><a href="add-applicants-change">Change</a><br><a  href="">Remove</a></td>
      </tbody>
       {% endif %}

      {% if data['applicant-overseas-name'] %}
        <tbody class="govuk-table_body">
          <tr class="govuk-table_row">
          <td class="govuk-table__cell">Overseas company</td>
          <td class="govuk-table__cell">{{ data['applicant-overseas-name'] }}</td>
          <td class="govuk-table__cell"> {% if data['applicant-overseas-number'] %}{{ data['applicant-overseas-number'] }}{% endif %}{% if not data['applicant-overseas-number'] %}N/a{% endif %}</td>
          <td class="govuk-table__cell"> {{ data['applicant-overseas-country'] }}</td>
          <td class="govuk-table__cell govuk-link"><a href="add-applicants-change">Change</a><br><a  href="">Remove</a></td>
        </tbody>
         {% endif %}

         {% if data['applicant2-overseas-name'] %}
           <tbody class="govuk-table_body">
             <tr class="govuk-table_row">
             <td class="govuk-table__cell">Overseas company</td>
             <td class="govuk-table__cell">{{ data['applicant2-overseas-name'] }}</td>
             <td class="govuk-table__cell"> {% if data['applicant2-overseas-number'] %}{{ data['applicant2-overseas-number'] }}{% endif %}{% if not data['applicant2-overseas-number'] %}N/a{% endif %}</td>
             <td class="govuk-table__cell"> {{ data['applicant2-overseas-country'] }}</td>
             <td class="govuk-table__cell govuk-link"><a href="add-applicants-change">Change</a><br><a  href="">Remove</a></td>
           </tbody>
            {% endif %}

            {% if data['applicant3-overseas-name'] %}
              <tbody class="govuk-table_body">
                <tr class="govuk-table_row">
                <td class="govuk-table__cell">Overseas company</td>
                <td class="govuk-table__cell">{{ data['applicant3-overseas-name'] }}</td>
                <td class="govuk-table__cell"> {% if data['applicant3-overseas-number'] %}{{ data['applicant3-overseas-number'] }}{% endif %}{% if not data['applicant3-overseas-number'] %}N/a{% endif %}</td>
                <td class="govuk-table__cell"> {{ data['applicant3-overseas-country'] }}</td>
                <td class="govuk-table__cell govuk-link"><a href="add-applicants-change">Change</a><br><a  href="">Remove</a></td>
              </tbody>
               {% endif %}

       {% if data['applicant-other-name'] %}
       <tbody class="govuk-table_body">
         <tr class="govuk-table_row">
         <td class="govuk-table__cell">Other organisation</td>
         <td class="govuk-table__cell">{{ data['applicant-other-name'] }}</td>
         <td class="govuk-table__cell">N/A</td>
         <td class="govuk-table__cell">N/A</td>
         <td class="govuk-table__cell govuk-link"><a href="add-applicants-change">Change</a><br><a  href="">Remove</a></td>
       </tbody>
       {% endif %}

       {% if data['applicant2-other-name'] %}
       <tbody class="govuk-table_body">
         <tr class="govuk-table_row">
         <td class="govuk-table__cell">Other organisation</td>
         <td class="govuk-table__cell">{{ data['applicant2-other-name'] }}</td>
         <td class="govuk-table__cell">N/A</td>
         <td class="govuk-table__cell">N/A</td>
         <td class="govuk-table__cell govuk-link"><a href="add-applicants-change">Change</a><br><a  href="">Remove</a></td>
       </tbody>
       {% endif %}

       {% if data['applicant3-other-name'] %}
       <tbody class="govuk-table_body">
         <tr class="govuk-table_row">
         <td class="govuk-table__cell">Other organisation</td>
         <td class="govuk-table__cell">{{ data['applicant3-other-name'] }}</td>
         <td class="govuk-table__cell">N/A</td>
         <td class="govuk-table__cell">N/A</td>
         <td class="govuk-table__cell govuk-link"><a href="add-applicants-change">Change</a><br><a  href="">Remove</a></td>
       </tbody>
       {% endif %}

      </table>

    <!-- {% if data['applicant-company-name'] or data['applicant-individual-forename'] or data['applicant-overseas-name'] or data['applicant-other-name'] %}
    <a class="govuk-link" href="add-applicants-2">Add applicant</a><br>
    {% endif %} -->

    {% if data['applicant2-company-name-2'] or data['applicant2-individual-forename-2'] or data['applicant2-overseas-name'] or data['applicant2-other-name'] %}
    <a class="govuk-link govuk-body" href="add-applicants-3">Add applicant</a><br>
    {% else %}
    <a class="govuk-link govuk-body" href="add-applicants-2">Add applicant</a><br>
    {% endif %}


    {{ govukButton({
      text: "Continue",
      classes: "govuk-!-margin-top-5",
      href:"8-complete-application"
    }) }}

</form>

</div>
</div>


<script>
  $('.nametest').html(member.nameTest);
  console.log('sup dude')
 
</script>


<!-- <script>
  function RemoveTransfereeIndividual() {
  var x = document.getElementById("hidePI");
  if (x.style.display === "none") {
    x.style.display = "block";
  } else {
    x.style.display = "none";
  }
}


  function RemoveTransfereeUK() {
  var x = document.getElementById("hideUK");
  if (x.style.display === "none") {
    x.style.display = "block";
  } else {
    x.style.display = "none";
  }
}

</script> -->

{% endblock %}


{% block bodyEnd %}
  {% include "includes/scripts.html" %}
{% endblock %}
