{% include "includes/header.html" %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/select/macro.njk" import govukSelect %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/details/macro.njk" import govukDetails %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}

{% block content %}

<main class="govuk-main-wrapper " id="main-content" role="main">
  <div class="govuk-grid-column-full">
        <span class="govuk-caption-l"></span>
          <h1 class="govuk-heading-l">Change applicant</h1>

          <p class="govuk-body">If you change an applicant's name or other information, you must reconfirm any representation or address for service details you have added.</p>

          <form method="get" action="applicants-list" novalidate>
            <div class="govuk-form-group">
              <fieldset class="govuk-fieldset" aria-describedby="add-applicant-conditional-hint">

                <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="add-applicant-conditional"  checked="true" name="add-applicant" type="radio" value="individual" data-aria-controls="conditional-add-applicant-conditional">
                    <label class="govuk-label govuk-radios__label" for="add-applicant-conditional">
                      Private individual
                    </label>
                  </div>

                  <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-add-applicant-conditional">
                    <div class="govuk-form-group">
                      <span class="govuk-hint">Name must be exactly as it appears on documents lodged with this application</span>
                      <label class="govuk-label" for="add-applicant-individual-forename">
                        Forename(s)
                      </label>
                      <input class="govuk-input govuk-!-width-one-third" id="add-applicant-individual-forename" value="{{ data['applicant-individual-forename'] }}" name="applicant-individual-forename" value="" type="forename" spellcheck="false">
                    </div>
                    <div class="govuk-form-group">
                      <label class="govuk-label" for="add-applicant-individual-surname">
                        Surname
                      </label>
                      <input class="govuk-input govuk-!-width-one-third" id="add-applicant-individual-surname" value="{{ data['applicant-individual-surname'] }}" name="applicant-individual-surname" value="" type="surname" spellcheck="false">
                    </div>

                  </div>

                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="add-applicant-conditional-2" name="add-applicant" type="radio" value="Company" data-aria-controls="conditional-add-applicant-conditional-2">
                    <label class="govuk-label govuk-radios__label" for="add-applicant-conditional-2">
                      UK Company or LLP
                    </label>
                  </div>

                <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-add-applicant-conditional-2">
                    <div class="govuk-form-group">
                      <label class="govuk-label" for="add-applicant-company-name">
                        Company name
                      </label>
                        <span class="govuk-hint">Full name registered at Companies House</span>
                      <input class="govuk-input govuk-!-width-one-third" id="add-applicant-company-name" name="applicant-company-name" type="text" spellcheck="false">
                    </div>
                    <div class="govuk-form-group">
                      <label class="govuk-label" for="add-applicant-company-number">
                        Company number
                      </label>
                      <span class="govuk-hint">Companies House registration number, including any prefix</span>
                      <input class="govuk-input govuk-!-width-one-third" id="add-applicant-company-number" name="applicant-company-number" type="text" spellcheck="false">
                    </div>

                  </div>

                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="add-applicant-conditional-3" name="add-applicant" type="radio" value="Company" data-aria-controls="conditional-add-applicant-conditional-3">
                    <label class="govuk-label govuk-radios__label" for="add-applicant-conditional-3">
                      Overseas company
                    </label>
                  </div>

                <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-add-applicant-conditional-3">
                    <div class="govuk-form-group">
                      <label class="govuk-label" for="add-applicant-overseas-name">
                        Company name
                      </label>
                        <span class="govuk-hint">Company name as incorporated in its state of origin</span>
                      <input class="govuk-input govuk-!-width-one-third" id="add-applicant-overseas-name" name="applicant-overseas-name" type="text" spellcheck="false">
                    </div>
                    <div class="govuk-form-group">
                      <label class="govuk-label" for="add-applicant-company-number">
                        UK company number (optional)
                      </label>
                      <span class="govuk-hint">Number issued, if registered at Companies House, eg FC023966</span>
                      <input class="govuk-input govuk-!-width-one-third" id="add-applicant-overseas-number" name="applicant-overseas-number" type="text" spellcheck="false">
                    </div>
                    <div class="govuk-form-group">
                      <label class="govuk-label" for="add-applicant-company-country">
                        Territory of incorporation
                      </label>
                      <span class="govuk-hint">Territory or country where the company was first incorporated, eg ‘France’ or ‘Manitoba, Canada’</span>

                        <select class="govuk-select" id="add-applicant-overseas-country" name="applicant-overseas-country" type="text" spellcheck="false">
                          <option value="published">Recently published</option>
                          <option value="updated" selected>Recently updated</option>
                          <option value="views">Most views</option>
                          <option value="comments">Most comments</option>
                        </select>

                    </div>
                    </div>

                    <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="add-applicant-conditional-4" name="add-applicant" type="radio" value="Other" data-aria-controls="conditional-add-applicant-conditional-4">
                      <label class="govuk-label govuk-radios__label" for="add-applicant-conditional-4">
                        Other organisation like charity, council, government department
                      </label>
                    </div>

                  <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-add-applicant-conditional-4">
                      <div class="govuk-form-group">
                        <label class="govuk-label" for="add-applicant-other-name">
                          Name of organisation
                        </label>
                        <input class="govuk-input govuk-!-width-one-third" id="add-applicant-overseas-name" name="applicant-overseas-name" type="text" spellcheck="false">
                      </div>

                      </div>

                  </div>
                </fieldset>
                </div>

                <div class="govuk-heading-s">
                  <b>
                    By selecting ‘Continue’ you confirm the details provided are correct and consistent with supporting documents.
                  </b>
                </div>


  {{ govukButton({
  classes: "govuk-!-margin-top-5",
  text: "Continue"
  }) }}

</form>

<footer>
<div class="govuk-grid-row">
<div class="govuk-grid-column-full">
<hr style= "height: 7px;  background: #b4d307 linear-gradient(-60deg,#b4d307,#b4d307 50%,#d7e900 0,#d7e900); border: none;">
<br>
<p class="govuk-body-s" style="color: #747B7F"> The following links open in a new window
<br>
<br>
<a href="#" style="color: #747B7F"> Terms and conditions</a> | <a href="/setup/accessibility-statement" target="_blank" rel="noopener noreferrer" style="color: #747B7F">Accessibility statement</a> |  <a href="#" style="color: #747B7F">Freedom of information</a> | <a href="#" style="color: #747B7F">© Crown copyright</a></p>
</div>
</div>
</footer>

  </div>
</main> 
<script type="application/json" id="reference-form-validation">
 {
   "reference": {
     "presence": {
       "message": "^Enter your reference for this application"
     },
     "length": {
       "minimum": 1,
       "maximum": 25,
       "message": "^Your reference must be 25 characters or less"
     }
   }
 }
</script>



{% endblock %}


{% block hmlrFooter %}
  {% include "includes/footer.html" %}
{% endblock %}