{% extends "layout_unbranded.html" %}

{% extends "govuk/template.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/select/macro.njk" import govukSelect %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/details/macro.njk" import govukDetails %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "govuk/components/panel/macro.njk" import govukPanel %}




{% block headIcons %}
  <link rel="shortcut icon" href="{{ asset_path }}images/unbranded.ico?0.18.3" type="image/x-icon" />
  <link rel="mask-icon" href="{{ asset_path }}images/gov.uk_logotype_crown.svg?0.18.3" color="#0b0c0c">
  <link rel="apple-touch-icon-precomposed" sizes="152x152" href="{{ asset_path }}images/apple-touch-icon-152x152.png?0.18.3">
  <link rel="apple-touch-icon-precomposed" sizes="120x120" href="{{ asset_path }}images/apple-touch-icon-120x120.png?0.18.3">
  <link rel="apple-touch-icon-precomposed" sizes="76x76" href="{{ asset_path }}images/apple-touch-icon-76x76.png?0.18.3">
  <link rel="apple-touch-icon-precomposed" href="{{ asset_path }}images/apple-touch-icon-60x60.png?0.18.3">
{% endblock %}

{% block head %}
  <link href="/public/stylesheets/unbranded.css" media="all" rel="stylesheet" type="text/css">
{% endblock %}

{% block header %}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full" id="headerdiv">
    <a href="/../../setup/app-start"><img src="/public/images/headerlogo.svg" alt="hmlrlogo"></a>
    <p class="govuk-heading-m" style="text-align: center; margin-top:-45px;"><a href="/../../setup/app-start" class="header-link govuk-link--no-visited-state">Apply to update or create a registered title</a></p>
    <hr style= "height: 4px;  background-image: linear-gradient(-60deg, #d7e900, #d7e900 0%, #b4d307 50%, #b4d307); border: none;">


    <div class="govuk-phase-banner govuk-!-margin-bottom-5">
        <p class="govuk-phase-banner__content">
        <strong class="govuk-tag govuk-phase-banner__content__tag">Prototype</strong>
        <span class="govuk-phase-banner__text">
        This is a prototype and not a real service.
        </span></p>
    </div>
    </div>

<div class="govuk-grid-column-full">
    {{ govukPanel({
    titleText: "Application complete",
    html: "Your HM Land Registry reference number:<br><strong>HDJ2123F</strong>"
    }) }}
    <br>

    <h2 class="govuk-heading-l">Application details</h2>
    <table class="govuk-table">
      <tbody class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Your reference</th>
          <td scope="col" class="govuk-table__cell">{{ data['reference'] }}</td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Application type</th>
          <td scope="col" class="govuk-table__cell">Update an existing title (Document registration)</td>
        </tr>
      </tbody>
    </table>

    <table class="govuk-table">
      <h2 class="govuk-heading-l">Priority details</h2>
      <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header govuk-!-width-one-quarter">Priority date</th>
              <td class="govuk-table__cell">21 January 2020</td>
            </tr>

            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header govuk-!-width-one-quarter">Priority time</th>
              <td class="govuk-table__cell">09:15</td>
            </tr>
      </tbody>
    </table>

    <table class="govuk-table">
    <h3 class="govuk-heading-m">Your contact email for this application </h3>
    <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header govuk-!-width-one-quarter">Email address</th>
            <td class="govuk-table__cell">me@ukconveyancers.co.uk</td>
          </tr>
    </tbody>
    </table>


    <h3 class="govuk-heading-m">Next steps</h3>
  <p class="govuk-body">  <span class="govuk-caption-m"> You can print this screen for your records.</span>
    <br>
    <a class="govuk-link">Download completed AP1 (PDF)</a>
    <br><br>
    <a class="govuk-link" href="/setup/app-start">Start a new application</a>
    <br><br>
    <a class="govuk-link">Go to portal homepage</a> if you need to continue using other HM Land Registry services.</p>




<script>

</script>

<hr style= "height: 4px;  background-image: linear-gradient(-60deg, #d7e900, #d7e900 0%, #b4d307 50%, #b4d307); border: none;">
<br>
<p class="govuk-body-s"> The following links open in a new window
<br>
<br>
<a href="#"> Terms and conditions</a> | <a href="#">Freedom of information</a> | <a href="#">© Crown copyright</a></p>
<br>
<a href="/prototype-admin/clear-data">Clear data</a>


{% endblock %}




{% block footer %}
{% endblock %}

{% block bodyEnd %}
  {% include "includes/scripts.html" %}
{% endblock %}
