{% include "includes/header.html" %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/select/macro.njk" import govukSelect %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/details/macro.njk" import govukDetails %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "govuk/components/panel/macro.njk" import govukPanel %}

{% block content %}

<main class="govuk-main-wrapper " id="main-content" role="main">

  <div class="govuk-panel govuk-panel--confirmation">
    <h1 class="govuk-panel__title">
      Application submitted
    </h1>
    <div class="govuk-panel__body">
      Your HM Land Registry reference number:<br><strong>HDJ2123F</strong>
      <div style="font-size: 16px; margin-top: 2em;">You must quote your HM Land Registry reference number in any correspondence</div>
    </div>
  </div>

   <!--{{ govukPanel({
    titleText: "Application submitted",
    html: "Your HM Land Registry reference number:<br><strong>HDJ2123F</strong>"
    }) }}
    
<br>

    <table class="govuk-table">
      <h2 class="govuk-heading-l">Priority details</h2>
      <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header govuk-!-width-one-quarter">Priority date</th>
              <td class="govuk-table__cell">21 January 2020</td>
            </tr>

            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header govuk-!-width-one-quarter">Priority time</th>
              <td class="govuk-table__cell">09:15</td>
            </tr>
      </tbody>
    </table>

    <h2 class="govuk-heading-l">Application details</h2>
    <table class="govuk-table">
      <tbody class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Your reference</th>
          <td scope="col" class="govuk-table__cell">{{ data['reference'] }}</td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Application type</th>
          <td scope="col" class="govuk-table__cell">Update an existing title (Document registration)</td>
        </tr>
      </tbody>
    </table>

    <table class="govuk-table">
    <h3 class="govuk-heading-l">Your contact email for this application </h3>
    <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header govuk-!-width-one-quarter">Email address</th>
            <td class="govuk-table__cell">me@ukconveyancers.co.uk</td>
          </tr>
    </tbody>
    </table>
    <br>

 -->
    <h1 class="govuk-heading-l">Next steps</h1>
  <p class="govuk-body" style="margin-bottom: 50px;">  <span class="govuk-caption-m"> You can print this screen for your records.</span>
    <br>
    <a class="govuk-link">Download completed AP1 (PDF)</a>
    <br><br>
    <a class="govuk-link" href="/setup/app-start">Start a new application</a>
    <br><br>
    <a class="govuk-link">Go to portal homepage</a> if you need to continue using other HM Land Registry services.</p>


    <iframe width="100%" height="1100px" src= "https://forms.office.com/Pages/ResponsePage.aspx?id=qAljI0soV06ns_x2dzb2nfPuq6Y8MUlHjA7UUUJevE9UNjY1WlE5NEcxS0JRMEM0Tk9MQk1BTVhNWi4u&embed=true" frameborder= "0" marginwidth= "0" marginheight= "0" style= "border: none; max-width:100%; max-height: 1100px;" allowfullscreen webkitallowfullscreen mozallowfullscreen msallowfullscreen> </iframe>

  </main>
{% endblock %}

{% block hmlrFooter %}
  {% include "includes/footer.html" %}
{% endblock %}