{% include "includes/header.html" %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/select/macro.njk" import govukSelect %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/details/macro.njk" import govukDetails %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}
{% from "govuk/components/table/macro.njk" import govukTable %}

{% block content %}

<main class="govuk-main-wrapper " id="main-content" role="main">
  
<div class="govuk-grid-column-full">
  <span class="govuk-caption-l"></span>


  <h1 class="govuk-heading-l">Total fee </h1>
  <h3 class="govuk-body govuk-!-margin-bottom-7" style="font-weight: bold">£44 will be taken by Direct Debit from account no 123456789</h3>
  <p class="govuk-body"> Select 'Continue' to confirm all details are correct. If you need to amend any details, select 'Change'.</p>



    <table class="govuk-table govuk-!-margin-bottom-9" id="">

      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header ">Transaction</th>
          <th scope="col" class="govuk-table__header">Priority</th>
          <th scope="col" class="govuk-table__header">Value or price paid</th>
          <th scope="col" class="govuk-table__header">Fee</th>
          <th scope="col" class="govuk-table__header">Options</th>
        </tr>
      </thead>

          {% if data['Transaction'] === 'DTC' %}
          <tbody class="govuk-table_body">
              <tr class="govuk-table_row" id="hidePI">
                <td class="govuk-table__cell">Discharge of charge</td>
                <td class="govuk-table__cell">1</td>
                <td class="govuk-table__cell">N/A</td>
                <td class="govuk-table__cell">N/A</td>
                <td class="govuk-table__cell">N/A</td>
              </tr>

              <tr class="govuk-table_row" id="hidePI">
                <td class="govuk-table__cell">Transfer for value (TR1)</td>
                <td class="govuk-table__cell">2</td>
                <td class="govuk-table__cell"><p><b style="margin-right : 4px;">£</b>{{ data['priority2values'] }}</p></td>
                <td class="govuk-table__cell"><b style="margin-right : 4px;">£</b>22</td>
                <td class="govuk-table__cell"><a class="govuk-link" href="calculate-fees">Change</a></td>
              </tr>

              <tr class="govuk-table_row" id="hidePI">
                <td class="govuk-table__cell">Charge</td>
                <td class="govuk-table__cell">3</td>
                <td class="govuk-table__cell"><p><b style="margin-right : 4px;">£</b>{{ data['priority3value'] }}</p></td>
                <td class="govuk-table__cell"><b style="margin-right : 4px;">£</b>22</td>

                <td class="govuk-table__cell"><a class="govuk-link" href="calculate-fees">Change</a></td>
              </tr>
          </tbody>
        {% endif %}

        {% if data['Transaction'] === 'DT' %}
        <tbody class="govuk-table_body">
            <tr class="govuk-table_row" id="hidePI">
              <td class="govuk-table__cell">Discharge of charge</td>
              <td class="govuk-table__cell">1</td>
              <td class="govuk-table__cell">N/a</td>
              <td class="govuk-table__cell">N/a</td>
              <td class="govuk-table__cell">N/a</td>
            </tr>

            <tr class="govuk-table_row" id="hidePI">
              <td class="govuk-table__cell">Transfer for value (TR1)</td>
              <td class="govuk-table__cell">2</td>
              <td class="govuk-table__cell"><p><b style="margin-right : 4px;">£</b>{{ data['priority2values'] }}</p></td>
              <td class="govuk-table__cell"><b style="margin-right : 4px;">£</b>22</td>
              <td class="govuk-table__cell"><a class="govuk-link" href="calculate-fees">Amend value</a></td>
            </tr>
        </tbody>
      {% endif %}

      {% if data['Transaction'] === 'TC' %}
      <tbody class="govuk-table_body">
          <tr class="govuk-table_row" id="hidePI">
            <td class="govuk-table__cell">Transfer for value (TR1)</td>
            <td class="govuk-table__cell">1</td>
            <td class="govuk-table__cell"><p><b style="margin-right : 4px;">£</b>{{ data['priority2values'] }}</p></td>
            <td class="govuk-table__cell"><b style="margin-right : 4px;">£</b>22</td>
            <td class="govuk-table__cell"><a class="govuk-link" href="calculate-fees">Amend value</a></td>
          </tr>

          <tr class="govuk-table_row" id="hidePI">
            <td class="govuk-table__cell">Charge</td>
            <td class="govuk-table__cell">3</td>
            <td class="govuk-table__cell"><p><b style="margin-right : 4px;">£</b>{{ data['priority3value'] }}</p></td>
            <td class="govuk-table__cell"><b style="margin-right : 4px;">£</b>22</td>

            <td class="govuk-table__cell"><a class="govuk-link" href="calculate-fees">Amend amount</a></td>
          </tr>
      </tbody>
    {% endif %}

    {% if data['Transaction'] === 'T' %}
    <tbody class="govuk-table_body">

        <tr class="govuk-table_row" id="hidePI">
          <td class="govuk-table__cell">Transfer for value (TR1)</td>
          <td class="govuk-table__cell">1</td>
          <td class="govuk-table__cell"><p><b style="margin-right : 4px;">£</b>{{ data['priority2values'] }}</p></td>
          <td class="govuk-table__cell"><b style="margin-right : 4px;">£</b>22</td>
          <td class="govuk-table__cell"><a class="govuk-link" href="calculate-fees">Amend value</a></td>
        </tr>


    </tbody>
  {% endif %}

  {% if data['Transaction'] === 'C' %}
  <tbody class="govuk-table_body">

      <tr class="govuk-table_row" id="hidePI">
        <td class="govuk-table__cell">Charge</td>
        <td class="govuk-table__cell">1</td>
        <td class="govuk-table__cell"><p><b style="margin-right : 4px;">£</b>{{ data['priority3value'] }}</p></td>
        <td class="govuk-table__cell"><b style="margin-right : 4px;">£</b>22</td>

        <td class="govuk-table__cell"><a class="govuk-link" href="calculate-fees">Amend amount</a></td>
      </tr>
  </tbody>
{% endif %}


{% if data['Transaction'] === 'ASSENT' %}
        <tbody class="govuk-table_body">
            <tr class="govuk-table_row" id="hidePI">
              <td class="govuk-table__cell">Assent</td>
              <td class="govuk-table__cell">1</td>
              <td class="govuk-table__cell">£200,000</td>
              <td class="govuk-table__cell">£44</td>
              <td class="govuk-table__cell"><a href="#">Change</a></td>
            </tr>


        </tbody>
      {% endif %}

      </table>

      <a class="govuk-link govuk-body" href="select-transactions">Add/change transactions</a><br>





{{ govukButton({
classes: "govuk-!-margin-top-9",

text: "Continue",
href: "/transactions/add-applicants"

}) }}

</div>
</main>
<!-- <script>
  function RemoveTransfereeIndividual() {
  var x = document.getElementById("hidePI");
  if (x.style.display === "none") {
    x.style.display = "block";
  } else {
    x.style.display = "none";
  }
}


  function RemoveTransfereeUK() {
  var x = document.getElementById("hideUK");
  if (x.style.display === "none") {
    x.style.display = "block";
  } else {
    x.style.display = "none";
  }
}

</script> -->

{% endblock %}

{% block hmlrFooter %}
  {% include "includes/footer.html" %}
{% endblock %}