{#- We can't mount GOV.UK Frontend's assets at root as it's done automatically by the extensions framework. -#}
{%- set assetPath = '/govuk/assets' -%}

{% extends "govuk/template.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/tabs/macro.njk" import govukTabs %}
{% from "govuk/components/table/macro.njk" import govukTable %}


{% block headIcons %}
  <link rel="shortcut icon" href="{{ asset_path }}images/unbranded.ico?0.18.3" type="image/x-icon" />
  <link rel="mask-icon" href="{{ asset_path }}images/gov.uk_logotype_crown.svg?0.18.3" color="#0b0c0c">
  <link rel="apple-touch-icon-precomposed" sizes="152x152" href="{{ asset_path }}images/apple-touch-icon-152x152.png?0.18.3">
  <link rel="apple-touch-icon-precomposed" sizes="120x120" href="{{ asset_path }}images/apple-touch-icon-120x120.png?0.18.3">
  <link rel="apple-touch-icon-precomposed" sizes="76x76" href="{{ asset_path }}images/apple-touch-icon-76x76.png?0.18.3">
  <link rel="apple-touch-icon-precomposed" href="{{ asset_path }}images/apple-touch-icon-60x60.png?0.18.3">
{% endblock %}

{% block head %}
  <link href="/public/stylesheets/unbranded.css" media="all" rel="stylesheet" type="text/css">
{% endblock %}

{% block header %}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full" id="headerdiv">
      <img src="public/images/headerlogo.svg" alt="hmlrlogo">
      <hr style= "height: 7px;  background: #b4d307 linear-gradient(-60deg,#b4d307,#b4d307 50%,#d7e900 0,#d7e900); border: none;">


    <div class="govuk-phase-banner">
        <p class="govuk-phase-banner__content">
        <strong class="govuk-tag govuk-phase-banner__content__tag">Prototype</strong>
        <span class="govuk-phase-banner__text">
        This is a prototype and not a real service
        </span></p>
    </div>
    </div>

<div class="govuk-grid-column-full govuk-!-margin-top-7">
  <span class="govuk-caption-l">Apply to update or create a registered title</span>
  <h1 class="govuk-heading-l"> Attach documents </h1>

  {% set requiredHtml %}
  <h2 class="govuk-heading-m">Required documents</h2>
  {{ govukTable({
    head: [
      {
        text: "Category"
      },
      {
        text: "Document type",
        classes: "govuk-!-width-one-third"
      },
      {
        text: "Certification"
      },
      {
        text: "File name"
      },
      {
        text: "Options",
        href: "#"
      }
    ],
    rows: [
      [
      {
        text: "Application form"
      },
        {
          text: "TR1 - Registered title(s): whole transfer"
        },
        {
          text: "Certified"
        },
        {
          text: "TR1.pdf"
        },
        {
          text: "Remove",
          classes: "govuk-link",
          href: "#"
        }
      ],
      [
      {
        text: "Evidence of death"
      },
        {
          text: "Probate or death certificate"
        },
        {
          text: ""
        },
        {
          text: ""
        },
        {
          text: "Attach",
          classes: "govuk-link",
          href: "#"
        }
      ]
    ]
  }) }}
  {% endset -%}


  {% set suggestedHtml %}
  <h2 class="govuk-heading-m">Suggested documents</h2>
  {{ govukTable({
    head: [
      {
        text: "Category"
      },
      {
        text: "Document type"
      },
      {
        text: "Certification"
      },
      {
        text: "File name"
      },
      {
        text: "Options"
      }
    ],
    rows: [
      [
        {
          text: "Various"
        },
        {
          text: "Consent"
        },
        {
          text: ""
        },
        {
          text: ""
        },
        {
          text: "Attach",
          classes: "govuk-link",
          href: "#"
        }
      ],
        [
        {
          text: "Add another",
          classes: "govuk-link",
          href: "#"
        },
        {
          text: ""
        },
        {
          text: ""
        },
        {
          text: ""
        },
        {
          text: ""
        }
      ]
    ]
  }) }}
  {% endset -%}

  {{ govukTabs({
    items: [
      {
        label: "Required",
        id: "required",
        panel: {
          html: requiredHtml
        }
      },
      {
        label: "Suggested",
        id: "Suggested",
        panel: {
          html: suggestedHtml
        }
      }
    ]
  }) }}

  {{ govukButton({
    text: "Continue",
    href: "#"
  }) }}

</div>
</div>
<footer>
<div class="govuk-grid-row">
<div class="govuk-grid-column-full">
<hr style= "height: 7px;  background: #b4d307 linear-gradient(-60deg,#b4d307,#b4d307 50%,#d7e900 0,#d7e900); border: none;">
<br>
<p class="govuk-body-s" style="color: #747B7F"> The following links open in a new window
<br>
<br>
<a href="#" style="color: #747B7F"> Terms and conditions</a> | <a href="/setup/accessibility-statement" target="_blank" rel="noopener noreferrer" style="color: #747B7F">Accessibility statement</a> |  <a href="#" style="color: #747B7F">Freedom of information</a> | <a href="#" style="color: #747B7F">© Crown copyright</a></p>
</div>
</div>
</footer>
</div>
</div>



{% endblock %}


{% block footer %}
{% endblock %}

{% block bodyEnd %}
  {% include "includes/scripts.html" %}
{% endblock %}
