
{#- We can't mount GOV.UK Frontend's assets at root as it's done automatically by the extensions framework. -#}
{%- set assetPath = '/govuk/assets' -%}

{% extends "govuk/template.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "govuk/components/tabs/macro.njk" import govukTabs %}




{% block headIcons %}
  <link rel="shortcut icon" href="{{ asset_path }}images/unbranded.ico?0.18.3" type="image/x-icon" />
  <link rel="mask-icon" href="{{ asset_path }}images/gov.uk_logotype_crown.svg?0.18.3" color="#0b0c0c">
  <link rel="apple-touch-icon-precomposed" sizes="152x152" href="{{ asset_path }}images/apple-touch-icon-152x152.png?0.18.3">
  <link rel="apple-touch-icon-precomposed" sizes="120x120" href="{{ asset_path }}images/apple-touch-icon-120x120.png?0.18.3">
  <link rel="apple-touch-icon-precomposed" sizes="76x76" href="{{ asset_path }}images/apple-touch-icon-76x76.png?0.18.3">
  <link rel="apple-touch-icon-precomposed" href="{{ asset_path }}images/apple-touch-icon-60x60.png?0.18.3">
{% endblock %}

{% block head %}
  <link href="/public/stylesheets/unbranded.css" media="all" rel="stylesheet" type="text/css">
{% endblock %}


{% block pageTitle %}
  DRS prototype
{% endblock %}

{% block header %}
<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
     <div class="govuk-grid-row">

       <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl"> Digital Registration Service </h1></div>

        <br>
        <div class="govuk-grid-column-full">
          <a class="govuk-link govuk-heading-s" href="index-page.html">Introduction to Digital Registration Service</a>

          <h2 class="govuk-heading-l">Prototype shortcuts</h2>

          <table class="govuk-table">

            <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">Start new application</th>
                  <td class="govuk-table__cell"><a href="setup/app-start.html">Start</a></td>
                </tr>
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">Discharge, transfer, charge</th>
                  <td class="govuk-table__cell"><a href="/docs/examples/pass-data/charge">Complete your application</a> (No tasks completed)<br><a href="/docs/examples/pass-data/charge-DTC1">Complete your application</a> (Discharge, transfer tasks complete)</td>
                </tr>
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">Discharge, transfer</th>
                  <td class="govuk-table__cell"><a href="/docs/examples/pass-data/task-list">Complete your application</a><br></td>
                </tr>
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">Discharge</th>
                  <td class="govuk-table__cell"><a>Link pending</a><br></td>
                </tr>
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">Transfer</th>
                  <td class="govuk-table__cell"><a href="/docs/examples/pass-data/transfer">Complete your application</a><br></td>
                </tr>
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">Transfer, charge</th>
                  <td class="govuk-table__cell"><a href="/docs/examples/pass-data/TC">Complete your application</a><br></td>
                </tr>
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">Charge</th>
                  <td class="govuk-table__cell"><a href="/docs/examples/pass-data/sole-charge">Complete your application</a><br></td>
                </tr>
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">Errors</th>
                  <td class="govuk-table__cell"><a href="/errors/error-index">Variable direct debit errors</a><br></td>
                </tr>
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">Fees</th>
                  <td class="govuk-table__cell"><a href="transactions/fees/app-start-fees">Start new application</a><br><a href="transactions/fees/select">Select transactions</a> (New screens only)<br></td>
                </tr>
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">Feedback</th>
                  <td class="govuk-table__cell"><a href="/save-resume/save-confirmation-feedback">Application saved</a><br></td>
                </tr>

                  <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">Clear data</th>
                    <td class="govuk-table__cell"><a class="govuk-link" href="prototype-admin/clear-data">Clear session data</a></td>
                  </tr>
            </tbody>

          </table>


          <h4 class="govuk-heading-s"> Fees - Version 1</h4>
            <ul class="govuk-list govuk-list--bullet">
              <li> <a href="/transactions/fees/app-start-fees">Start application</a> </li>
            </ul>
            <br>

          </div>



                <div class="govuk-grid-column-full">
                    <h2 class="govuk-heading-l">Change log</h2>
                  <div class="govuk-tabs" data-module="govuk-tabs">
                      <h2 class="govuk-tabs__title">
                        Contents
                      </h2>
                      <ul class="govuk-tabs__list">
                        <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
                          <a class="govuk-tabs__tab" href="#past-day">
                            August 2020
                          </a>
                        </li>
                        <li class="govuk-tabs__list-item">
                          <a class="govuk-tabs__tab" href="#past-week">
                            New tab
                          </a>
                        </li>
                      </ul>
                      <div class="govuk-tabs__panel" id="past-day">
                        <h2 class="govuk-heading-l">August updates</h2>
                          <h3 class="govuk-heading-m">Major changes</h3>
                            <ul class="govuk-list govuk-list--bullet">
                            <li>Fees iteration for testing</li>
                            <li>Feedback functionality (DRS-69)</li>
                            <li>Draft e-AP1</li>
                            </ul>

                          <h3 class="govuk-heading-m">Minor changes</h3>
                            <ul class="govuk-list govuk-list--bullet">
                            <li>Transferees fixes</li>
                            <li>Discharge fixes</li>
                            <li>Index page restructure</li>
                            </ul>



                      </div>
                      <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="past-week">
                        <h2 class="govuk-heading-l">New tab</h2>


                      </div>
                                          </div>
                </div>


        <!-- <div class="govuk-grid-column-two-thirds">
            <br><hr><br>
              <h3 class="govuk-heading-m"> Previous iterations </h3>
                <h3 class="govuk-heading-s"> Version 3 </h3>
                <span class="govuk-caption-m"> 04 March 2020</span>
                <h4 class="govuk-heading-s"><a href="/transactions/charge-without-transfer/charge-without-transfer-app-start">Latest version</a> | <a href="/docs/examples/pass-data/Solecharge">Straight to task list</a></h4>
                <p> <b> Charge without Transfer- MD REF YES & NO (V1)<b/><br>
                  </p>
            <ul class="govuk-list govuk-list--bullet">
                  We've added:
                    <li> Version 1 - Borrower screen added for testing </li>
                    <li> Are any of these lenders? screens added to MD REF NO flow</li>
                </ul>
                <br>
                <br>
        </div>


<div class="govuk-grid-column-two-thirds">
        <h3 class="govuk-heading-m">Version 2 </h3>
        <span class="govuk-caption-m"> 04 March 2020</span>
        <h4 class="govuk-heading-s"><a href="charge/....">Latest version</a></h4>
        <p> <b> Charge with Transfer - MD REF Yes & NO<b/></p>
    <ul class="govuk-list govuk-list--bullet">
          We've added:
            <li> Task list update - Charge section added </li>
            <li> Charge screens added for No flow</li>
            <li> No flow needs finished (flow stops at address for service) </li>
        </ul>
        <br>
        <br>
</div> -->




<style>
  .sidebar {
  border-left: 3px solid navy;
  height: 1100px;
}

  .headerpanel {
  border: solid navy;
  }
</style>
{% endblock %}

{% block footer %}
{% endblock %}

{% block bodyEnd %}
  {% include "includes/scripts.html" %}
{% endblock %}
