
{#- We can't mount GOV.UK Frontend's assets at root as it's done automatically by the extensions framework. -#}
{%- set assetPath = '/govuk/assets' -%}

{% extends "govuk/template.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}


{% block headIcons %}
  <link rel="shortcut icon" href="{{ asset_path }}images/unbranded.ico?0.18.3" type="image/x-icon" />
  <link rel="mask-icon" href="{{ asset_path }}images/gov.uk_logotype_crown.svg?0.18.3" color="#0b0c0c">
  <link rel="apple-touch-icon-precomposed" sizes="152x152" href="{{ asset_path }}images/apple-touch-icon-152x152.png?0.18.3">
  <link rel="apple-touch-icon-precomposed" sizes="120x120" href="{{ asset_path }}images/apple-touch-icon-120x120.png?0.18.3">
  <link rel="apple-touch-icon-precomposed" sizes="76x76" href="{{ asset_path }}images/apple-touch-icon-76x76.png?0.18.3">
  <link rel="apple-touch-icon-precomposed" href="{{ asset_path }}images/apple-touch-icon-60x60.png?0.18.3">
{% endblock %}

{% block head %}
  <link href="/public/stylesheets/unbranded.css" media="all" rel="stylesheet" type="text/css">
{% endblock %}


{% block pageTitle %}
  DRS prototype
{% endblock %}

{% block header %}
<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
     <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
          <div class="govuk-!-padding-bottom-6"><a class="govuk-link" href="index"> < Back</a></div>
        </div>


        <div class="govuk-grid-column-two-thirds">
        <span class="govuk-caption-l">Digital Registration Service</span>
        <h2 class="govuk-heading-l">Introduction to Digital Registration Service</h2>
        </div>

        <div class="govuk-grid-column-two-thirds">
        <h3 class="govuk-heading-s">The problem</h3>
        <p>Conveyancers applying to change the register generate a lot of requisitions, especially when using the AP1 form, which is needed for many transactions.
          It’s a complex, multi-purpose form wrapped in legalese guidance that’s not always understood by users.
          Our users are often clerical staff at conveyancers, some of whom have learned to complete the form by rote. It’s easy to make mistakes of accuracy or omission, and most lead to requisitions.
          This project took replacing the paper AP1 with a digital system as a starting point.</p>

          <h3 class="govuk-heading-s">Aims of the service:</h3>
          <ul class="govuk-list govuk-list--bullet">
    		  <li>make it easier for users to provide exactly (and only) the data needed</li>
    		  <li>reduce requisitions caused by inaccurate data or missing documents</li>
    		  <li>save HMLR time and expense in handling paper forms, and issuing and handling requisitions</li>
    		  <li>save customers time and expense in completing forms and managing requisitions</li>
    		  <li>make it easier for customers to manage their applications</li>
    		  <li>ongoing, clean the data in applications and on the register</li>
    		</ul>

          <h3 class="govuk-heading-s">Methods to achieve this:</h3>
          <ul class="govuk-list govuk-list--bullet">
    		  <li>digitised data capture</li>
    		  <li>validated formats and data where possible</li>
    		  <li>prompts and guidance around common requisition points</li>
    		  <li>save and resume applications</li>
    		  <li>enabling automation where possible</li>
    		  <li>enabling integration of compatible applications where possible</li>
    		</ul>


        <h4 class="govuk-heading-s">Project so far</h4>
        <p>In 2020, we've designed, tested, developed and deployed discharges, transfers for value and charges,
          allowing users to submit some of the most common transaction combinations.

          <br>  <br>
          Over the Summer, we've created an
         accessibility statement for the service, tested and settled on an MVP for fees calculation and created an in-service feedback function for users.

          <p> Last updated: August 2020 </p>
          </div>

          <div class="govuk-grid-column-one-third">
          <h4 class="govuk-heading-m">Further reading</h4>
            <ul class="govuk-list">
              <li>
                <a class="govuk-link" href="https://gallery.io/projects/MCHbtQVoQ2HCZZci5kXNmqB-">Gallery.io</a>
              </li>
              <li>
                <a class="govuk-link" href="https://github.com/LandRegistry/digital-registration-service">Github</a>
              </li>
            </ul>
          </div>


          {% endblock %}

          {% block footer %}
          {% endblock %}

          {% block bodyEnd %}
            {% include "includes/scripts.html" %}
          {% endblock %}
