
{#- We can't mount GOV.UK Frontend's assets at root as it's done automatically by the extensions framework. -#}
{%- set assetPath = '/govuk/assets' -%}

{% extends "govuk/template.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}


{% block headIcons %}
  <link rel="shortcut icon" href="{{ asset_path }}images/unbranded.ico?0.18.3" type="image/x-icon" />
  <link rel="mask-icon" href="{{ asset_path }}images/gov.uk_logotype_crown.svg?0.18.3" color="#0b0c0c">
  <link rel="apple-touch-icon-precomposed" sizes="152x152" href="{{ asset_path }}images/apple-touch-icon-152x152.png?0.18.3">
  <link rel="apple-touch-icon-precomposed" sizes="120x120" href="{{ asset_path }}images/apple-touch-icon-120x120.png?0.18.3">
  <link rel="apple-touch-icon-precomposed" sizes="76x76" href="{{ asset_path }}images/apple-touch-icon-76x76.png?0.18.3">
  <link rel="apple-touch-icon-precomposed" href="{{ asset_path }}images/apple-touch-icon-60x60.png?0.18.3">
{% endblock %}

{% block head %}
  <link href="/public/stylesheets/unbranded.css" media="all" rel="stylesheet" type="text/css">
{% endblock %}


{% block pageTitle %}
  DRS prototype
{% endblock %}

{% block header %}
<div style="margin: 10px;">
<h1 class="govuk-heading-l"> DRS Index </h1>
<ol style="font-family: arial; line-height: 25px;">
  <li><a href="1-application-start">Application start </a>
  <li><a href="2-client-reference">Client reference</a>
  <li><a href="3-select-applicationtype">Select application type</a>
  <li><a href="4-enter-title-number">Enter title number</a>
  <li><a href="5-property-description">Property Description</a>
  <li><a href="6-select-transactions">Select transactions</a>
  <li><a href="7-add-applicants">Add applicants</a>
  <li><a href="8-applicants-list">Applicants list</a>
  <li><a href="9-complete-applications-tasks">Complete applications tasks</a>
  <li><a href="10-1-transferor-list">Transferor list</a>
  <li><a href="10-2-add-transferor">Add transferor</a>
  <li><a href="10-3-transferor-representation">Transferor representation</a>
  <li><a href="10-4-select-representation">Select representation</a>
</ol>
</div>

{% endblock %}

{% block footer %}
{% endblock %}

{% block bodyEnd %}
  {% include "includes/scripts.html" %}
{% endblock %}
