<html>

<div>
<form>
  <input type="checkbox" classes="govuk-checkboxes" id="box1">
  <input type="checkbox" classes="govuk-checkboxes" id="box2">
</form>
</div>

<script>
function hello()
{
//alert("yay");
if(box1.checked == true)
{
//alert("yay2");
box2.value = "box2";
document.write(box2.value + " checkbox checked");
}
else
{
//alert("yay m1");
box1.value = "box1";
document.write(box1.value + " checkbox not checked");
}
}
</script>

<form method="get">
       <input type="radio" name="myRadio" value="1">( value 1)<br>
       <input type="radio" name="myRadio" value="2">( value 2)<br>
       <input type="radio" name="myRadio" value="3">( value 3)<br>
       <input type="submit" value="submit">
   </form>


</html>
