{% extends "drs-layout.html" %}

{% block content %}

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-three-quarters">




  <form method="post" action="summary">

    <div class="govuk-form-group">
    <fieldset class="govuk-fieldset" aria-describedby="contact-hint">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
        <h1 class="govuk-fieldset__heading">
          Select which titles the application only affects part of <br><br>
        </h1>
      </legend>

      <div class="govuk-checkboxes" data-module="govuk-checkboxes">

        <div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="title1" name="title1" type="checkbox" value="title1" data-aria-controls="conditional-contact">
          <label class="govuk-label govuk-checkboxes__label" for="title1">
            ABC123
          </label>
        </div>
        <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="conditional-contact">
          <div class="govuk-form-group">
            <label class="govuk-label" for="part-details-1">
              Describe the part(s) affected
            </label>
            <div id="contact-hint" class="govuk-hint">
              For example 'edged red on the plan to the transfer dated DD/MM/YYYY'
            </div>
            <textarea class="govuk-textarea govuk-!-width-two-thirds" id="part-details-1" name="part-details-1" type="text" rows="5" spellcheck="false"></textarea></div>
        </div>

        <div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="title2" name="title2" type="checkbox" value="title2" data-aria-controls="conditional-contact-2">
          <label class="govuk-label govuk-checkboxes__label" for="title2">
            ABC456
          </label>
        </div>
        <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="conditional-contact-2">
          <div class="govuk-form-group">
            <label class="govuk-label" for="part-details-2">
              Describe the part(s) affected
            </label>
            <div id="contact-hint" class="govuk-hint">
              For example 'edged red on the plan to the transfer dated DD/MM/YYYY'
            </div>
            <textarea class="govuk-textarea govuk-!-width-two-thirds" id="part-details-2" name="part-details-2" type="text" rows="5" spellcheck="false"></textarea></div>
        </div>

        <div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="title3" name="title3" type="checkbox" value="title3" data-aria-controls="conditional-contact-3">
          <label class="govuk-label govuk-checkboxes__label" for="title3">
            ABC789
          </label>
        </div>
        <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="conditional-contact-3">
          <div class="govuk-form-group">
            <label class="govuk-label" for="part-details-3">
              Describe the part(s) affected
            </label>
            <div id="contact-hint" class="govuk-hint">
              For example 'edged red on the plan to the transfer dated DD/MM/YYYY'
            </div>
            <textarea class="govuk-textarea govuk-!-width-two-thirds" id="part-details-3" name="part-details-3" type="text" rows="5" spellcheck="false"></textarea></div>
        </div>





      </div>

    </fieldset>
  </div>



    {{ govukButton({
      text: "Continue",
      href:'titles-in-this-application.html'
    }) }}

  </form>
  </div>
  </div>

  <script type="application/json" id="title-form-validation">
   {
     "title": {
       "presence": {
         "message": "^Enter a title number"
       }
     }
   }
 </script>


{% endblock %}



{% block bodyEnd %}
  {% include "includes/scripts.html" %}
{% endblock %}
