{% extends "drs-layout.html" %}

{% block content %}
<style>
  .govuk-table__cell{
    vertical-align: middle;
  }
</style>
<div class="govuk-grid-row">


<div class="govuk-grid-column-full">
  <span class="govuk-caption-l"></span>


  <h1 class="govuk-heading-l">Total fee </h1>
  <p class="govuk-body"> Select 'Continue' to confirm all details are correct.</p>



    <table class="govuk-table govuk-!-margin-bottom-9" id="">

      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header" style="width:30%;">Transaction</th>
          <th scope="col" class="govuk-table__header" style="width:15%;">Priority</th>
          <th scope="col" class="govuk-table__header" style="width:30%;">Value or price paid</th>
          <th scope="col" class="govuk-table__header" style="width:15%;">Fee</th>
          <th scope="col" class="govuk-table__header">Options</th>
        </tr>
      </thead>

        <tbody class="govuk-table_body">
            <tr class="govuk-table_row" id="hidePI">
              <td class="govuk-table__cell">Discharge of charge</td>
              <td class="govuk-table__cell">1</td>
              <td class="govuk-table__cell">N/A</td>
              <td class="govuk-table__cell">£0</td>
              <td class="govuk-table__cell">N/A</td>
            </tr>

            <tr class="govuk-table_row" id="hidePI">
              <td class="govuk-table__cell">Transfer for value (TR1)</td>
              <td class="govuk-table__cell">2</td>
              <td class="govuk-table__cell">£200,000</td>
              <td class="govuk-table__cell">£95</td>
              <td class="govuk-table__cell"><a class="govuk-link" href="calculate-fees">Change</a></td>
            </tr>

            <tr class="govuk-table_row" id="hidePI" style="vertical-align: middle;">
              <td class="govuk-table__cell">Charge</td>
              <td class="govuk-table__cell">3</td>
              <td class="govuk-table__cell">£200,000</td>
              <td class="govuk-table__cell" style="vertical-align: middle;">£0</td>

              <td class="govuk-table__cell"><a class="govuk-link" href="calculate-fees">Change</a></td>
            </tr>
        </tbody>

      </table>

      <a class="govuk-link govuk-body" href="select-transactions">Add or change transactions</a><br>
  <br>
  <br>
  <h3 class="govuk-body" style="font-weight: bold">£95 will be taken by Direct Debit from account no 123456789</h3>





{{ govukButton({
classes: "govuk-!-margin-top-9",

text: "Continue",
href: "/enhancements/add-applicants"

}) }}

</div>
</div>
<footer>
<div class="govuk-grid-row">
<div class="govuk-grid-column-full">
<hr style= "height: 7px;  background: #b4d307 linear-gradient(-60deg,#b4d307,#b4d307 50%,#d7e900 0,#d7e900); border: none;">
<br>
<p class="govuk-body-s" style="color: #747B7F"> The following links open in a new window
<br>
<br>
<a href="#" style="color: #747B7F"> Terms and conditions</a> | <a href="/setup/accessibility-statement" target="_blank" rel="noopener noreferrer" style="color: #747B7F">Accessibility statement</a> |  <a href="#" style="color: #747B7F">Freedom of information</a> | <a href="#" style="color: #747B7F">© Crown copyright</a></p>
</div>
</div>
</footer>
</div>

<!-- <script>
  function RemoveTransfereeIndividual() {
  var x = document.getElementById("hidePI");
  if (x.style.display === "none") {
    x.style.display = "block";
  } else {
    x.style.display = "none";
  }
}


  function RemoveTransfereeUK() {
  var x = document.getElementById("hideUK");
  if (x.style.display === "none") {
    x.style.display = "block";
  } else {
    x.style.display = "none";
  }
}

</script> -->

{% endblock %}


{% block footer %}

{% endblock %}

{% block bodyEnd %}
  {% include "includes/scripts.html" %}
{% endblock %}
